In [296]:
import requests
import time
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

In [297]:
from sqlalchemy import create_engine, inspect

In [298]:
from datetime import timedelta

In [299]:
from patsy import dmatrices

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

In [133]:
from sklearn.metrics import roc_curve, auc

In [134]:
from sklearn.model_selection import train_test_split

In [135]:
from sklearn import pipeline, preprocessing

In [136]:
from sklearn.linear_model import LogisticRegression

In [137]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

In [138]:
from sklearn import naive_bayes
from sklearn.metrics import accuracy_score, classification_report

In [139]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [140]:
# Create_engine generally follows the format create_engine('postgresql://username:password@ip_address:port/dbname')
# For AWS RDS databases, the other info can be found under the instance description:
# username and password are defined on setup, ip_address = `Endpoint`, port = `5432`, and dbname = `DB Name`
cnx = create_engine('postgres://mcarolinag:password@startup.csnij2tssdck.us-west-2.rds.amazonaws.com:5432/startup', isolation_level='AUTOCOMMIT')

In [141]:
conn = cnx.connect()

In [142]:

adq=pd.read_csv('crunchbase-acquisitions.csv',encoding = "ISO-8859-1")

In [143]:
adq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6185 entries, 0 to 6184
Data columns (total 20 columns):
company_permalink         4651 non-null object
company_name              4651 non-null object
company_category_code     3933 non-null object
company_country_code      4651 non-null object
company_state_code        4543 non-null object
company_region            4651 non-null object
company_city              4532 non-null object
acquirer_permalink        4651 non-null object
acquirer_name             4651 non-null object
acquirer_category_code    4137 non-null object
acquirer_country_code     4384 non-null object
acquirer_state_code       3877 non-null object
acquirer_region           4651 non-null object
acquirer_city             4262 non-null object
acquired_at               4651 non-null object
acquired_month            4651 non-null object
acquired_quarter          4651 non-null object
acquired_year             4651 non-null float64
price_amount              1409 non-null float64
price_currency_code       4648 non-null object
dtypes: float64(2), object(18)
memory usage: 966.5+ KB

In [144]:

comp=pd.read_csv('crunchbase-companies.csv',encoding = "ISO-8859-1")

In [145]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 17 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null object
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 2.3+ MB

In [146]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 17 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null object
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 2.3+ MB

In [147]:
comp2=comp

In [148]:
comp2['founded_at']=pd.to_datetime(comp2['founded_at'])

In [149]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 17 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null datetime64[ns]
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.3+ MB

In [150]:
reft='2013-10-01 00:00:00'

In [151]:
reft=pd.Series({'reft':reft})

In [152]:
reft=pd.to_datetime(reft)

In [153]:
reft[0]

Timestamp('2013-10-01 00:00:00')

In [154]:
comp2['founded_at'][0]

Timestamp('2012-06-01 00:00:00')

In [155]:
comp2['days_in_op']=reft[0]-comp2['founded_at']

In [156]:
comp2[['days_in_op','founded_at']]

      days_in_op founded_at
0       487 days 2012-06-01
1       639 days 2012-01-01
2       722 days 2011-10-10
3            NaT        NaT
4     10135 days 1986-01-01
5      4656 days 2001-01-01
6      1188 days 2010-07-01
7            NaT        NaT
8       746 days 2011-09-16
9      5022 days 2000-01-01
10     1644 days 2009-04-01
11      639 days 2012-01-01
12     1369 days 2010-01-01
13           NaT        NaT
14      725 days 2011-10-07
15      639 days 2012-01-01
16     2465 days 2007-01-01
17     1359 days 2010-01-11
18     1369 days 2010-01-01
19      884 days 2011-05-01
20     1600 days 2009-05-15
21     8674 days 1990-01-01
22     2679 days 2006-06-01
23     1919 days 2008-06-30
24           NaT        NaT
25      731 days 2011-10-01
26     4656 days 2001-01-01
27      670 days 2011-12-01
28     2100 days 2008-01-01
29      426 days 2012-08-01
...          ...        ...
17697   670 days 2011-12-01
17698        NaT        NaT
17699  1461 days 2009-10-01
17700   581 days 2012-02-28
17701  4656 days 2001-01-01
17702  2557 days 2006-10-01
17703  2625 days 2006-07-25
17704  2345 days 2007-05-01
17705  2406 days 2007-03-01
17706   639 days 2012-01-01
17707  2465 days 2007-01-01
17708        NaT        NaT
17709        NaT        NaT
17710  1369 days 2010-01-01
17711  1635 days 2009-04-10
17712  3136 days 2005-03-01
17713  1734 days 2009-01-01
17714  1004 days 2011-01-01
17715        NaT        NaT
17716        NaT        NaT
17717  2531 days 2006-10-27
17718  3561 days 2004-01-01
17719  2830 days 2006-01-01
17720  2284 days 2007-07-01
17721  2100 days 2008-01-01
17722        NaT        NaT
17723  1004 days 2011-01-01
17724        NaT        NaT
17725  5387 days 1999-01-01
17726   273 days 2013-01-01

[17727 rows x 2 columns]

In [157]:
comp2['days_in_op'][0]

Timedelta('487 days 00:00:00')

In [158]:
5*365

1825

In [159]:
comp2[comp2['days_in_op']>'1825 days 00:00:00']

,permalink,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,last_milestone_at,days_in_op
4,/company/1-800-dentist,1-800-DENTIST,health,NaN,operating,USA,CA,Los Angeles,Los Angeles,1,1986-01-01,1986-01,1986-Q1,1986.0,2010-08-19,2010-08-19,2010-08-19,10135 days
5,/company/10-20-media,10-20 Media,ecommerce,750000,operating,USA,MD,Washington DC,Woodbine,2,2001-01-01,2001-01,2001-Q1,2001.0,2010-03-30,2011-12-28,NaN,4656 days
9,/company/1010data,1010data,software,35000000,operating,USA,NY,New York,New York,1,2000-01-01,2000-01,2000-Q1,2000.0,2010-03-08,2010-03-08,2012-01-01,5022 days
16,/company/1366-technologies,1366 Technologies,manufacturing,48950000,operating,USA,MA,Boston,Lexington,6,2007-01-01,2007-01,2007-Q1,2007.0,2008-03-27,2011-02-07,2011-06-17,2465 days
21,/company/170-systems,170 Systems,software,14000000,acquired,USA,MA,Boston,Bedford,1,1990-01-01,1990-01,1990-Q1,1990.0,2002-04-16,2002-04-16,2003-01-01,8674 days
22,/company/1cast,1Cast,games_video,NaN,operating,USA,WA,Seattle,Kirkland,1,2006-06-01,2006-06,2006-Q2,2006.0,2008-08-12,2008-08-12,2009-06-01,2679 days
23,/company/1daymakeover,1DayMakeover,ecommerce,50000,operating,USA,CA,Los Angeles,Santa Ana,1,2008-06-30,2008-06,2008-Q2,2008.0,2008-06-30,2008-06-30,NaN,1919 days
26,/company/1stdibs,1stdibs,ecommerce,42000000,operating,USA,NY,New York,New York,3,2001-01-01,2001-01,2001-Q1,2001.0,2011-11-03,2012-12-03,2011-11-01,4656 days
28,/company/2080-media,2080 Media,news,40100000,operating,USA,GA,Atlanta,Atlanta,5,2008-01-01,2008-01,2008-Q1,2008.0,2010-08-05,2013-07-19,NaN,2100 days
30,/company/20x200,20x200,ecommerce,2800000,operating,USA,NY,New York,New York,2,2007-09-01,2007-09,2007-Q3,2007.0,2009-10-01,2010-08-01,2012-10-01,2222 days
31,/company/22nd-century-group,22nd Century Group,biotech,4951950,ipo,USA,NY,Clarence,Clarence,4,1998-01-01,1998-01,1998-Q1,1998.0,2011-12-28,2013-02-06,2013-07-24,5752 days
32,/company/23andme,23andMe,biotech,160549892,operating,USA,CA,SF Bay,Mountain View,6,2006-04-01,2006-04,2006-Q2,2006.0,2007-05-01,2012-12-21,2012-09-17,2740 days
40,/company/2go-software-solutions,2GO Mobile Solutions,software,825000,operating,USA,TX,Dallas,Plano,1,2008-01-01,2008-01,2008-Q1,2008.0,2010-01-09,2010-01-09,2009-08-01,2100 days
41,/company/2nd-story-software-inc,"2nd Story Software, Inc.",software,85000000,acquired,USA,IA,Cedar Rapids,Cedar Rapids,1,1998-02-15,1998-02,1998-Q1,1998.0,2005-03-30,2005-03-30,NaN,5707 days
44,/company/2u,2U,education,90775000,operating,USA,MD,Washington DC,Landover,5,2008-01-01,2008-01,2008-Q1,2008.0,2009-03-25,2012-04-02,2012-11-15,2100 days
45,/company/3-v-biosciences,3-V Biosciences,biotech,70000000,operating,USA,CA,SF Bay,Palo Alto,3,2007-03-01,2007-03,2007-Q1,2007.0,2009-07-10,2013-06-21,2012-01-01,2406 days
47,/company/33across,33Across,advertising,24134560,operating,USA,NY,New York,New York,4,2007-09-01,2007-09,2007-Q3,2007.0,2009-03-13,2012-07-19,2013-09-03,2222 days
48,/company/360imaging,360imaging,biotech,5500000,operating,USA,GA,Atlanta,Atlanta,2,2005-01-01,2005-01,2005-Q1,2005.0,2005-01-01,2010-01-01,NaN,3195 days
50,/company/37signals,37signals,public_relations,NaN,operating,USA,IL,Chicago,Chicago,1,1999-01-01,1999-01,1999-Q1,1999.0,2006-07-01,2006-07-01,2013-02-08,5387 days
57,/company/3d-systems,3D Systems,software,4144131,ipo,USA,SC,Rock Hill,Rock Hill,2,1986-01-01,1986-01,1986-Q1,1986.0,2010-01-13,2012-06-07,2013-06-26,10135 days
59,/company/3dcart-shopping-cart-software,3dCart Shopping Cart Software,ecommerce,1250000,operating,USA,FL,Fort Lauderdale,Lauderhill,1,1997-05-01,1997-05,1997-Q2,1997.0,2010-01-01,2010-01-01,2004-04-01,5997 days
63,/company/3guppies,3Guppies,games_video,20000000,operating,USA,WA,Seattle,Seattle,1,2003-01-01,2003-01,2003-Q1,2003.0,2006-04-05,2006-04-05,NaN,3926 days
64,/company/3jam,3Jam,mobile,4000000,operating,USA,CA,SF Bay,San Francisco,1,2005-01-01,2005-01,2005-Q1,2005.0,2007-07-01,2007-07-01,2009-12-21,3195 days
65,/company/3leaf,3Leaf,software,65000000,operating,USA,CA,SF Bay,Santa Clara,3,2004-06-01,2004-06,2004-Q2,2004.0,2007-04-30,2008-09-22,2007-08-01,3409 days
66,/company/three-pillar-global,3Pillar Global,software,22520000,operating,USA,VA,Washington DC,Fairfax,3,2006-08-01,2006-08,2006-Q3,2006.0,2010-04-21,2013-06-06,2013-03-01,2618 days
67,/company/3play-media,3Play Media,software,961601,operating,USA,MA,Boston,Cambridge,2,2007-01-01,2007-01,2007-Q1,2007.0,2010-02-08,2011-06-21,2007-01-01,2465 days
70,/company/3tier-environmental-forecast-group,3TIER,cleantech,15000000,operating,USA,WA,Seattle,Seattle,3,1999-01-01,1999-01,1999-Q1,1999.0,2007-09-05,2010-02-25,NaN,5387 days
71,/company/3vr-security,3VR,security,53000000,operating,USA,CA,SF Bay,San Francisco,5,2002-01-01,2002-01,2002-Q1,2002.0,2006-01-17,2010-12-21,2012-08-01,4291 days
73,/company/40billion-com,40billion.com,social,1050000,operating,USA,GA,Atlanta,Atlanta,3,2008-01-23,2008-01,2008-Q1,2008.0,2008-04-01,2010-06-01,2008-01-01,2078 days
75,/company/41st-parameter,41st Parameter,security,38064570,operating,USA,CA,SF Bay,San Jose,4,2004-01-01,2004-01,2004-Q1,2004.0,2006-05-08,2012-04-11,2012-04-12,3561 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17668,/company/zoominfo,ZoomInfo,search,7000000,operating,USA,MA,Boston,Waltham,1,2000-02-01,2000-02,2000-Q1,2000.0,2004-07-01,2004-07-01,NaN,4991 days
17669,/company/zoomingo,Zoomingo,ecommerce,2025000,operating,USA,MA,Boston,Waltham,3,2000-01-01,2000-01,2000-Q1,2000.0,2011-11-14,2013-06-23,2012-04-09,5022 days
17672,/company/zoomsystems,ZoomSystems,hardware,87000000,operating,USA,CA,SF Bay,San Francisco,5,2002-01-01,2002-01,2002-Q1,2002.0,2005-07-19,2010-01-14,2010-09-01,4291 days
17675,/company/zooomr,Zooomr,web,50000,operating,USA,CA,SF Bay,San Francisco,1,2006-03-01,2006-03,2006-Q1,2006.0,2006-02-01,2006-02-01,NaN,2771 days
17676,/company/zooppa,Zooppa,advertising,NaN,operating,USA,WA,Seattle,Seattle,1,2007-01-01,2007-01,2007-Q1,2007.0,2007-02-01,2007-02-01,2013-01-03,2465 days
17678,/company/zoosk,Zoosk,social,61600000,operating,USA,CA,SF Bay,San Francisco,5,2007-11-01,2007-11,2007-Q4,2007.0,2007-11-01,2012-01-01,2012-11-01,2161 days
17679,/company/zoove,Zoove,mobile,54800000,operating,USA,NY,SF Bay,Palo Alto,5,2004-03-01,2004-03,2004-Q1,2004.0,2006-06-20,2013-05-14,2013-04-01,3501 days
17680,/company/zorap,Zorap,web,2251000,closed,USA,ME,Falmouth,Falmouth,2,2008-04-21,2008-04,2008-Q2,2008.0,2009-11-01,2010-10-18,2010-10-18,1989 days
17681,/company/zosano-pharma,Zosano Pharma,biotech,124705630,operating,USA,CA,SF Bay,Fremont,3,2006-10-01,2006-10,2006-Q4,2006.0,2007-11-15,2011-09-23,NaN,2557 days
17682,/company/zounds,Zounds,biotech,29377000,operating,USA,AZ,Phoenix,Phoenix,2,2005-01-01,2005-01,2005-Q1,2005.0,2007-02-14,2011-11-09,2013-05-16,3195 days
17683,/company/zozi,zozi,ecommerce,21300000,operating,USA,CA,SF Bay,San Francisco,4,2007-01-01,2007-01,2007-Q1,2007.0,2008-08-01,2013-04-04,2013-08-07,2465 days
17685,/company/zs-genetics,ZS Genetics,biotech,923000,operating,USA,MA,Boston,Wakefield,2,2005-01-01,2005-01,2005-Q1,2005.0,2012-01-06,2012-01-06,2013-07-09,3195 days
17686,/company/zs-pharma,ZS Pharma,biotech,55610000,operating,USA,TX,Dallas,Fort Worth,3,2008-01-01,2008-01,2008-Q1,2008.0,2011-12-12,2012-10-23,NaN,2100 days
17687,/company/zscaler,Zscaler,security,38000000,operating,USA,CA,SF Bay,San Jose,1,2007-01-01,2007-01,2007-Q1,2007.0,2012-08-30,2012-08-30,2012-08-30,2465 days
17688,/company/ztail,Ztail,ecommerce,1500000,operating,USA,CA,SF Bay,Palo Alto,2,2005-01-01,2005-01,2005-Q1,2005.0,NaN,NaN,2010-02-26,3195 days
17689,/company/zuberance,Zuberance,advertising,12000000,operating,USA,CA,SF Bay,San Carlos,2,2007-02-01,2007-02,2007-Q1,2007.0,2008-11-24,2010-10-26,2012-08-10,2434 days
17690,/company/zubican,Zubican,search,NaN,acquired,USA,CA,Santa Barbara,Moorpark,1,2006-12-01,2006-12,2006-Q4,2006.0,2008-05-01,2008-05-01,2006-12-01,2496 days
17701,/company/zumba-fitness,Zumba Fitness,health,NaN,operating,USA,FL,Hallandale,Hallandale,1,2001-01-01,2001-01,2001-Q1,2001.0,2012-03-08,2012-03-08,NaN,4656 days
17702,/company/zumbox,Zumbox,web,28300000,operating,USA,CA,Los Angeles,Los Angeles,6,2006-10-01,2006-10,2006-Q4,2006.0,2008-03-20,2012-07-10,2012-12-01,2557 days
17703,/company/zume-life,Zume Life,mobile,1700000,operating,USA,CA,SF Bay,San Jose,2,2006-07-25,2006-07,2006-Q3,2006.0,2007-01-01,2008-04-01,NaN,2625 days
17704,/company/zumeo-com,Zumeo.com,web,100000,operating,USA,OR,Medford,Medford,1,2007-05-01,2007-05,2007-Q2,2007.0,2009-01-29,2009-01-29,2009-02-06,2345 days
17705,/company/zumobi,Zumobi,mobile,12000000,operating,USA,WA,Seattle,Seattle,1,2007-03-01,2007-03,2007-Q1,2007.0,2007-05-07,2007-05-07,2011-12-17,2406 days
17707,/company/zuora,Zuora,software,127500000,operating,USA,CA,SF Bay,Foster City,5,2007-01-01,2007-01,2007-Q1,2007.0,2008-03-13,2013-09-05,2013-09-05,2465 days
17712,/company/zvents,Zvents,web,31200000,acquired,USA,CA,SF Bay,San Mateo,3,2005-03-01,2005-03,2005-Q1,2005.0,2005-10-05,2008-09-30,2012-09-11,3136 days
17717,/company/zykis,Zykis,public_relations,800000,operating,USA,CA,Los Angeles,Irvine,1,2006-10-27,2006-10,2006-Q4,2006.0,2006-10-27,2006-10-27,NaN,2531 days
17718,/company/zyme-solutions,Zyme Solutions,hardware,8040000,operating,USA,CA,SF Bay,Redwood Shores,3,2004-01-01,2004-01,2004-Q1,2004.0,2005-09-12,2013-05-20,2013-04-01,3561 days
17719,/company/zymetis,Zymetis,biotech,2257464,operating,USA,MD,Washington DC,College Park,2,2006-01-01,2006-01,2006-Q1,2006.0,2010-01-11,2010-01-31,NaN,2830 days
17720,/company/zynga,Zynga,games_video,860213000,ipo,USA,CA,SF Bay,San Francisco,8,2007-07-01,2007-07,2007-Q3,2007.0,2007-01-01,2011-02-18,2013-09-30,2284 days
17721,/company/zyngenia,Zyngenia,biotech,25000000,operating,USA,MD,Washington DC,Gaithersburg,1,2008-01-01,2008-01,2008-Q1,2008.0,2010-09-09,2010-09-09,NaN,2100 days
17725,/company/x,[x+1],enterprise,45000000,operating,USA,NY,New York,New York,4,1999-01-01,1999-01,1999-Q1,1999.0,2008-06-01,2013-04-04,2012-08-15,5387 days

In [160]:
comp2['first_funding_at']=pd.to_datetime(comp2['first_funding_at'])

In [161]:
comp2['last_funding_at']=pd.to_datetime(comp2['last_funding_at'])

In [162]:
comp2['first_funding_dayinop']=comp2['first_funding_at']-comp2['founded_at']

In [163]:
comp2['last_funding_dayinop']=comp2['last_funding_at']-comp2['founded_at']

In [164]:
comp2.drop_duplicates(inplace=True)

In [165]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17727 entries, 0 to 17726
Data columns (total 20 columns):
permalink                17727 non-null object
name                     17727 non-null object
category_code            17328 non-null object
funding_total_usd        16222 non-null object
status                   17727 non-null object
country_code             17727 non-null object
state_code               17480 non-null object
region                   17727 non-null object
city                     17462 non-null object
funding_rounds           17727 non-null int64
founded_at               13676 non-null datetime64[ns]
founded_month            13676 non-null object
founded_quarter          13676 non-null object
founded_year             13676 non-null float64
first_funding_at         17622 non-null datetime64[ns]
last_funding_at          17622 non-null datetime64[ns]
last_milestone_at        10528 non-null object
days_in_op               13676 non-null timedelta64[ns]
first_funding_dayinop    13587 non-null timedelta64[ns]
last_funding_dayinop     13587 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(12), timedelta64[ns](3)
memory usage: 2.8+ MB

In [166]:
comp2.dropna(inplace=True)

In [167]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 17725
Data columns (total 20 columns):
permalink                8048 non-null object
name                     8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(12), timedelta64[ns](3)
memory usage: 1.3+ MB

In [168]:
comp2

,permalink,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,last_milestone_at,days_in_op,first_funding_dayinop,last_funding_dayinop
0,/company/waywire,#waywire,news,1750000,operating,USA,NY,New York,New York,1,2012-06-01,2012-06,2012-Q2,2012.0,2012-06-30,2012-06-30,2013-09-06,487 days,29 days,29 days
6,/company/1000memories,1000memories,web,2535000,acquired,USA,CA,SF Bay,San Francisco,2,2010-07-01,2010-07,2010-Q3,2010.0,2010-01-01,2011-02-16,2013-07-04,1188 days,-181 days,230 days
8,/company/100plus,100Plus,analytics,1250000,acquired,USA,CA,SF Bay,San Francisco,2,2011-09-16,2011-09,2011-Q3,2011.0,2011-11-02,2011-11-30,2013-02-27,746 days,47 days,75 days
9,/company/1010data,1010data,software,35000000,operating,USA,NY,New York,New York,1,2000-01-01,2000-01,2000-Q1,2000.0,2010-03-08,2010-03-08,2012-01-01,5022 days,3719 days,3719 days
14,/company/121nexus,121nexus,software,719000,operating,USA,RI,Providence,Providence,4,2011-10-07,2011-10,2011-Q4,2011.0,2012-02-06,2013-07-01,2012-04-27,725 days,122 days,633 days
16,/company/1366-technologies,1366 Technologies,manufacturing,48950000,operating,USA,MA,Boston,Lexington,6,2007-01-01,2007-01,2007-Q1,2007.0,2008-03-27,2011-02-07,2011-06-17,2465 days,451 days,1498 days
17,/company/140-proof,140 Proof,advertising,5500000,operating,USA,CA,SF Bay,San Francisco,2,2010-01-11,2010-01,2010-Q1,2010.0,2009-07-01,2011-04-28,2013-01-24,1359 days,-194 days,472 days
18,/company/140fire,140Fire,advertising,500000,operating,USA,CA,Los Angeles,Santa Monica,1,2010-01-01,2010-01,2010-Q1,2010.0,2010-05-05,2010-05-05,2011-02-24,1369 days,124 days,124 days
19,/company/15five,15Five,software,1200000,operating,USA,CA,SF Bay,San Francisco,2,2011-05-01,2011-05,2011-Q2,2011.0,2012-01-01,2013-01-15,2013-09-19,884 days,245 days,625 days
20,/company/169-st,169 ST.,games_video,50000,operating,USA,FL,Orlando,Lake Mary,1,2009-05-15,2009-05,2009-Q2,2009.0,2009-06-01,2009-06-01,2009-05-01,1600 days,17 days,17 days
21,/company/170-systems,170 Systems,software,14000000,acquired,USA,MA,Boston,Bedford,1,1990-01-01,1990-01,1990-Q1,1990.0,2002-04-16,2002-04-16,2003-01-01,8674 days,4488 days,4488 days
26,/company/1stdibs,1stdibs,ecommerce,42000000,operating,USA,NY,New York,New York,3,2001-01-01,2001-01,2001-Q1,2001.0,2011-11-03,2012-12-03,2011-11-01,4656 days,3958 days,4354 days
27,/company/1world-online,1World Online,enterprise,1000000,operating,USA,CA,SF Bay,San Jose,1,2011-12-01,2011-12,2011-Q4,2011.0,2013-07-02,2013-07-02,2013-07-01,670 days,579 days,579 days
29,/company/20jeans,20JEANS,ecommerce,1000000,operating,USA,CA,Los Angeles,Los Angeles,2,2012-08-01,2012-08,2012-Q3,2012.0,2013-02-01,2013-04-18,2012-08-01,426 days,184 days,260 days
30,/company/20x200,20x200,ecommerce,2800000,operating,USA,NY,New York,New York,2,2007-09-01,2007-09,2007-Q3,2007.0,2009-10-01,2010-08-01,2012-10-01,2222 days,761 days,1065 days
31,/company/22nd-century-group,22nd Century Group,biotech,4951950,ipo,USA,NY,Clarence,Clarence,4,1998-01-01,1998-01,1998-Q1,1998.0,2011-12-28,2013-02-06,2013-07-24,5752 days,5109 days,5515 days
32,/company/23andme,23andMe,biotech,160549892,operating,USA,CA,SF Bay,Mountain View,6,2006-04-01,2006-04,2006-Q2,2006.0,2007-05-01,2012-12-21,2012-09-17,2740 days,395 days,2456 days
37,/company/250ok,250ok,software,200000,operating,USA,IN,Indianapolis,Indianapolis,1,2012-01-01,2012-01,2012-Q1,2012.0,2012-09-01,2012-09-01,2012-05-01,639 days,244 days,244 days
39,/company/27-perry,27 Perry,ecommerce,118000,closed,USA,CO,Denver,Boulder,1,2012-07-25,2012-07,2012-Q3,2012.0,2012-05-17,2012-05-17,2012-07-25,433 days,-69 days,-69 days
40,/company/2go-software-solutions,2GO Mobile Solutions,software,825000,operating,USA,TX,Dallas,Plano,1,2008-01-01,2008-01,2008-Q1,2008.0,2010-01-09,2010-01-09,2009-08-01,2100 days,739 days,739 days
44,/company/2u,2U,education,90775000,operating,USA,MD,Washington DC,Landover,5,2008-01-01,2008-01,2008-Q1,2008.0,2009-03-25,2012-04-02,2012-11-15,2100 days,449 days,1553 days
45,/company/3-v-biosciences,3-V Biosciences,biotech,70000000,operating,USA,CA,SF Bay,Palo Alto,3,2007-03-01,2007-03,2007-Q1,2007.0,2009-07-10,2013-06-21,2012-01-01,2406 days,862 days,2304 days
46,/company/30-second-showcase,30 Second Showcase,software,25000,operating,USA,NJ,New York,Clifton,1,2013-04-01,2013-04,2013-Q2,2013.0,2013-05-20,2013-05-20,2013-05-20,183 days,49 days,49 days
47,/company/33across,33Across,advertising,24134560,operating,USA,NY,New York,New York,4,2007-09-01,2007-09,2007-Q3,2007.0,2009-03-13,2012-07-19,2013-09-03,2222 days,559 days,1783 days
52,/company/3clickemr-corporation,3ClickEMR Corporation,software,500000,closed,USA,MA,Boston,West Roxbury,2,2010-06-23,2010-06,2010-Q2,2010.0,2010-06-23,2011-06-01,2010-06-23,1196 days,0 days,343 days
57,/company/3d-systems,3D Systems,software,4144131,ipo,USA,SC,Rock Hill,Rock Hill,2,1986-01-01,1986-01,1986-Q1,1986.0,2010-01-13,2012-06-07,2013-06-26,10135 days,8778 days,9654 days
59,/company/3dcart-shopping-cart-software,3dCart Shopping Cart Software,ecommerce,1250000,operating,USA,FL,Fort Lauderdale,Lauderhill,1,1997-05-01,1997-05,1997-Q2,1997.0,2010-01-01,2010-01-01,2004-04-01,5997 days,4628 days,4628 days
62,/company/3gear-systems,3Gear Systems,software,349999,operating,USA,CA,SF Bay,San Francisco,1,2010-01-01,2010-01,2010-Q1,2010.0,2012-03-30,2012-03-30,2012-01-01,1369 days,819 days,819 days
64,/company/3jam,3Jam,mobile,4000000,operating,USA,CA,SF Bay,San Francisco,1,2005-01-01,2005-01,2005-Q1,2005.0,2007-07-01,2007-07-01,2009-12-21,3195 days,911 days,911 days
65,/company/3leaf,3Leaf,software,65000000,operating,USA,CA,SF Bay,Santa Clara,3,2004-06-01,2004-06,2004-Q2,2004.0,2007-04-30,2008-09-22,2007-08-01,3409 days,1063 days,1574 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17662,/company/zoodles,Zoodles,games_video,2600000,operating,USA,CA,SF Bay,Mountain View,1,2008-01-01,2008-01,2008-Q1,2008.0,2010-05-12,2010-05-12,2012-01-01,2100 days,862 days,862 days
17663,/company/zoom-media-marketing,Zoom Media & Marketing - United States,advertising,30000000,operating,USA,NY,New York,New York,1,1991-01-01,1991-01,1991-Q1,1991.0,2009-03-01,2009-03-01,2010-08-01,8309 days,6634 days,6634 days
17665,/company/zoom-video-communications,Zoom Video Communications,enterprise,15500000,operating,USA,CA,SF Bay,Santa Clara,3,2011-06-01,2011-06,2011-Q2,2011.0,2011-06-01,2013-09-24,2013-09-24,853 days,0 days,846 days
17669,/company/zoomingo,Zoomingo,ecommerce,2025000,operating,USA,MA,Boston,Waltham,3,2000-01-01,2000-01,2000-Q1,2000.0,2011-11-14,2013-06-23,2012-04-09,5022 days,4335 days,4922 days
17670,/company/zoomph,Zoomph,analytics,500000,operating,USA,VA,Washington DC,Reston,1,2011-01-01,2011-01,2011-Q1,2011.0,2012-01-01,2012-01-01,2013-05-20,1004 days,365 days,365 days
17671,/company/zoomsafer,ZoomSafer,mobile,3350000,operating,USA,VA,Washington DC,Herndon,4,2009-01-01,2009-01,2009-Q1,2009.0,2009-03-01,2011-03-07,2011-03-07,1734 days,59 days,795 days
17672,/company/zoomsystems,ZoomSystems,hardware,87000000,operating,USA,CA,SF Bay,San Francisco,5,2002-01-01,2002-01,2002-Q1,2002.0,2005-07-19,2010-01-14,2010-09-01,4291 days,1295 days,2935 days
17678,/company/zoosk,Zoosk,social,61600000,operating,USA,CA,SF Bay,San Francisco,5,2007-11-01,2007-11,2007-Q4,2007.0,2007-11-01,2012-01-01,2012-11-01,2161 days,0 days,1522 days
17679,/company/zoove,Zoove,mobile,54800000,operating,USA,NY,SF Bay,Palo Alto,5,2004-03-01,2004-03,2004-Q1,2004.0,2006-06-20,2013-05-14,2013-04-01,3501 days,841 days,3361 days
17680,/company/zorap,Zorap,web,2251000,closed,USA,ME,Falmouth,Falmouth,2,2008-04-21,2008-04,2008-Q2,2008.0,2009-11-01,2010-10-18,2010-10-18,1989 days,559 days,910 days
17682,/company/zounds,Zounds,biotech,29377000,operating,USA,AZ,Phoenix,Phoenix,2,2005-01-01,2005-01,2005-Q1,2005.0,2007-02-14,2011-11-09,2013-05-16,3195 days,774 days,2503 days
17683,/company/zozi,zozi,ecommerce,21300000,operating,USA,CA,SF Bay,San Francisco,4,2007-01-01,2007-01,2007-Q1,2007.0,2008-08-01,2013-04-04,2013-08-07,2465 days,578 days,2285 days
17685,/company/zs-genetics,ZS Genetics,biotech,923000,operating,USA,MA,Boston,Wakefield,2,2005-01-01,2005-01,2005-Q1,2005.0,2012-01-06,2012-01-06,2013-07-09,3195 days,2561 days,2561 days
17687,/company/zscaler,Zscaler,security,38000000,operating,USA,CA,SF Bay,San Jose,1,2007-01-01,2007-01,2007-Q1,2007.0,2012-08-30,2012-08-30,2012-08-30,2465 days,2068 days,2068 days
17689,/company/zuberance,Zuberance,advertising,12000000,operating,USA,CA,SF Bay,San Carlos,2,2007-02-01,2007-02,2007-Q1,2007.0,2008-11-24,2010-10-26,2012-08-10,2434 days,662 days,1363 days
17691,/company/zubie,Zubie,hardware,8000000,operating,USA,SC,unknown,Sullivans Island,2,2012-05-01,2012-05,2012-Q2,2012.0,2012-05-01,2013-09-16,2013-03-20,518 days,0 days,503 days
17694,/company/zula,Zula,mobile,1000000,operating,USA,NY,New York,New York,1,2012-03-01,2012-03,2012-Q1,2012.0,2013-05-22,2013-05-22,2013-07-11,579 days,447 days,447 days
17696,/company/zulama,Zulama,education,200000,operating,USA,PA,Pittsburg,Pittsburgh,1,2009-01-01,2009-01,2009-Q1,2009.0,2013-02-02,2013-02-02,2009-01-01,1734 days,1493 days,1493 days
17697,/company/zuldi,Zuldi,mobile,20000,operating,USA,NV,Las Vegas,Las Vegas,1,2011-12-01,2011-12,2011-Q4,2011.0,2013-06-12,2013-06-12,2013-05-30,670 days,559 days,559 days
17699,/company/zulily,zulily,ecommerce,138600000,operating,USA,WA,Seattle,Seattle,4,2009-10-01,2009-10,2009-Q4,2009.0,2009-12-17,2012-11-15,2012-07-17,1461 days,77 days,1141 days
17700,/company/zulu,Zulu,software,1070000,operating,USA,CA,SF Bay,San Jose,2,2012-02-28,2012-02,2012-Q1,2012.0,2012-08-01,2013-03-26,2012-11-01,581 days,155 days,392 days
17702,/company/zumbox,Zumbox,web,28300000,operating,USA,CA,Los Angeles,Los Angeles,6,2006-10-01,2006-10,2006-Q4,2006.0,2008-03-20,2012-07-10,2012-12-01,2557 days,536 days,2109 days
17704,/company/zumeo-com,Zumeo.com,web,100000,operating,USA,OR,Medford,Medford,1,2007-05-01,2007-05,2007-Q2,2007.0,2009-01-29,2009-01-29,2009-02-06,2345 days,639 days,639 days
17705,/company/zumobi,Zumobi,mobile,12000000,operating,USA,WA,Seattle,Seattle,1,2007-03-01,2007-03,2007-Q1,2007.0,2007-05-07,2007-05-07,2011-12-17,2406 days,67 days,67 days
17706,/company/zumper,Zumper,real_estate,1700000,operating,USA,CA,SF Bay,San Francisco,1,2012-01-01,2012-01,2012-Q1,2012.0,2012-09-27,2012-09-27,2013-08-15,639 days,270 days,270 days
17707,/company/zuora,Zuora,software,127500000,operating,USA,CA,SF Bay,Foster City,5,2007-01-01,2007-01,2007-Q1,2007.0,2008-03-13,2013-09-05,2013-09-05,2465 days,437 days,2439 days
17712,/company/zvents,Zvents,web,31200000,acquired,USA,CA,SF Bay,San Mateo,3,2005-03-01,2005-03,2005-Q1,2005.0,2005-10-05,2008-09-30,2012-09-11,3136 days,218 days,1309 days
17718,/company/zyme-solutions,Zyme Solutions,hardware,8040000,operating,USA,CA,SF Bay,Redwood Shores,3,2004-01-01,2004-01,2004-Q1,2004.0,2005-09-12,2013-05-20,2013-04-01,3561 days,620 days,3427 days
17720,/company/zynga,Zynga,games_video,860213000,ipo,USA,CA,SF Bay,San Francisco,8,2007-07-01,2007-07,2007-Q3,2007.0,2007-01-01,2011-02-18,2013-09-30,2284 days,-181 days,1328 days
17725,/company/x,[x+1],enterprise,45000000,operating,USA,NY,New York,New York,4,1999-01-01,1999-01,1999-Q1,1999.0,2008-06-01,2013-04-04,2012-08-15,5387 days,3439 days,5207 days

In [169]:

invs=pd.read_csv('crunchbase-investments.csv',encoding = "ISO-8859-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [170]:
invs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB

In [171]:
invs

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0
5,/company/tackk,Tackk,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-02-01,2012-02,2012-Q1,2012.0,20000.0
6,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-06-01,2012-06,2012-Q2,2012.0,20000.0
7,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-08-07,2012-08,2012-Q3,2012.0,70000.0
8,/company/toviefor,ToVieFor,ecommerce,USA,NY,New York,New York,/company/2010-nyu-stern-business-plan-competition,2010 NYU Stern Business Plan Competition,NaN,NaN,NaN,unknown,NaN,angel,2010-04-01,2010-04,2010-Q2,2010.0,75000.0
9,/company/ohk-labs,OHK Labs,sports,USA,FL,Palm Beach,Boca Raton,/company/22hundred-group,22Hundred Group,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,100000.0
10,/company/lovely,Lovely,real_estate,USA,CA,SF Bay,San Francisco,/company/3taps,3taps,web,USA,CA,SF Bay,San Francisco,series-a,2012-10-01,2012-10,2012-Q4,2012.0,2000000.0
11,/company/peertransfer,peerTransfer,finance,USA,MA,Boston,Boston,/company/500-hats,500 Hats,NaN,USA,CA,SF Bay,Palo Alto,angel,2010-10-28,2010-10,2010-Q4,2010.0,1100000.0
12,/company/spotdock,spotdock,web,USA,NY,New York,NYC,/company/9mmedia-llc,"9mmedia, LLC",NaN,NaN,NaN,unknown,NaN,angel,2012-01-10,2012-01,2012-Q1,2012.0,600000.0
13,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,series-a,2010-05-01,2010-05,2010-Q2,2010.0,189000000.0
14,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,venture,2011-02-22,2011-02,2011-Q1,2011.0,150000000.0
15,/company/metroflats-com,MetroFlats.com,travel,USA,NJ,Cedar Grove,Cedar Grove,/company/aa-investments,AA Investments,NaN,BMU,NaN,Bermuda - Other,NaN,angel,2010-08-18,2010-08,2010-Q3,2010.0,NaN
16,/company/mesocoat,MesoCoat,nanotech,USA,OH,Cleveland,Euclid,/company/abakan-inc,Abakan,cleantech,USA,FL,Miami,Miami,venture,2009-12-14,2009-12,2009-Q4,2009.0,NaN
17,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,series-b,2010-07-15,2010-07,2010-Q3,2010.0,106000000.0
18,/company/power-assure,Power Assure,network_hosting,USA,CA,SF Bay,Santa Clara,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-09-20,2010-09,2010-Q3,2010.0,1500000.0
19,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-12-21,2010-12,2010-Q4,2010.0,NaN
20,/company/ecotality,ECOtality,cleantech,USA,CA,SF Bay,San Francisco,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2011-01-09,2011-01,2011-Q1,2011.0,10000000.0
21,/company/evalve,Evalve,biotech,USA,CA,SF Bay,Menlo Park,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-c+,2007-11-27,2007-11,2007-Q4,2007.0,60000000.0
22,/company/ovalis,Ovalis,biotech,USA,CA,SF Bay,Mountain View,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-b,2007-01-30,2007-01,2007-Q1,2007.0,6600000.0
23,/company/alvine-pharmaceuticals,Alvine Pharmaceuticals,biotech,USA,CA,SF Bay,San Carlos,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,private-equity,2013-05-14,2013-05,2013-Q2,2013.0,70000000.0
24,/company/avaxia-biologics,Avaxia Biologics,biotech,USA,MA,Boston,Lexington,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-06-07,2013-06,2013-Q2,2013.0,11500000.0
25,/company/aurasense-therapeutics,AuraSense Therapeutics,biotech,USA,IL,Chicago,Evanston,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-07-31,2013-07,2013-Q3,2013.0,NaN
26,/company/librarything,LibraryThing,web,USA,ME,Portland,Portland,/company/abebooks,AbeBooks,web,CAN,NaN,Victoria,Victoria,series-a,2006-05-16,2006-05,2006-Q2,2006.0,NaN
27,/company/heliovolt,HelioVolt,cleantech,USA,TX,Austin,Austin,/company/abengoa-solar,Abengoa Solar,cleantech,ESP,NaN,Sevilla,Sevilla,series-b,2007-10-23,2007-10,2007-Q4,2007.0,101000000.0
28,/company/airband-communications-holdings,Airband Communications Holdings,mobile,USA,TX,Dallas,Dallas,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,venture,2011-08-11,2011-08,2011-Q3,2011.0,20000000.0
29,/company/xand,Xand,software,USA,NY,New York,Hawthorne,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,other,2013-09-12,2013-09,2013-Q3,2013.0,200000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,/company/meddik,Meddik,health,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012.0,750000.0
52841,/company/blue-apron,Blue Apron,hospitality,USA,NY,New York,Brooklyn,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013.0,3000000.0
52842,/company/chatid,ChatID,mobile,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,NaN
52843,/company/breakthrough-behavioral,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012.0,900000.0
52844,/company/plaid,Plaid,software,USA,CA,SF Bay,San Francisco,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013.0,2800000.0
52845,/company/pokitdok,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,/person/zach-zeitlin,Zach Zeitlin,NaN,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012.0,1300000.0
52846,/company/fitocracy,Fitocracy,web,USA,NY,New York,New York,/person/zachary-aarons,Zachary Aarons,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,250000.0
52847,/company/square,Square,mobile,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009.0,10000000.0
52848,/company/mixrank,MixRank,advertising,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011.0,1500000.0
52849,/company/socialcam,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012.0,NaN
52850,/company/nuzzel,Nuzzel,news,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012.0,1700000.0
52851,/company/thirdlove,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012.0,5600000.0
52852,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,300000.0
52853,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011.0,300000.0
52854,/company/verious,Verious,mobile,USA,CA,SF Bay,San Carlos,/person/zain-khan,Zain Khan,NaN,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011.0,800000.0
52855,/company/identified-com,Identified,analytics,USA,CA,SF Bay,San Francisco,/person/zao-yang,Zao Yang,NaN,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012.0,21000000.0
52856,/company/haulerdeals,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,/person/zaw-thet,Zaw Thet,NaN,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012.0,1250000.0
52857,/company/when-you-wish,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,/person/zelda-marzec,Zelda Marzec,NaN,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011.0,1500000.0
52858,/company/farmeron,Farmeron,analytics,USA,CA,SF Bay,Mountain View,/person/zeljko-mataija,Zeljko Mataija,NaN,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010.0,15000.0
52859,/company/theraclone-sciences,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,/person/zenyaku-kogyo,Zenyaku Kogyo,NaN,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013.0,8000000.0
52860,/company/simplegeo,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,/person/ziv-navoth,Ziv Navoth,NaN,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009.0,195000.0
52861,/company/open-me,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,/person/ziver-birg,Ziver Birg,NaN,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013.0,NaN
52862,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zod-nazem,Zod Nazem,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52863,/company/payoneer,Payoneer,other,USA,NY,New York,New York,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005.0,2000000.0
52864,/company/outbrain,Outbrain,web,USA,NY,New York,New York City,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009.0,12000000.0
52865,/company/garantia-data,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012.0,3800000.0
52866,/company/duda-mobile,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013.0,10300000.0
52867,/company/sitebrains,SiteBrains,software,USA,CA,SF Bay,San Francisco,/person/zohar-israel,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010.0,350000.0
52868,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zorba-lieberman,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52869,/company/smartthings,SmartThings,mobile,USA,DC,unknown,Minneapolis,/person/zorik-gordon,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012.0,3000000.0

In [172]:

rds=pd.read_csv('crunchbase-rounds.csv',encoding = "ISO-8859-1")

In [173]:
rds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31679 entries, 0 to 31678
Data columns (total 13 columns):
company_permalink        31679 non-null object
company_name             31679 non-null object
company_category_code    31215 non-null object
company_country_code     31679 non-null object
company_state_code       31334 non-null object
company_region           31679 non-null object
company_city             31329 non-null object
funding_round_type       31679 non-null object
funded_at                31679 non-null object
funded_month             31679 non-null object
funded_quarter           31679 non-null object
funded_year              31679 non-null int64
raised_amount_usd        29100 non-null float64
dtypes: float64(1), int64(1), object(11)
memory usage: 3.1+ MB

In [174]:
rds

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/waywire,#waywire,news,USA,NY,New York,New York,series-a,2012-06-30,2012-06,2012-Q2,2012,1750000.0
1,/company/n-plusn,#NAME?,software,USA,NY,New York,New York,angel,2012-08-29,2012-08,2012-Q3,2012,600000.0
2,/company/club-domains,.Club Domains,software,USA,FL,Fort Lauderdale,Oakland Park,series-b,2013-05-31,2013-05,2013-Q2,2013,7000000.0
3,/company/0xdata,0xdata,analytics,USA,CA,SF Bay,Mountain View,venture,2013-01-03,2013-01,2013-Q1,2013,1700000.0
4,/company/1-800-dentist,1-800-DENTIST,health,USA,CA,Los Angeles,Los Angeles,venture,2010-08-19,2010-08,2010-Q3,2010,NaN
5,/company/10-20-media,10-20 Media,ecommerce,USA,MD,Washington DC,Woodbine,other,2010-03-30,2010-03,2010-Q1,2010,250000.0
6,/company/10-20-media,10-20 Media,ecommerce,USA,MD,Washington DC,Woodbine,other,2011-12-28,2011-12,2011-Q4,2011,500000.0
7,/company/1000memories,1000memories,web,USA,CA,SF Bay,San Francisco,angel,2010-01-01,2010-01,2010-Q1,2010,15000.0
8,/company/1000memories,1000memories,web,USA,CA,SF Bay,San Francisco,series-a,2011-02-16,2011-02,2011-Q1,2011,2520000.0
9,/company/1000museums-com,1000museums.com,web,USA,WA,Seattle,Bellevue,other,2013-04-08,2013-04,2013-Q2,2013,647879.0
10,/company/1000museums-com,1000museums.com,web,USA,WA,Seattle,Bellevue,other,2012-05-31,2012-05,2012-Q2,2012,160000.0
11,/company/100plus,100Plus,analytics,USA,CA,SF Bay,San Francisco,venture,2011-11-02,2011-11,2011-Q4,2011,500000.0
12,/company/100plus,100Plus,analytics,USA,CA,SF Bay,San Francisco,angel,2011-11-30,2011-11,2011-Q4,2011,750000.0
13,/company/1010data,1010data,software,USA,NY,New York,New York,venture,2010-03-08,2010-03,2010-Q1,2010,35000000.0
14,/company/10bestthings,10BestThings,web,USA,OH,Cleveland,Cleveland,angel,2009-04-01,2009-04,2009-Q2,2009,50000.0
15,/company/10x-technologies,10X Technologies,biotech,USA,CA,SF Bay,Oakland,other,2012-11-07,2012-11,2012-Q4,2012,3000000.0
16,/company/10x10-room,10X10 Room,software,USA,MA,Boston,Lexington,other,2011-10-12,2011-10,2011-Q4,2011,77500.0
17,/company/11i-solutions,11i Solutions,enterprise,USA,AL,Huntsville,Huntsville,venture,2011-03-22,2011-03,2011-Q1,2011,1800000.0
18,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2012-02-06,2012-02,2012-Q1,2012,14000.0
19,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2012-04-20,2012-04,2012-Q2,2012,55000.0
20,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2013-01-22,2013-01,2013-Q1,2013,500000.0
21,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,other,2013-07-01,2013-07,2013-Q3,2013,150000.0
22,/company/12society,12Society,ecommerce,USA,CA,Los Angeles,West Hollywood,angel,2012-04-05,2012-04,2012-Q2,2012,NaN
23,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,venture,2010-02-03,2010-02,2010-Q1,2010,5150000.0
24,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-b,2010-10-19,2010-10,2010-Q4,2010,20000000.0
25,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-a,2008-03-27,2008-03,2008-Q1,2008,12400000.0
26,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-b,2010-12-16,2010-12,2010-Q4,2010,6000000.0
27,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-b,2011-01-14,2011-01,2011-Q1,2011,2400000.0
28,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,other,2011-02-07,2011-02,2011-Q1,2011,3000000.0
29,/company/140-proof,140 Proof,advertising,USA,CA,SF Bay,San Francisco,series-b,2011-04-28,2011-04,2011-Q2,2011,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31649,/company/zweemie,Zweemie,messaging,USA,MI,Grand Blanc,Grand Blanc,venture,2010-06-03,2010-06,2010-Q2,2010,250000.0
31650,/company/zwittle,Zwittle,software,USA,UT,Salt Lake City,Logan,venture,2012-04-19,2012-04,2012-Q2,2012,190000.0
31651,/company/zyga-technology,Zyga Technology,medical,USA,MN,Minneapolis,Minnetonka,series-c+,2012-05-16,2012-05,2012-Q2,2012,25000000.0
31652,/company/zygo-corporation,Zygo Corporation,manufacturing,USA,CT,Middlefield,Middlefield,venture,2011-10-24,2011-10,2011-Q4,2011,9000000.0
31653,/company/zykis,Zykis,public_relations,USA,CA,Los Angeles,Irvine,angel,2006-10-27,2006-10,2006-Q4,2006,800000.0
31654,/company/zyme-solutions,Zyme Solutions,hardware,USA,CA,SF Bay,Redwood Shores,series-a,2005-09-12,2005-09,2005-Q3,2005,3040000.0
31655,/company/zyme-solutions,Zyme Solutions,hardware,USA,CA,SF Bay,Redwood Shores,private-equity,2013-05-20,2013-05,2013-Q2,2013,5000000.0
31656,/company/zyme-solutions,Zyme Solutions,hardware,USA,CA,SF Bay,Redwood Shores,private-equity,2013-05-20,2013-05,2013-Q2,2013,NaN
31657,/company/zymetis,Zymetis,biotech,USA,MD,Washington DC,College Park,venture,2010-01-11,2010-01,2010-Q1,2010,757464.0
31658,/company/zymetis,Zymetis,biotech,USA,MD,Washington DC,College Park,other,2010-01-31,2010-01,2010-Q1,2010,1500000.0
31659,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-a,2008-01-01,2008-01,2008-Q1,2008,10000000.0
31660,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2008-07-18,2008-07,2008-Q3,2008,25000000.0
31661,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,angel,2007-01-01,2007-01,2007-Q1,2007,NaN
31662,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2009-11-04,2009-11,2009-Q4,2009,15187000.0
31663,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2010-06-14,2010-06,2010-Q2,2010,300000000.0
31664,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-c+,2011-02-18,2011-02,2011-Q1,2011,490000000.0
31665,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-a,2008-02-12,2008-02,2008-Q1,2008,5026000.0
31666,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2010-04-24,2010-04,2010-Q2,2010,15000000.0
31667,/company/zyngenia,Zyngenia,biotech,USA,MD,Washington DC,Gaithersburg,series-a,2010-09-09,2010-09,2010-Q3,2010,25000000.0
31668,/company/zyomyx-inc,ZYOMYX,biotech,USA,NaN,SF Bay,Fremont,series-b,2013-06-30,2013-06,2013-Q2,2013,12000000.0
31669,/company/zyomyx-inc,ZYOMYX,biotech,USA,NaN,SF Bay,Fremont,venture,2013-07-11,2013-07,2013-Q3,2013,14219999.0
31670,/company/zypsee,Zypsee,transportation,USA,CT,New York,Stamford,angel,2013-08-13,2013-08,2013-Q3,2013,1400000.0
31671,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,angel,2010-12-15,2010-12,2010-Q4,2010,875000.0
31672,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,angel,2010-11-15,2010-11,2010-Q4,2010,445000.0
31673,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,venture,2012-10-18,2012-10,2012-Q4,2012,140500.0
31674,/company/x,[x+1],enterprise,USA,NY,New York,New York,series-a,2008-06-01,2008-06,2008-Q2,2008,16000000.0
31675,/company/x,[x+1],enterprise,USA,NY,New York,New York,venture,2009-08-17,2009-08,2009-Q3,2009,2000000.0
31676,/company/x,[x+1],enterprise,USA,NY,New York,New York,series-b,2011-01-03,2011-01,2011-Q1,2011,10000000.0
31677,/company/x,[x+1],enterprise,USA,NY,New York,New York,other,2013-04-04,2013-04,2013-Q2,2013,17000000.0
31678,/company/shwrm,_Shwrm,software,USA,FL,Gainesville,Gainesville,angel,2013-01-01,2013-01,2013-Q1,2013,50000.0

In [175]:
rds['funded_at']=pd.to_datetime(rds['funded_at'])

In [176]:
comp.shape

(8048, 20)

In [177]:
invs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB

In [178]:
invs

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0
5,/company/tackk,Tackk,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-02-01,2012-02,2012-Q1,2012.0,20000.0
6,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-06-01,2012-06,2012-Q2,2012.0,20000.0
7,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-08-07,2012-08,2012-Q3,2012.0,70000.0
8,/company/toviefor,ToVieFor,ecommerce,USA,NY,New York,New York,/company/2010-nyu-stern-business-plan-competition,2010 NYU Stern Business Plan Competition,NaN,NaN,NaN,unknown,NaN,angel,2010-04-01,2010-04,2010-Q2,2010.0,75000.0
9,/company/ohk-labs,OHK Labs,sports,USA,FL,Palm Beach,Boca Raton,/company/22hundred-group,22Hundred Group,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,100000.0
10,/company/lovely,Lovely,real_estate,USA,CA,SF Bay,San Francisco,/company/3taps,3taps,web,USA,CA,SF Bay,San Francisco,series-a,2012-10-01,2012-10,2012-Q4,2012.0,2000000.0
11,/company/peertransfer,peerTransfer,finance,USA,MA,Boston,Boston,/company/500-hats,500 Hats,NaN,USA,CA,SF Bay,Palo Alto,angel,2010-10-28,2010-10,2010-Q4,2010.0,1100000.0
12,/company/spotdock,spotdock,web,USA,NY,New York,NYC,/company/9mmedia-llc,"9mmedia, LLC",NaN,NaN,NaN,unknown,NaN,angel,2012-01-10,2012-01,2012-Q1,2012.0,600000.0
13,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,series-a,2010-05-01,2010-05,2010-Q2,2010.0,189000000.0
14,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,venture,2011-02-22,2011-02,2011-Q1,2011.0,150000000.0
15,/company/metroflats-com,MetroFlats.com,travel,USA,NJ,Cedar Grove,Cedar Grove,/company/aa-investments,AA Investments,NaN,BMU,NaN,Bermuda - Other,NaN,angel,2010-08-18,2010-08,2010-Q3,2010.0,NaN
16,/company/mesocoat,MesoCoat,nanotech,USA,OH,Cleveland,Euclid,/company/abakan-inc,Abakan,cleantech,USA,FL,Miami,Miami,venture,2009-12-14,2009-12,2009-Q4,2009.0,NaN
17,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,series-b,2010-07-15,2010-07,2010-Q3,2010.0,106000000.0
18,/company/power-assure,Power Assure,network_hosting,USA,CA,SF Bay,Santa Clara,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-09-20,2010-09,2010-Q3,2010.0,1500000.0
19,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-12-21,2010-12,2010-Q4,2010.0,NaN
20,/company/ecotality,ECOtality,cleantech,USA,CA,SF Bay,San Francisco,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2011-01-09,2011-01,2011-Q1,2011.0,10000000.0
21,/company/evalve,Evalve,biotech,USA,CA,SF Bay,Menlo Park,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-c+,2007-11-27,2007-11,2007-Q4,2007.0,60000000.0
22,/company/ovalis,Ovalis,biotech,USA,CA,SF Bay,Mountain View,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-b,2007-01-30,2007-01,2007-Q1,2007.0,6600000.0
23,/company/alvine-pharmaceuticals,Alvine Pharmaceuticals,biotech,USA,CA,SF Bay,San Carlos,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,private-equity,2013-05-14,2013-05,2013-Q2,2013.0,70000000.0
24,/company/avaxia-biologics,Avaxia Biologics,biotech,USA,MA,Boston,Lexington,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-06-07,2013-06,2013-Q2,2013.0,11500000.0
25,/company/aurasense-therapeutics,AuraSense Therapeutics,biotech,USA,IL,Chicago,Evanston,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-07-31,2013-07,2013-Q3,2013.0,NaN
26,/company/librarything,LibraryThing,web,USA,ME,Portland,Portland,/company/abebooks,AbeBooks,web,CAN,NaN,Victoria,Victoria,series-a,2006-05-16,2006-05,2006-Q2,2006.0,NaN
27,/company/heliovolt,HelioVolt,cleantech,USA,TX,Austin,Austin,/company/abengoa-solar,Abengoa Solar,cleantech,ESP,NaN,Sevilla,Sevilla,series-b,2007-10-23,2007-10,2007-Q4,2007.0,101000000.0
28,/company/airband-communications-holdings,Airband Communications Holdings,mobile,USA,TX,Dallas,Dallas,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,venture,2011-08-11,2011-08,2011-Q3,2011.0,20000000.0
29,/company/xand,Xand,software,USA,NY,New York,Hawthorne,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,other,2013-09-12,2013-09,2013-Q3,2013.0,200000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,/company/meddik,Meddik,health,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012.0,750000.0
52841,/company/blue-apron,Blue Apron,hospitality,USA,NY,New York,Brooklyn,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013.0,3000000.0
52842,/company/chatid,ChatID,mobile,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,NaN
52843,/company/breakthrough-behavioral,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012.0,900000.0
52844,/company/plaid,Plaid,software,USA,CA,SF Bay,San Francisco,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013.0,2800000.0
52845,/company/pokitdok,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,/person/zach-zeitlin,Zach Zeitlin,NaN,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012.0,1300000.0
52846,/company/fitocracy,Fitocracy,web,USA,NY,New York,New York,/person/zachary-aarons,Zachary Aarons,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,250000.0
52847,/company/square,Square,mobile,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009.0,10000000.0
52848,/company/mixrank,MixRank,advertising,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011.0,1500000.0
52849,/company/socialcam,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012.0,NaN
52850,/company/nuzzel,Nuzzel,news,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012.0,1700000.0
52851,/company/thirdlove,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012.0,5600000.0
52852,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,300000.0
52853,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011.0,300000.0
52854,/company/verious,Verious,mobile,USA,CA,SF Bay,San Carlos,/person/zain-khan,Zain Khan,NaN,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011.0,800000.0
52855,/company/identified-com,Identified,analytics,USA,CA,SF Bay,San Francisco,/person/zao-yang,Zao Yang,NaN,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012.0,21000000.0
52856,/company/haulerdeals,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,/person/zaw-thet,Zaw Thet,NaN,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012.0,1250000.0
52857,/company/when-you-wish,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,/person/zelda-marzec,Zelda Marzec,NaN,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011.0,1500000.0
52858,/company/farmeron,Farmeron,analytics,USA,CA,SF Bay,Mountain View,/person/zeljko-mataija,Zeljko Mataija,NaN,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010.0,15000.0
52859,/company/theraclone-sciences,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,/person/zenyaku-kogyo,Zenyaku Kogyo,NaN,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013.0,8000000.0
52860,/company/simplegeo,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,/person/ziv-navoth,Ziv Navoth,NaN,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009.0,195000.0
52861,/company/open-me,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,/person/ziver-birg,Ziver Birg,NaN,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013.0,NaN
52862,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zod-nazem,Zod Nazem,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52863,/company/payoneer,Payoneer,other,USA,NY,New York,New York,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005.0,2000000.0
52864,/company/outbrain,Outbrain,web,USA,NY,New York,New York City,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009.0,12000000.0
52865,/company/garantia-data,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012.0,3800000.0
52866,/company/duda-mobile,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013.0,10300000.0
52867,/company/sitebrains,SiteBrains,software,USA,CA,SF Bay,San Francisco,/person/zohar-israel,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010.0,350000.0
52868,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zorba-lieberman,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52869,/company/smartthings,SmartThings,mobile,USA,DC,unknown,Minneapolis,/person/zorik-gordon,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012.0,3000000.0

In [179]:
comp.to_sql('comp', conn, if_exists='replace', index=False)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)

In [180]:
invs.to_sql('invs', conn, if_exists='replace', index=False)

In [181]:
rds.to_sql('rds', conn, if_exists='replace', index=False)

In [182]:
adq.to_sql('adq', conn, if_exists='replace', index=False)

In [183]:
comp2.to_sql('comp2', conn, if_exists='replace', index=False)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)

In [184]:
rds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31679 entries, 0 to 31678
Data columns (total 13 columns):
company_permalink        31679 non-null object
company_name             31679 non-null object
company_category_code    31215 non-null object
company_country_code     31679 non-null object
company_state_code       31334 non-null object
company_region           31679 non-null object
company_city             31329 non-null object
funding_round_type       31679 non-null object
funded_at                31679 non-null datetime64[ns]
funded_month             31679 non-null object
funded_quarter           31679 non-null object
funded_year              31679 non-null int64
raised_amount_usd        29100 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 3.1+ MB

In [185]:
inspector = inspect(conn)
print(inspector.get_table_names())

['comp', 'invs', 'rds', 'adq', 'comp2', 's_a', 'df']

In [186]:
comp2.columns

Index(['permalink', 'name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at',
       'days_in_op', 'first_funding_dayinop', 'last_funding_dayinop'],
      dtype='object')

In [187]:
comp2.columns=['permalink', 'company_name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at',
       'days_in_op', 'first_funding_dayinop', 'last_funding_dayinop']

In [188]:
rds.funding_round_type.unique()

array(['series-a', 'angel', 'series-b', 'venture', 'other', 'series-c+',
       'private-equity', 'post-ipo', 'crowdfunding'], dtype=object)

In [189]:
query='''SELECT company_name,min(funded_at) as cr_funded_at, sum(raised_amount_usd) as cr_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'crowdfunding\'
                GROUP BY company_name'''

In [190]:
crowd=pd.read_sql_query(query,cnx)

In [191]:
crowd

               company_name cr_funded_at  cr_raised_amount_usd
0                   App.net   2012-08-12              500000.0
1                  Appy Pie   2013-08-28               10000.0
2      Cloud Imperium Games   2013-09-27            20000000.0
3         Dragon Innovation   2013-08-08             2145000.0
4             Elevation Lab   2012-02-11             1450000.0
5            Exposed Vocals   2013-07-16              250000.0
6          Faraday Bicycles   2012-08-01              177268.0
7                  Formlabs   2012-10-25             2800000.0
8                    Fuel3D   2013-09-04              325000.0
9             Glowing Plant   2013-06-08              484000.0
10   Good Times Restaurants   2013-08-21             5500000.0
11         Icarus Ascending   2013-09-05               10000.0
12                LUMI Mask   2011-01-06               27000.0
13              NanoSatisfi   2012-07-14              100000.0
14              NOMAD GOODS   2012-08-27              161897.0
15                Oculus VR   2012-01-01             2400000.0
16          OLIVERS Apparel   2013-08-30              173000.0
17                     OUYA   2012-08-09             8600000.0
18         Perle Bioscience   2013-09-26             2000000.0
19                Pressgram   2013-04-15               56500.0
20                   Pressy   2013-09-19              500000.0
21  R.A. Burch Construction   2013-09-09            14600000.0
22                  Scanadu   2013-06-09             1565113.0
23               SLIC games   2012-10-01               10000.0
24             TinyCircuits   2013-09-04              110000.0
25            Upheaval Arts   2013-09-12               85000.0
26              WealthForge   2013-08-08                   NaN
27     Wikimedia Foundation   2008-03-01            27000000.0

In [192]:
query='''SELECT company_name,min(funded_at) as sa_funded_at, sum(raised_amount_usd) as sa_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'series-a\'
                GROUP BY company_name'''

In [193]:
pd.read_sql_query(query,cnx)

,company_name,sa_funded_at,sa_raised_amount_usd
0,1000memories,2011-02-16,2520000.0
1,1366 Technologies,2008-03-27,12400000.0
2,140 Proof,2009-07-01,3000000.0
3,170 Systems,2002-04-16,14000000.0
4,1World Online,2013-07-02,1000000.0
5,20x200,2009-10-01,2800000.0
6,22nd Century Group,2012-11-16,2428500.0
7,23andMe,2007-05-01,9000000.0
8,24/7 Card,2010-10-25,NaN
9,24M Technologies,2010-08-16,16000000.0
10,2U,2009-03-25,12275000.0
11,33Across,2010-04-22,1284560.0
12,360imaging,2010-01-01,5000000.0
13,365Scores,2013-01-28,1200000.0
14,37signals,2006-07-01,NaN
15,3D Robotics,2012-11-05,5000000.0
16,3D Systems,2012-06-07,3144131.0
17,3Guppies,2006-04-05,20000000.0
18,3Jam,2007-07-01,4000000.0
19,3Pillar Global,2013-06-06,12000000.0
20,3VR,2009-01-15,5000000.0
21,410 Labs,2011-07-11,750000.0
22,42Floors,2012-11-16,5000000.0
23,480 Biomedical,2012-02-14,15000000.0
24,4Home,2006-08-01,2850000.0
25,4s3 Bioscience,2012-03-05,20000000.0
26,4-Tell,2012-01-01,1000000.0
27,500Friends,2012-03-14,4500000.0
28,5min Media,2007-11-01,5000000.0
29,5th Finger,2008-06-13,7000000.0
...,...,...,...
5778,Zoji,2007-10-01,1500000.0
5779,Zola Books,2013-05-20,2700000.0
5780,Zomazz,2011-10-11,3280686.0
5781,Zong,2005-07-01,20000000.0
5782,Zonoff,2013-04-19,3800000.0
5783,Zoodles,2010-05-12,2600000.0
5784,Zoomdata,2013-07-10,4100000.0
5785,ZoomInfo,2004-07-01,7000000.0
5786,Zoom Media & Marketing - United States,2009-03-01,30000000.0
5787,ZoomSafer,2010-04-12,1000000.0
5788,Zoom Video Communications,2011-06-01,9000000.0
5789,Zoosk,2007-11-01,400000.0
5790,Zoove,2006-06-20,6800000.0
5791,Zosano Pharma,2007-11-15,90000000.0
5792,Zounds,2007-02-14,25000000.0
5793,zozi,2010-08-30,3000000.0
5794,Zuberance,2008-11-24,4000000.0
5795,Zubie,2013-09-16,8000000.0
5796,zulily,2009-12-17,4600000.0
5797,Zumbox,2008-03-20,3000000.0
5798,Zume Life,2008-04-01,1000000.0
5799,Zumobi,2007-05-07,12000000.0
5800,Zumper,2012-09-27,1700000.0
5801,Zuora,2008-03-13,6500000.0
5802,Zurex Pharma,2012-05-22,6200000.0
5803,Zuujit,2010-04-30,2700000.0
5804,Zvents,2006-11-07,7000000.0
5805,Zyme Solutions,2005-09-12,3040000.0
5806,Zynga,2008-01-01,15026000.0
5807,Zyngenia,2010-09-09,25000000.0

In [194]:
s_a=pd.read_sql_query(query,cnx)

In [195]:
s_a.to_sql('s_a', conn, if_exists='replace', index=False)

In [418]:
df=pd.merge(comp2,s_a,how='left', on='company_name')

In [419]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 22 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             3477 non-null datetime64[ns]
sa_raised_amount_usd     3391 non-null float64
dtypes: datetime64[ns](4), float64(2), int64(1), object(12), timedelta64[ns](3)
memory usage: 1.4+ MB

In [198]:
## Too slow

# query='''SELECT * FROM comp2
#             LEFT JOIN s_a
#             ON company_name = company_name'''

In [199]:
# df=pd.read_sql_query(query,cnx)

In [200]:
# df.info

In [201]:
df.to_sql('df', conn, if_exists='replace', index=False)

/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)
/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2127: UserWarning: the 'timedelta' type is not supported, and will be written as integer values (ns frequency) to the database.
  dtype=dtype)

In [202]:
# df

In [420]:
df['sa_funded_daysop']=df['sa_funded_at']-df['founded_at']

In [204]:
df

,permalink,company_name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,founded_year,first_funding_at,last_funding_at,last_milestone_at,days_in_op,first_funding_dayinop,last_funding_dayinop,sa_funded_at,sa_raised_amount_usd,sa_funded_daysop
0,/company/waywire,#waywire,news,1750000,operating,USA,NY,New York,New York,1,...,2012.0,2012-06-30,2012-06-30,2013-09-06,487 days,29 days,29 days,2012-06-30,1750000.0,29 days
1,/company/1000memories,1000memories,web,2535000,acquired,USA,CA,SF Bay,San Francisco,2,...,2010.0,2010-01-01,2011-02-16,2013-07-04,1188 days,-181 days,230 days,2011-02-16,2520000.0,230 days
2,/company/100plus,100Plus,analytics,1250000,acquired,USA,CA,SF Bay,San Francisco,2,...,2011.0,2011-11-02,2011-11-30,2013-02-27,746 days,47 days,75 days,NaT,NaN,NaT
3,/company/1010data,1010data,software,35000000,operating,USA,NY,New York,New York,1,...,2000.0,2010-03-08,2010-03-08,2012-01-01,5022 days,3719 days,3719 days,NaT,NaN,NaT
4,/company/121nexus,121nexus,software,719000,operating,USA,RI,Providence,Providence,4,...,2011.0,2012-02-06,2013-07-01,2012-04-27,725 days,122 days,633 days,NaT,NaN,NaT
5,/company/1366-technologies,1366 Technologies,manufacturing,48950000,operating,USA,MA,Boston,Lexington,6,...,2007.0,2008-03-27,2011-02-07,2011-06-17,2465 days,451 days,1498 days,2008-03-27,12400000.0,451 days
6,/company/140-proof,140 Proof,advertising,5500000,operating,USA,CA,SF Bay,San Francisco,2,...,2010.0,2009-07-01,2011-04-28,2013-01-24,1359 days,-194 days,472 days,2009-07-01,3000000.0,-194 days
7,/company/140fire,140Fire,advertising,500000,operating,USA,CA,Los Angeles,Santa Monica,1,...,2010.0,2010-05-05,2010-05-05,2011-02-24,1369 days,124 days,124 days,NaT,NaN,NaT
8,/company/15five,15Five,software,1200000,operating,USA,CA,SF Bay,San Francisco,2,...,2011.0,2012-01-01,2013-01-15,2013-09-19,884 days,245 days,625 days,NaT,NaN,NaT
9,/company/169-st,169 ST.,games_video,50000,operating,USA,FL,Orlando,Lake Mary,1,...,2009.0,2009-06-01,2009-06-01,2009-05-01,1600 days,17 days,17 days,NaT,NaN,NaT
10,/company/170-systems,170 Systems,software,14000000,acquired,USA,MA,Boston,Bedford,1,...,1990.0,2002-04-16,2002-04-16,2003-01-01,8674 days,4488 days,4488 days,2002-04-16,14000000.0,4488 days
11,/company/1stdibs,1stdibs,ecommerce,42000000,operating,USA,NY,New York,New York,3,...,2001.0,2011-11-03,2012-12-03,2011-11-01,4656 days,3958 days,4354 days,NaT,NaN,NaT
12,/company/1world-online,1World Online,enterprise,1000000,operating,USA,CA,SF Bay,San Jose,1,...,2011.0,2013-07-02,2013-07-02,2013-07-01,670 days,579 days,579 days,2013-07-02,1000000.0,579 days
13,/company/20jeans,20JEANS,ecommerce,1000000,operating,USA,CA,Los Angeles,Los Angeles,2,...,2012.0,2013-02-01,2013-04-18,2012-08-01,426 days,184 days,260 days,NaT,NaN,NaT
14,/company/20x200,20x200,ecommerce,2800000,operating,USA,NY,New York,New York,2,...,2007.0,2009-10-01,2010-08-01,2012-10-01,2222 days,761 days,1065 days,2009-10-01,2800000.0,761 days
15,/company/22nd-century-group,22nd Century Group,biotech,4951950,ipo,USA,NY,Clarence,Clarence,4,...,1998.0,2011-12-28,2013-02-06,2013-07-24,5752 days,5109 days,5515 days,2012-11-16,2428500.0,5433 days
16,/company/23andme,23andMe,biotech,160549892,operating,USA,CA,SF Bay,Mountain View,6,...,2006.0,2007-05-01,2012-12-21,2012-09-17,2740 days,395 days,2456 days,2007-05-01,9000000.0,395 days
17,/company/250ok,250ok,software,200000,operating,USA,IN,Indianapolis,Indianapolis,1,...,2012.0,2012-09-01,2012-09-01,2012-05-01,639 days,244 days,244 days,NaT,NaN,NaT
18,/company/27-perry,27 Perry,ecommerce,118000,closed,USA,CO,Denver,Boulder,1,...,2012.0,2012-05-17,2012-05-17,2012-07-25,433 days,-69 days,-69 days,NaT,NaN,NaT
19,/company/2go-software-solutions,2GO Mobile Solutions,software,825000,operating,USA,TX,Dallas,Plano,1,...,2008.0,2010-01-09,2010-01-09,2009-08-01,2100 days,739 days,739 days,NaT,NaN,NaT
20,/company/2u,2U,education,90775000,operating,USA,MD,Washington DC,Landover,5,...,2008.0,2009-03-25,2012-04-02,2012-11-15,2100 days,449 days,1553 days,2009-03-25,12275000.0,449 days
21,/company/3-v-biosciences,3-V Biosciences,biotech,70000000,operating,USA,CA,SF Bay,Palo Alto,3,...,2007.0,2009-07-10,2013-06-21,2012-01-01,2406 days,862 days,2304 days,NaT,NaN,NaT
22,/company/30-second-showcase,30 Second Showcase,software,25000,operating,USA,NJ,New York,Clifton,1,...,2013.0,2013-05-20,2013-05-20,2013-05-20,183 days,49 days,49 days,NaT,NaN,NaT
23,/company/33across,33Across,advertising,24134560,operating,USA,NY,New York,New York,4,...,2007.0,2009-03-13,2012-07-19,2013-09-03,2222 days,559 days,1783 days,2010-04-22,1284560.0,964 days
24,/company/3clickemr-corporation,3ClickEMR Corporation,software,500000,closed,USA,MA,Boston,West Roxbury,2,...,2010.0,2010-06-23,2011-06-01,2010-06-23,1196 days,0 days,343 days,NaT,NaN,NaT
25,/company/3d-systems,3D Systems,software,4144131,ipo,USA,SC,Rock Hill,Rock Hill,2,...,1986.0,2010-01-13,2012-06-07,2013-06-26,10135 days,8778 days,9654 days,2012-06-07,3144131.0,9654 days
26,/company/3dcart-shopping-cart-software,3dCart Shopping Cart Software,ecommerce,1250000,operating,USA,FL,Fort Lauderdale,Lauderhill,1,...,1997.0,2010-01-01,2010-01-01,2004-04-01,5997 days,4628 days,4628 days,NaT,NaN,NaT
27,/company/3gear-systems,3Gear Systems,software,349999,operating,USA,CA,SF Bay,San Francisco,1,...,2010.0,2012-03-30,2012-03-30,2012-01-01,1369 days,819 days,819 days,NaT,NaN,NaT
28,/company/3jam,3Jam,mobile,4000000,operating,USA,CA,SF Bay,San Francisco,1,...,2005.0,2007-07-01,2007-07-01,2009-12-21,3195 days,911 days,911 days,2007-07-01,4000000.0,911 days
29,/company/3leaf,3Leaf,software,65000000,operating,USA,CA,SF Bay,Santa Clara,3,...,2004.0,2007-04-30,2008-09-22,2007-08-01,3409 days,1063 days,1574 days,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8018,/company/zoodles,Zoodles,games_video,2600000,operating,USA,CA,SF Bay,Mountain View,1,...,2008.0,2010-05-12,2010-05-12,2012-01-01,2100 days,862 days,862 days,2010-05-12,2600000.0,862 days
8019,/company/zoom-media-marketing,Zoom Media & Marketing - United States,advertising,30000000,operating,USA,NY,New York,New York,1,...,1991.0,2009-03-01,2009-03-01,2010-08-01,8309 days,6634 days,6634 days,2009-03-01,30000000.0,6634 days
8020,/company/zoom-video-communications,Zoom Video Communications,enterprise,15500000,operating,USA,CA,SF Bay,Santa Clara,3,...,2011.0,2011-06-01,2013-09-24,2013-09-24,853 days,0 days,846 days,2011-06-01,9000000.0,0 days
8021,/company/zoomingo,Zoomingo,ecommerce,2025000,operating,USA,MA,Boston,Waltham,3,...,2000.0,2011-11-14,2013-06-23,2012-04-09,5022 days,4335 days,4922 days,NaT,NaN,NaT
8022,/company/zoomph,Zoomph,analytics,500000,operating,USA,VA,Washington DC,Reston,1,...,2011.0,2012-01-01,2012-01-01,2013-05-20,1004 days,365 days,365 days,NaT,NaN,NaT
8023,/company/zoomsafer,ZoomSafer,mobile,3350000,operating,USA,VA,Washington DC,Herndon,4,...,2009.0,2009-03-01,2011-03-07,2011-03-07,1734 days,59 days,795 days,2010-04-12,1000000.0,466 days
8024,/company/zoomsystems,ZoomSystems,hardware,87000000,operating,USA,CA,SF Bay,San Francisco,5,...,2002.0,2005-07-19,2010-01-14,2010-09-01,4291 days,1295 days,2935 days,NaT,NaN,NaT
8025,/company/zoosk,Zoosk,social,61600000,operating,USA,CA,SF Bay,San Francisco,5,...,2007.0,2007-11-01,2012-01-01,2012-11-01,2161 days,0 days,1522 days,2007-11-01,400000.0,0 days
8026,/company/zoove,Zoove,mobile,54800000,operating,USA,NY,SF Bay,Palo Alto,5,...,2004.0,2006-06-20,2013-05-14,2013-04-01,3501 days,841 days,3361 days,2006-06-20,6800000.0,841 days
8027,/company/zorap,Zorap,web,2251000,closed,USA,ME,Falmouth,Falmouth,2,...,2008.0,2009-11-01,2010-10-18,2010-10-18,1989 days,559 days,910 days,NaT,NaN,NaT
8028,/company/zounds,Zounds,biotech,29377000,operating,USA,AZ,Phoenix,Phoenix,2,...,2005.0,2007-02-14,2011-11-09,2013-05-16,3195 days,774 days,2503 days,2007-02-14,25000000.0,774 days
8029,/company/zozi,zozi,ecommerce,21300000,operating,USA,CA,SF Bay,San Francisco,4,...,2007.0,2008-08-01,2013-04-04,2013-08-07,2465 days,578 days,2285 days,2010-08-30,3000000.0,1337 days
8030,/company/zs-genetics,ZS Genetics,biotech,923000,operating,USA,MA,Boston,Wakefield,2,...,2005.0,2012-01-06,2012-01-06,2013-07-09,3195 days,2561 days,2561 days,NaT,NaN,NaT
8031,/company/zscaler,Zscaler,security,38000000,operating,USA,CA,SF Bay,San Jose,1,...,2007.0,2012-08-30,2012-08-30,2012-08-30,2465 days,2068 days,2068 days,NaT,NaN,NaT
8032,/company/zuberance,Zuberance,advertising,12000000,operating,USA,CA,SF Bay,San Carlos,2,...,2007.0,2008-11-24,2010-10-26,2012-08-10,2434 days,662 days,1363 days,2008-11-24,4000000.0,662 days
8033,/company/zubie,Zubie,hardware,8000000,operating,USA,SC,unknown,Sullivans Island,2,...,2012.0,2012-05-01,2013-09-16,2013-03-20,518 days,0 days,503 days,2013-09-16,8000000.0,503 days
8034,/company/zula,Zula,mobile,1000000,operating,USA,NY,New York,New York,1,...,2012.0,2013-05-22,2013-05-22,2013-07-11,579 days,447 days,447 days,NaT,NaN,NaT
8035,/company/zulama,Zulama,education,200000,operating,USA,PA,Pittsburg,Pittsburgh,1,...,2009.0,2013-02-02,2013-02-02,2009-01-01,1734 days,1493 days,1493 days,NaT,NaN,NaT
8036,/company/zuldi,Zuldi,mobile,20000,operating,USA,NV,Las Vegas,Las Vegas,1,...,2011.0,2013-06-12,2013-06-12,2013-05-30,670 days,559 days,559 days,NaT,NaN,NaT
8037,/company/zulily,zulily,ecommerce,138600000,operating,USA,WA,Seattle,Seattle,4,...,2009.0,2009-12-17,2012-11-15,2012-07-17,1461 days,77 days,1141 days,2009-12-17,4600000.0,77 days
8038,/company/zulu,Zulu,software,1070000,operating,USA,CA,SF Bay,San Jose,2,...,2012.0,2012-08-01,2013-03-26,2012-11-01,581 days,155 days,392 days,NaT,NaN,NaT
8039,/company/zumbox,Zumbox,web,28300000,operating,USA,CA,Los Angeles,Los Angeles,6,...,2006.0,2008-03-20,2012-07-10,2012-12-01,2557 days,536 days,2109 days,2008-03-20,3000000.0,536 days
8040,/company/zumeo-com,Zumeo.com,web,100000,operating,USA,OR,Medford,Medford,1,...,2007.0,2009-01-29,2009-01-29,2009-02-06,2345 days,639 days,639 days,NaT,NaN,NaT
8041,/company/zumobi,Zumobi,mobile,12000000,operating,USA,WA,Seattle,Seattle,1,...,2007.0,2007-05-07,2007-05-07,2011-12-17,2406 days,67 days,67 days,2007-05-07,12000000.0,67 days
8042,/company/zumper,Zumper,real_estate,1700000,operating,USA,CA,SF Bay,San Francisco,1,...,2012.0,2012-09-27,2012-09-27,2013-08-15,639 days,270 days,270 days,2012-09-27,1700000.0,270 days
8043,/company/zuora,Zuora,software,127500000,operating,USA,CA,SF Bay,Foster City,5,...,2007.0,2008-03-13,2013-09-05,2013-09-05,2465 days,437 days,2439 days,2008-03-13,6500000.0,437 days
8044,/company/zvents,Zvents,web,31200000,acquired,USA,CA,SF Bay,San Mateo,3,...,2005.0,2005-10-05,2008-09-30,2012-09-11,3136 days,218 days,1309 days,2006-11-07,7000000.0,616 days
8045,/company/zyme-solutions,Zyme Solutions,hardware,8040000,operating,USA,CA,SF Bay,Redwood Shores,3,...,2004.0,2005-09-12,2013-05-20,2013-04-01,3561 days,620 days,3427 days,2005-09-12,3040000.0,620 days
8046,/company/zynga,Zynga,games_video,860213000,ipo,USA,CA,SF Bay,San Francisco,8,...,2007.0,2007-01-01,2011-02-18,2013-09-30,2284 days,-181 days,1328 days,2008-01-01,15026000.0,184 days
8047,/company/x,[x+1],enterprise,45000000,operating,USA,NY,New York,New York,4,...,1999.0,2008-06-01,2013-04-04,2012-08-15,5387 days,3439 days,5207 days,2008-06-01,16000000.0,3439 days

In [302]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 23 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             3477 non-null datetime64[ns]
sa_raised_amount_usd     3391 non-null float64
sa_funded_daysop         3477 non-null timedelta64[ns]
dtypes: datetime64[ns](4), float64(2), int64(1), object(12), timedelta64[ns](4)
memory usage: 1.5+ MB

In [206]:
query='''SELECT company_name, min(funded_at) as ag_funded_at, sum(raised_amount_usd) as ag_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'angel\'
                GROUP BY company_name'''

In [207]:
angel=pd.read_sql_query(query,cnx)

In [294]:
angel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5458 entries, 0 to 5457
Data columns (total 3 columns):
company_name            5458 non-null object
ag_funded_at            5458 non-null datetime64[ns]
ag_raised_amount_usd    4418 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 128.0+ KB

In [208]:
# angel.to_sql('angel', conn, if_exists='replace', index=False) ## too slow

In [209]:
query='''SELECT company_name, min(funded_at) as ve_funded_at, sum(raised_amount_usd) as ve_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'venture\'
                GROUP BY company_name'''

In [210]:
vent=pd.read_sql_query(query,cnx)

In [211]:
# vent.to_sql('vent', conn, if_exists='replace', index=False) ## too slow connection

In [212]:
df

,permalink,company_name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,founded_year,first_funding_at,last_funding_at,last_milestone_at,days_in_op,first_funding_dayinop,last_funding_dayinop,sa_funded_at,sa_raised_amount_usd,sa_funded_daysop
0,/company/waywire,#waywire,news,1750000,operating,USA,NY,New York,New York,1,...,2012.0,2012-06-30,2012-06-30,2013-09-06,487 days,29 days,29 days,2012-06-30,1750000.0,29 days
1,/company/1000memories,1000memories,web,2535000,acquired,USA,CA,SF Bay,San Francisco,2,...,2010.0,2010-01-01,2011-02-16,2013-07-04,1188 days,-181 days,230 days,2011-02-16,2520000.0,230 days
2,/company/100plus,100Plus,analytics,1250000,acquired,USA,CA,SF Bay,San Francisco,2,...,2011.0,2011-11-02,2011-11-30,2013-02-27,746 days,47 days,75 days,NaT,NaN,NaT
3,/company/1010data,1010data,software,35000000,operating,USA,NY,New York,New York,1,...,2000.0,2010-03-08,2010-03-08,2012-01-01,5022 days,3719 days,3719 days,NaT,NaN,NaT
4,/company/121nexus,121nexus,software,719000,operating,USA,RI,Providence,Providence,4,...,2011.0,2012-02-06,2013-07-01,2012-04-27,725 days,122 days,633 days,NaT,NaN,NaT
5,/company/1366-technologies,1366 Technologies,manufacturing,48950000,operating,USA,MA,Boston,Lexington,6,...,2007.0,2008-03-27,2011-02-07,2011-06-17,2465 days,451 days,1498 days,2008-03-27,12400000.0,451 days
6,/company/140-proof,140 Proof,advertising,5500000,operating,USA,CA,SF Bay,San Francisco,2,...,2010.0,2009-07-01,2011-04-28,2013-01-24,1359 days,-194 days,472 days,2009-07-01,3000000.0,-194 days
7,/company/140fire,140Fire,advertising,500000,operating,USA,CA,Los Angeles,Santa Monica,1,...,2010.0,2010-05-05,2010-05-05,2011-02-24,1369 days,124 days,124 days,NaT,NaN,NaT
8,/company/15five,15Five,software,1200000,operating,USA,CA,SF Bay,San Francisco,2,...,2011.0,2012-01-01,2013-01-15,2013-09-19,884 days,245 days,625 days,NaT,NaN,NaT
9,/company/169-st,169 ST.,games_video,50000,operating,USA,FL,Orlando,Lake Mary,1,...,2009.0,2009-06-01,2009-06-01,2009-05-01,1600 days,17 days,17 days,NaT,NaN,NaT
10,/company/170-systems,170 Systems,software,14000000,acquired,USA,MA,Boston,Bedford,1,...,1990.0,2002-04-16,2002-04-16,2003-01-01,8674 days,4488 days,4488 days,2002-04-16,14000000.0,4488 days
11,/company/1stdibs,1stdibs,ecommerce,42000000,operating,USA,NY,New York,New York,3,...,2001.0,2011-11-03,2012-12-03,2011-11-01,4656 days,3958 days,4354 days,NaT,NaN,NaT
12,/company/1world-online,1World Online,enterprise,1000000,operating,USA,CA,SF Bay,San Jose,1,...,2011.0,2013-07-02,2013-07-02,2013-07-01,670 days,579 days,579 days,2013-07-02,1000000.0,579 days
13,/company/20jeans,20JEANS,ecommerce,1000000,operating,USA,CA,Los Angeles,Los Angeles,2,...,2012.0,2013-02-01,2013-04-18,2012-08-01,426 days,184 days,260 days,NaT,NaN,NaT
14,/company/20x200,20x200,ecommerce,2800000,operating,USA,NY,New York,New York,2,...,2007.0,2009-10-01,2010-08-01,2012-10-01,2222 days,761 days,1065 days,2009-10-01,2800000.0,761 days
15,/company/22nd-century-group,22nd Century Group,biotech,4951950,ipo,USA,NY,Clarence,Clarence,4,...,1998.0,2011-12-28,2013-02-06,2013-07-24,5752 days,5109 days,5515 days,2012-11-16,2428500.0,5433 days
16,/company/23andme,23andMe,biotech,160549892,operating,USA,CA,SF Bay,Mountain View,6,...,2006.0,2007-05-01,2012-12-21,2012-09-17,2740 days,395 days,2456 days,2007-05-01,9000000.0,395 days
17,/company/250ok,250ok,software,200000,operating,USA,IN,Indianapolis,Indianapolis,1,...,2012.0,2012-09-01,2012-09-01,2012-05-01,639 days,244 days,244 days,NaT,NaN,NaT
18,/company/27-perry,27 Perry,ecommerce,118000,closed,USA,CO,Denver,Boulder,1,...,2012.0,2012-05-17,2012-05-17,2012-07-25,433 days,-69 days,-69 days,NaT,NaN,NaT
19,/company/2go-software-solutions,2GO Mobile Solutions,software,825000,operating,USA,TX,Dallas,Plano,1,...,2008.0,2010-01-09,2010-01-09,2009-08-01,2100 days,739 days,739 days,NaT,NaN,NaT
20,/company/2u,2U,education,90775000,operating,USA,MD,Washington DC,Landover,5,...,2008.0,2009-03-25,2012-04-02,2012-11-15,2100 days,449 days,1553 days,2009-03-25,12275000.0,449 days
21,/company/3-v-biosciences,3-V Biosciences,biotech,70000000,operating,USA,CA,SF Bay,Palo Alto,3,...,2007.0,2009-07-10,2013-06-21,2012-01-01,2406 days,862 days,2304 days,NaT,NaN,NaT
22,/company/30-second-showcase,30 Second Showcase,software,25000,operating,USA,NJ,New York,Clifton,1,...,2013.0,2013-05-20,2013-05-20,2013-05-20,183 days,49 days,49 days,NaT,NaN,NaT
23,/company/33across,33Across,advertising,24134560,operating,USA,NY,New York,New York,4,...,2007.0,2009-03-13,2012-07-19,2013-09-03,2222 days,559 days,1783 days,2010-04-22,1284560.0,964 days
24,/company/3clickemr-corporation,3ClickEMR Corporation,software,500000,closed,USA,MA,Boston,West Roxbury,2,...,2010.0,2010-06-23,2011-06-01,2010-06-23,1196 days,0 days,343 days,NaT,NaN,NaT
25,/company/3d-systems,3D Systems,software,4144131,ipo,USA,SC,Rock Hill,Rock Hill,2,...,1986.0,2010-01-13,2012-06-07,2013-06-26,10135 days,8778 days,9654 days,2012-06-07,3144131.0,9654 days
26,/company/3dcart-shopping-cart-software,3dCart Shopping Cart Software,ecommerce,1250000,operating,USA,FL,Fort Lauderdale,Lauderhill,1,...,1997.0,2010-01-01,2010-01-01,2004-04-01,5997 days,4628 days,4628 days,NaT,NaN,NaT
27,/company/3gear-systems,3Gear Systems,software,349999,operating,USA,CA,SF Bay,San Francisco,1,...,2010.0,2012-03-30,2012-03-30,2012-01-01,1369 days,819 days,819 days,NaT,NaN,NaT
28,/company/3jam,3Jam,mobile,4000000,operating,USA,CA,SF Bay,San Francisco,1,...,2005.0,2007-07-01,2007-07-01,2009-12-21,3195 days,911 days,911 days,2007-07-01,4000000.0,911 days
29,/company/3leaf,3Leaf,software,65000000,operating,USA,CA,SF Bay,Santa Clara,3,...,2004.0,2007-04-30,2008-09-22,2007-08-01,3409 days,1063 days,1574 days,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8018,/company/zoodles,Zoodles,games_video,2600000,operating,USA,CA,SF Bay,Mountain View,1,...,2008.0,2010-05-12,2010-05-12,2012-01-01,2100 days,862 days,862 days,2010-05-12,2600000.0,862 days
8019,/company/zoom-media-marketing,Zoom Media & Marketing - United States,advertising,30000000,operating,USA,NY,New York,New York,1,...,1991.0,2009-03-01,2009-03-01,2010-08-01,8309 days,6634 days,6634 days,2009-03-01,30000000.0,6634 days
8020,/company/zoom-video-communications,Zoom Video Communications,enterprise,15500000,operating,USA,CA,SF Bay,Santa Clara,3,...,2011.0,2011-06-01,2013-09-24,2013-09-24,853 days,0 days,846 days,2011-06-01,9000000.0,0 days
8021,/company/zoomingo,Zoomingo,ecommerce,2025000,operating,USA,MA,Boston,Waltham,3,...,2000.0,2011-11-14,2013-06-23,2012-04-09,5022 days,4335 days,4922 days,NaT,NaN,NaT
8022,/company/zoomph,Zoomph,analytics,500000,operating,USA,VA,Washington DC,Reston,1,...,2011.0,2012-01-01,2012-01-01,2013-05-20,1004 days,365 days,365 days,NaT,NaN,NaT
8023,/company/zoomsafer,ZoomSafer,mobile,3350000,operating,USA,VA,Washington DC,Herndon,4,...,2009.0,2009-03-01,2011-03-07,2011-03-07,1734 days,59 days,795 days,2010-04-12,1000000.0,466 days
8024,/company/zoomsystems,ZoomSystems,hardware,87000000,operating,USA,CA,SF Bay,San Francisco,5,...,2002.0,2005-07-19,2010-01-14,2010-09-01,4291 days,1295 days,2935 days,NaT,NaN,NaT
8025,/company/zoosk,Zoosk,social,61600000,operating,USA,CA,SF Bay,San Francisco,5,...,2007.0,2007-11-01,2012-01-01,2012-11-01,2161 days,0 days,1522 days,2007-11-01,400000.0,0 days
8026,/company/zoove,Zoove,mobile,54800000,operating,USA,NY,SF Bay,Palo Alto,5,...,2004.0,2006-06-20,2013-05-14,2013-04-01,3501 days,841 days,3361 days,2006-06-20,6800000.0,841 days
8027,/company/zorap,Zorap,web,2251000,closed,USA,ME,Falmouth,Falmouth,2,...,2008.0,2009-11-01,2010-10-18,2010-10-18,1989 days,559 days,910 days,NaT,NaN,NaT
8028,/company/zounds,Zounds,biotech,29377000,operating,USA,AZ,Phoenix,Phoenix,2,...,2005.0,2007-02-14,2011-11-09,2013-05-16,3195 days,774 days,2503 days,2007-02-14,25000000.0,774 days
8029,/company/zozi,zozi,ecommerce,21300000,operating,USA,CA,SF Bay,San Francisco,4,...,2007.0,2008-08-01,2013-04-04,2013-08-07,2465 days,578 days,2285 days,2010-08-30,3000000.0,1337 days
8030,/company/zs-genetics,ZS Genetics,biotech,923000,operating,USA,MA,Boston,Wakefield,2,...,2005.0,2012-01-06,2012-01-06,2013-07-09,3195 days,2561 days,2561 days,NaT,NaN,NaT
8031,/company/zscaler,Zscaler,security,38000000,operating,USA,CA,SF Bay,San Jose,1,...,2007.0,2012-08-30,2012-08-30,2012-08-30,2465 days,2068 days,2068 days,NaT,NaN,NaT
8032,/company/zuberance,Zuberance,advertising,12000000,operating,USA,CA,SF Bay,San Carlos,2,...,2007.0,2008-11-24,2010-10-26,2012-08-10,2434 days,662 days,1363 days,2008-11-24,4000000.0,662 days
8033,/company/zubie,Zubie,hardware,8000000,operating,USA,SC,unknown,Sullivans Island,2,...,2012.0,2012-05-01,2013-09-16,2013-03-20,518 days,0 days,503 days,2013-09-16,8000000.0,503 days
8034,/company/zula,Zula,mobile,1000000,operating,USA,NY,New York,New York,1,...,2012.0,2013-05-22,2013-05-22,2013-07-11,579 days,447 days,447 days,NaT,NaN,NaT
8035,/company/zulama,Zulama,education,200000,operating,USA,PA,Pittsburg,Pittsburgh,1,...,2009.0,2013-02-02,2013-02-02,2009-01-01,1734 days,1493 days,1493 days,NaT,NaN,NaT
8036,/company/zuldi,Zuldi,mobile,20000,operating,USA,NV,Las Vegas,Las Vegas,1,...,2011.0,2013-06-12,2013-06-12,2013-05-30,670 days,559 days,559 days,NaT,NaN,NaT
8037,/company/zulily,zulily,ecommerce,138600000,operating,USA,WA,Seattle,Seattle,4,...,2009.0,2009-12-17,2012-11-15,2012-07-17,1461 days,77 days,1141 days,2009-12-17,4600000.0,77 days
8038,/company/zulu,Zulu,software,1070000,operating,USA,CA,SF Bay,San Jose,2,...,2012.0,2012-08-01,2013-03-26,2012-11-01,581 days,155 days,392 days,NaT,NaN,NaT
8039,/company/zumbox,Zumbox,web,28300000,operating,USA,CA,Los Angeles,Los Angeles,6,...,2006.0,2008-03-20,2012-07-10,2012-12-01,2557 days,536 days,2109 days,2008-03-20,3000000.0,536 days
8040,/company/zumeo-com,Zumeo.com,web,100000,operating,USA,OR,Medford,Medford,1,...,2007.0,2009-01-29,2009-01-29,2009-02-06,2345 days,639 days,639 days,NaT,NaN,NaT
8041,/company/zumobi,Zumobi,mobile,12000000,operating,USA,WA,Seattle,Seattle,1,...,2007.0,2007-05-07,2007-05-07,2011-12-17,2406 days,67 days,67 days,2007-05-07,12000000.0,67 days
8042,/company/zumper,Zumper,real_estate,1700000,operating,USA,CA,SF Bay,San Francisco,1,...,2012.0,2012-09-27,2012-09-27,2013-08-15,639 days,270 days,270 days,2012-09-27,1700000.0,270 days
8043,/company/zuora,Zuora,software,127500000,operating,USA,CA,SF Bay,Foster City,5,...,2007.0,2008-03-13,2013-09-05,2013-09-05,2465 days,437 days,2439 days,2008-03-13,6500000.0,437 days
8044,/company/zvents,Zvents,web,31200000,acquired,USA,CA,SF Bay,San Mateo,3,...,2005.0,2005-10-05,2008-09-30,2012-09-11,3136 days,218 days,1309 days,2006-11-07,7000000.0,616 days
8045,/company/zyme-solutions,Zyme Solutions,hardware,8040000,operating,USA,CA,SF Bay,Redwood Shores,3,...,2004.0,2005-09-12,2013-05-20,2013-04-01,3561 days,620 days,3427 days,2005-09-12,3040000.0,620 days
8046,/company/zynga,Zynga,games_video,860213000,ipo,USA,CA,SF Bay,San Francisco,8,...,2007.0,2007-01-01,2011-02-18,2013-09-30,2284 days,-181 days,1328 days,2008-01-01,15026000.0,184 days
8047,/company/x,[x+1],enterprise,45000000,operating,USA,NY,New York,New York,4,...,1999.0,2008-06-01,2013-04-04,2012-08-15,5387 days,3439 days,5207 days,2008-06-01,16000000.0,3439 days

In [213]:
# query='''SELECT * FROM df
#             LEFT JOIN angel
#             ON company_name = company_name'''

In [214]:
# df=pd.read_sql_query(query,cnx)

In [215]:
# query='''SELECT * FROM df
#             LEFT JOIN vent
#             ON company_name = company_name'''

In [216]:
# df=pd.read_sql_query(query,cnx)

In [421]:
df=pd.merge(df,angel,how='left', on='company_name')

In [422]:
df=pd.merge(df,vent,how='left', on='company_name')

In [423]:
df=pd.merge(df,crowd,how='left', on='company_name')

In [375]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 28 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             3477 non-null datetime64[ns]
sa_raised_amount_usd     3391 non-null float64
ag_funded_at             2877 non-null datetime64[ns]
ag_raised_amount_usd     2686 non-null float64
ve_funded_at             2519 non-null datetime64[ns]
ve_raised_amount_usd     2411 non-null float64
cr_funded_at             10 non-null datetime64[ns]
cr_raised_amount_usd     10 non-null float64
dtypes: datetime64[ns](7), float64(5), int64(1), object(12), timedelta64[ns](3)
memory usage: 1.8+ MB

In [424]:
df['founded_at']=pd.to_datetime(df['founded_at'])

In [425]:
df['ve_funded_at']=pd.to_datetime(df['ve_funded_at'])

In [426]:
df['sa_funded_at']=pd.to_datetime(df['sa_funded_at'])

In [427]:
df['cr_funded_at']=pd.to_datetime(df['cr_funded_at'])# to be run

In [428]:
df['first_funding_at']=pd.to_datetime(df['first_funding_at'])

In [429]:
df['cr_funded_daysop']=df['cr_funded_at']-df['founded_at'] # to be run

In [430]:
df['cr_funded_daysop']=df['cr_funded_daysop'].astype('timedelta64[D]')

In [431]:
df['sa_funded_daysop']=df['sa_funded_at']-df['founded_at']

In [432]:
df['ag_funded_daysop']=df['ag_funded_at']-df['founded_at']

In [433]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 31 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             3477 non-null datetime64[ns]
sa_raised_amount_usd     3391 non-null float64
sa_funded_daysop         3477 non-null timedelta64[ns]
ag_funded_at             2877 non-null datetime64[ns]
ag_raised_amount_usd     2686 non-null float64
ve_funded_at             2519 non-null datetime64[ns]
ve_raised_amount_usd     2411 non-null float64
cr_funded_at             10 non-null datetime64[ns]
cr_raised_amount_usd     10 non-null float64
cr_funded_daysop         10 non-null float64
ag_funded_daysop         2877 non-null timedelta64[ns]
dtypes: datetime64[ns](7), float64(6), int64(1), object(12), timedelta64[ns](5)
memory usage: 2.0+ MB

In [434]:
df['ve_funded_daysop']=df['ve_funded_at']-df['founded_at']

In [435]:
df['first_funding_dayinop']=df['first_funding_at']-df['founded_at']

In [436]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 32 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             3477 non-null datetime64[ns]
sa_raised_amount_usd     3391 non-null float64
sa_funded_daysop         3477 non-null timedelta64[ns]
ag_funded_at             2877 non-null datetime64[ns]
ag_raised_amount_usd     2686 non-null float64
ve_funded_at             2519 non-null datetime64[ns]
ve_raised_amount_usd     2411 non-null float64
cr_funded_at             10 non-null datetime64[ns]
cr_raised_amount_usd     10 non-null float64
cr_funded_daysop         10 non-null float64
ag_funded_daysop         2877 non-null timedelta64[ns]
ve_funded_daysop         2519 non-null timedelta64[ns]
dtypes: datetime64[ns](7), float64(6), int64(1), object(12), timedelta64[ns](6)
memory usage: 2.0+ MB

In [437]:
df.fillna(0, inplace=True)

In [438]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 32 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             8048 non-null object
sa_raised_amount_usd     8048 non-null float64
sa_funded_daysop         8048 non-null timedelta64[ns]
ag_funded_at             8048 non-null object
ag_raised_amount_usd     8048 non-null float64
ve_funded_at             8048 non-null object
ve_raised_amount_usd     8048 non-null float64
cr_funded_at             8048 non-null object
cr_raised_amount_usd     8048 non-null float64
cr_funded_daysop         8048 non-null float64
ag_funded_daysop         8048 non-null timedelta64[ns]
ve_funded_daysop         8048 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(6), int64(1), object(16), timedelta64[ns](6)
memory usage: 2.0+ MB

In [439]:
df['ag_funded_daysop']=df['ag_funded_daysop'].astype('timedelta64[D]')

In [440]:
df['ve_funded_daysop']=df['ve_funded_daysop'].astype('timedelta64[D]')

In [393]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 32 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null object
founded_quarter          8048 non-null object
founded_year             8048 non-null float64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null timedelta64[ns]
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             8048 non-null object
sa_raised_amount_usd     8048 non-null float64
ag_funded_at             8048 non-null object
ag_raised_amount_usd     8048 non-null float64
ve_funded_at             8048 non-null object
ve_raised_amount_usd     8048 non-null float64
cr_funded_at             8048 non-null object
cr_raised_amount_usd     8048 non-null float64
cr_funded_daysop         8048 non-null float64
sa_funded_daysop         8048 non-null timedelta64[ns]
ag_funded_daysop         8048 non-null float64
ve_funded_daysop         8048 non-null float64
dtypes: datetime64[ns](3), float64(8), int64(1), object(16), timedelta64[ns](4)
memory usage: 2.0+ MB

In [441]:
df['state_code'].value_counts()[:5]

CA    3566
NY    1020
MA     696
TX     307
WA     307
Name: state_code, dtype: int64

In [442]:
ind=df[df['state_code']=='CA'].index
df['CA']=0
df['CA'].iloc[ind]=1

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [443]:
df[df['CA']==1].index

Int64Index([   1,    2,    6,    7,    8,   12,   13,   16,   21,   27,
            ...
            8029, 8031, 8032, 8038, 8039, 8042, 8043, 8044, 8045, 8046],
           dtype='int64', length=3566)

In [444]:
ind=df[df['state_code']=='NY'].index
df['NY']=0
df['NY'].iloc[ind]=1

ind=df[df['state_code']=='MA'].index
df['MA']=0
df['MA'].iloc[ind]=1

ind=df[df['state_code']=='TX'].index
df['TX']=0
df['TX'].iloc[ind]=1

ind=df[df['state_code']=='WA'].index
df['WA']=0
df['WA'].iloc[ind]=1

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [445]:
df['country_code'].value_counts()[:5]

USA    8048
Name: country_code, dtype: int64

In [446]:
df['founded_year'] = df['founded_at'].dt.year
df['founded_month'] = df['founded_at'].dt.month

In [447]:
df['sa_funded_daysop']=df['sa_funded_daysop'].astype('timedelta64[D]')

In [448]:
df['first_funding_dayinop']=df['first_funding_dayinop'].astype('timedelta64[D]')

In [449]:
inf=pd.read_csv('inflation.csv')

In [450]:
df['founded_year']=df['founded_year'].astype(int)

In [451]:
inf['founded_year']=inf['YEAR']

In [452]:
df=pd.merge(df,inf[['founded_year', 'AVE']],how='left', on='founded_year')# AVE is the annual average inflation

In [453]:
cpi=pd.read_csv('cpi.csv')

In [454]:
cpi['founded_year']=cpi['YEAR']

In [455]:
cpi[['founded_year','adj_base2018']].head()

   founded_year  adj_base2018
0        2018.0          1.00
1        2017.0          0.97
2        2016.0          0.95
3        2015.0          0.94
4        2014.0          0.94

In [458]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 38 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null int64
founded_quarter          8048 non-null object
founded_year             8048 non-null int64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null float64
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             8048 non-null object
sa_raised_amount_usd     8048 non-null float64
sa_funded_daysop         8048 non-null float64
ag_funded_at             8048 non-null object
ag_raised_amount_usd     8048 non-null float64
ve_funded_at             8048 non-null object
ve_raised_amount_usd     8048 non-null float64
cr_funded_at             8048 non-null object
cr_raised_amount_usd     8048 non-null float64
cr_funded_daysop         8048 non-null float64
ag_funded_daysop         8048 non-null float64
ve_funded_daysop         8048 non-null float64
CA                       8048 non-null int64
NY                       8048 non-null int64
MA                       8048 non-null int64
TX                       8048 non-null int64
WA                       8048 non-null int64
AVE                      8046 non-null float64
dtypes: datetime64[ns](3), float64(10), int64(8), object(15), timedelta64[ns](2)
memory usage: 2.4+ MB

In [459]:
df.columns

Index(['permalink', 'company_name', 'category_code', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter',
       'founded_year', 'first_funding_at', 'last_funding_at',
       'last_milestone_at', 'days_in_op', 'first_funding_dayinop',
       'last_funding_dayinop', 'sa_funded_at', 'sa_raised_amount_usd',
       'sa_funded_daysop', 'ag_funded_at', 'ag_raised_amount_usd',
       've_funded_at', 've_raised_amount_usd', 'cr_funded_at',
       'cr_raised_amount_usd', 'cr_funded_daysop', 'ag_funded_daysop',
       've_funded_daysop', 'CA', 'NY', 'MA', 'TX', 'WA', 'AVE'],
      dtype='object')

In [460]:
df.columns=['permalink', 'company_name', 'category_code', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter',
       'founded_year', 'first_funding_at', 'last_funding_at',
       'last_milestone_at', 'days_in_op', 'first_funding_dayinop',
       'last_funding_dayinop', 'sa_funded_at', 'sa_raised_amount_usd',
       'sa_funded_daysop', 'ag_funded_at', 'ag_raised_amount_usd',
       've_funded_at', 've_raised_amount_usd', 'cr_funded_at',
       'cr_raised_amount_usd', 'cr_funded_daysop', 'ag_funded_daysop',
       've_funded_daysop', 'CA', 'NY', 'MA', 'TX', 'WA', 'ave_inf_y']

In [462]:
df=pd.merge(df,cpi[['founded_year','adj_base2018']],how='left', on='founded_year')# CPIt/CPI_2018, CPI consumer price index

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 39 columns):
permalink                8048 non-null object
company_name             8048 non-null object
category_code            8048 non-null object
funding_total_usd        8048 non-null object
status                   8048 non-null object
country_code             8048 non-null object
state_code               8048 non-null object
region                   8048 non-null object
city                     8048 non-null object
funding_rounds           8048 non-null int64
founded_at               8048 non-null datetime64[ns]
founded_month            8048 non-null int64
founded_quarter          8048 non-null object
founded_year             8048 non-null int64
first_funding_at         8048 non-null datetime64[ns]
last_funding_at          8048 non-null datetime64[ns]
last_milestone_at        8048 non-null object
days_in_op               8048 non-null timedelta64[ns]
first_funding_dayinop    8048 non-null float64
last_funding_dayinop     8048 non-null timedelta64[ns]
sa_funded_at             8048 non-null object
sa_raised_amount_usd     8048 non-null float64
sa_funded_daysop         8048 non-null float64
ag_funded_at             8048 non-null object
ag_raised_amount_usd     8048 non-null float64
ve_funded_at             8048 non-null object
ve_raised_amount_usd     8048 non-null float64
cr_funded_at             8048 non-null object
cr_raised_amount_usd     8048 non-null float64
cr_funded_daysop         8048 non-null float64
ag_funded_daysop         8048 non-null float64
ve_funded_daysop         8048 non-null float64
CA                       8048 non-null int64
NY                       8048 non-null int64
MA                       8048 non-null int64
TX                       8048 non-null int64
WA                       8048 non-null int64
ave_inf_y                8046 non-null float64
adj_base2018             8046 non-null float64
dtypes: datetime64[ns](3), float64(11), int64(8), object(15), timedelta64[ns](2)
memory usage: 2.5+ MB

In [464]:
df['sa_raised_amount_usd_adj']=df['sa_raised_amount_usd']*df['adj_base2018']

In [468]:
df['ag_raised_amount_usd_adj']=df['ag_raised_amount_usd']*df['adj_base2018']

In [469]:
df['ve_raised_amount_usd_adj']=df['ve_raised_amount_usd']*df['adj_base2018']

In [470]:
df['cr_raised_amount_usd_adj']=df['cr_raised_amount_usd']*df['adj_base2018']

In [471]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8048 entries, 0 to 8047
Data columns (total 43 columns):
permalink                   8048 non-null object
company_name                8048 non-null object
category_code               8048 non-null object
funding_total_usd           8048 non-null object
status                      8048 non-null object
country_code                8048 non-null object
state_code                  8048 non-null object
region                      8048 non-null object
city                        8048 non-null object
funding_rounds              8048 non-null int64
founded_at                  8048 non-null datetime64[ns]
founded_month               8048 non-null int64
founded_quarter             8048 non-null object
founded_year                8048 non-null int64
first_funding_at            8048 non-null datetime64[ns]
last_funding_at             8048 non-null datetime64[ns]
last_milestone_at           8048 non-null object
days_in_op                  8048 non-null timedelta64[ns]
first_funding_dayinop       8048 non-null float64
last_funding_dayinop        8048 non-null timedelta64[ns]
sa_funded_at                8048 non-null object
sa_raised_amount_usd        8048 non-null float64
sa_funded_daysop            8048 non-null float64
ag_funded_at                8048 non-null object
ag_raised_amount_usd        8048 non-null float64
ve_funded_at                8048 non-null object
ve_raised_amount_usd        8048 non-null float64
cr_funded_at                8048 non-null object
cr_raised_amount_usd        8048 non-null float64
cr_funded_daysop            8048 non-null float64
ag_funded_daysop            8048 non-null float64
ve_funded_daysop            8048 non-null float64
CA                          8048 non-null int64
NY                          8048 non-null int64
MA                          8048 non-null int64
TX                          8048 non-null int64
WA                          8048 non-null int64
ave_inf_y                   8046 non-null float64
adj_base2018                8046 non-null float64
sa_raised_amount_usd_adj    8046 non-null float64
ag_raised_amount_usd_adj    8046 non-null float64
ve_raised_amount_usd_adj    8046 non-null float64
cr_raised_amount_usd_adj    8046 non-null float64
dtypes: datetime64[ns](3), float64(15), int64(8), object(15), timedelta64[ns](2)
memory usage: 2.7+ MB

In [472]:
df.to_csv('start-up.csv')

In [473]:
!pwd

/Users/carolina/start-up-classification1

In [361]:
!cd ~/start-up-classification

In [362]:
!pwd

/Users/carolina/start-up-classification1