In [1]:
import requests
import time
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

In [2]:
from sqlalchemy import create_engine, inspect

In [3]:
from datetime import timedelta

In [4]:
from patsy import dmatrices

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
from sklearn.metrics import roc_curve, auc

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn import pipeline, preprocessing

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

In [10]:
from sklearn import naive_bayes
from sklearn.metrics import accuracy_score, classification_report

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Create_engine generally follows the format create_engine('postgresql://username:password@ip_address:port/dbname')
# For AWS RDS databases, the other info can be found under the instance description:
# username and password are defined on setup, ip_address = `Endpoint`, port = `5432`, and dbname = `DB Name`
cnx = create_engine('postgres://mcarolinag:password@startup.csnij2tssdck.us-west-2.rds.amazonaws.com:5432/startup', isolation_level='AUTOCOMMIT')

In [ ]:
conn = cnx.connect()

In [14]:

adq=pd.read_csv('./data/crunchbase-acquisitions.csv',encoding = "ISO-8859-1")

In [15]:
adq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6185 entries, 0 to 6184
Data columns (total 20 columns):
company_permalink         4651 non-null object
company_name              4651 non-null object
company_category_code     3933 non-null object
company_country_code      4651 non-null object
company_state_code        4543 non-null object
company_region            4651 non-null object
company_city              4532 non-null object
acquirer_permalink        4651 non-null object
acquirer_name             4651 non-null object
acquirer_category_code    4137 non-null object
acquirer_country_code     4384 non-null object
acquirer_state_code       3877 non-null object
acquirer_region           4651 non-null object
acquirer_city             4262 non-null object
acquired_at               4651 non-null object
acquired_month            4651 non-null object
acquired_quarter          4651 non-null object
acquired_year             4651 non-null float64
price_amount              1409 non-null float64
price_currency_code       4648 non-null object
dtypes: float64(2), object(18)
memory usage: 966.5+ KB

In [16]:

comp=pd.read_csv('./data/crunchbase-companies.csv',encoding = "ISO-8859-1")

In [17]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 17 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null object
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 2.3+ MB

In [50]:
comp2=comp

In [51]:
comp2['founded_at']=pd.to_datetime(comp2['founded_at'])

In [52]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 18 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null datetime64[ns]
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
days_in_op           13676 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(14), timedelta64[ns](1)
memory usage: 2.4+ MB

In [53]:
#date for database snapshot
reft='2013-10-01 00:00:00'

In [54]:
reft=pd.Series({'reft':reft})

In [55]:
reft=pd.to_datetime(reft)

In [56]:
reft[0]

Timestamp('2013-10-01 00:00:00')

In [57]:
comp2['founded_at'][0]

Timestamp('2012-06-01 00:00:00')

In [58]:
comp2['days_in_op']=reft[0]-comp2['founded_at']

In [59]:
comp2[['days_in_op','founded_at']]

      days_in_op founded_at
0       487 days 2012-06-01
1       639 days 2012-01-01
2       722 days 2011-10-10
3            NaT        NaT
4     10135 days 1986-01-01
5      4656 days 2001-01-01
6      1188 days 2010-07-01
7            NaT        NaT
8       746 days 2011-09-16
9      5022 days 2000-01-01
10     1644 days 2009-04-01
11      639 days 2012-01-01
12     1369 days 2010-01-01
13           NaT        NaT
14      725 days 2011-10-07
15      639 days 2012-01-01
16     2465 days 2007-01-01
17     1359 days 2010-01-11
18     1369 days 2010-01-01
19      884 days 2011-05-01
20     1600 days 2009-05-15
21     8674 days 1990-01-01
22     2679 days 2006-06-01
23     1919 days 2008-06-30
24           NaT        NaT
25      731 days 2011-10-01
26     4656 days 2001-01-01
27      670 days 2011-12-01
28     2100 days 2008-01-01
29      426 days 2012-08-01
...          ...        ...
17697   670 days 2011-12-01
17698        NaT        NaT
17699  1461 days 2009-10-01
17700   581 days 2012-02-28
17701  4656 days 2001-01-01
17702  2557 days 2006-10-01
17703  2625 days 2006-07-25
17704  2345 days 2007-05-01
17705  2406 days 2007-03-01
17706   639 days 2012-01-01
17707  2465 days 2007-01-01
17708        NaT        NaT
17709        NaT        NaT
17710  1369 days 2010-01-01
17711  1635 days 2009-04-10
17712  3136 days 2005-03-01
17713  1734 days 2009-01-01
17714  1004 days 2011-01-01
17715        NaT        NaT
17716        NaT        NaT
17717  2531 days 2006-10-27
17718  3561 days 2004-01-01
17719  2830 days 2006-01-01
17720  2284 days 2007-07-01
17721  2100 days 2008-01-01
17722        NaT        NaT
17723  1004 days 2011-01-01
17724        NaT        NaT
17725  5387 days 1999-01-01
17726   273 days 2013-01-01

[17727 rows x 2 columns]

In [60]:
comp2['days_in_op'][0]

Timedelta('487 days 00:00:00')

In [47]:
5*365*3

5475

In [61]:
comp2= comp2[(comp2['days_in_op']>'1825 days 00:00:00') & (comp2['days_in_op']<'5475 days 00:00:00' )]

In [62]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6530 entries, 5 to 17725
Data columns (total 18 columns):
permalink            6530 non-null object
name                 6530 non-null object
category_code        6417 non-null object
funding_total_usd    6082 non-null object
status               6530 non-null object
country_code         6530 non-null object
state_code           6459 non-null object
region               6530 non-null object
city                 6449 non-null object
funding_rounds       6530 non-null int64
founded_at           6530 non-null datetime64[ns]
founded_month        6530 non-null object
founded_quarter      6530 non-null object
founded_year         6530 non-null float64
first_funding_at     6467 non-null object
last_funding_at      6467 non-null object
last_milestone_at    4181 non-null object
days_in_op           6530 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(14), timedelta64[ns](1)
memory usage: 969.3+ KB

In [63]:
comp2['first_funding_at']=pd.to_datetime(comp2['first_funding_at'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [64]:
comp2['last_funding_at']=pd.to_datetime(comp2['last_funding_at'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
comp2['first_funding_dayinop']=comp2['first_funding_at']-comp2['founded_at']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
comp2['last_funding_dayinop']=comp2['last_funding_at']-comp2['founded_at']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [67]:
comp2.drop_duplicates(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [68]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6530 entries, 5 to 17725
Data columns (total 20 columns):
permalink                6530 non-null object
name                     6530 non-null object
category_code            6417 non-null object
funding_total_usd        6082 non-null object
status                   6530 non-null object
country_code             6530 non-null object
state_code               6459 non-null object
region                   6530 non-null object
city                     6449 non-null object
funding_rounds           6530 non-null int64
founded_at               6530 non-null datetime64[ns]
founded_month            6530 non-null object
founded_quarter          6530 non-null object
founded_year             6530 non-null float64
first_funding_at         6467 non-null datetime64[ns]
last_funding_at          6467 non-null datetime64[ns]
last_milestone_at        4181 non-null object
days_in_op               6530 non-null timedelta64[ns]
first_funding_dayinop    6467 non-null timedelta64[ns]
last_funding_dayinop     6467 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(12), timedelta64[ns](3)
memory usage: 1.0+ MB

In [69]:
comp2.dropna(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [71]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3817 entries, 9 to 17725
Data columns (total 20 columns):
permalink                3817 non-null object
name                     3817 non-null object
category_code            3817 non-null object
funding_total_usd        3817 non-null object
status                   3817 non-null object
country_code             3817 non-null object
state_code               3817 non-null object
region                   3817 non-null object
city                     3817 non-null object
funding_rounds           3817 non-null int64
founded_at               3817 non-null datetime64[ns]
founded_month            3817 non-null object
founded_quarter          3817 non-null object
founded_year             3817 non-null float64
first_funding_at         3817 non-null datetime64[ns]
last_funding_at          3817 non-null datetime64[ns]
last_milestone_at        3817 non-null object
days_in_op               3817 non-null timedelta64[ns]
first_funding_dayinop    3817 non-null timedelta64[ns]
last_funding_dayinop     3817 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(12), timedelta64[ns](3)
memory usage: 626.2+ KB

In [72]:
comp2

,permalink,name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at,last_milestone_at,days_in_op,first_funding_dayinop,last_funding_dayinop
9,/company/1010data,1010data,software,35000000,operating,USA,NY,New York,New York,1,2000-01-01,2000-01,2000-Q1,2000.0,2010-03-08,2010-03-08,2012-01-01,5022 days,3719 days,3719 days
16,/company/1366-technologies,1366 Technologies,manufacturing,48950000,operating,USA,MA,Boston,Lexington,6,2007-01-01,2007-01,2007-Q1,2007.0,2008-03-27,2011-02-07,2011-06-17,2465 days,451 days,1498 days
26,/company/1stdibs,1stdibs,ecommerce,42000000,operating,USA,NY,New York,New York,3,2001-01-01,2001-01,2001-Q1,2001.0,2011-11-03,2012-12-03,2011-11-01,4656 days,3958 days,4354 days
30,/company/20x200,20x200,ecommerce,2800000,operating,USA,NY,New York,New York,2,2007-09-01,2007-09,2007-Q3,2007.0,2009-10-01,2010-08-01,2012-10-01,2222 days,761 days,1065 days
32,/company/23andme,23andMe,biotech,160549892,operating,USA,CA,SF Bay,Mountain View,6,2006-04-01,2006-04,2006-Q2,2006.0,2007-05-01,2012-12-21,2012-09-17,2740 days,395 days,2456 days
40,/company/2go-software-solutions,2GO Mobile Solutions,software,825000,operating,USA,TX,Dallas,Plano,1,2008-01-01,2008-01,2008-Q1,2008.0,2010-01-09,2010-01-09,2009-08-01,2100 days,739 days,739 days
44,/company/2u,2U,education,90775000,operating,USA,MD,Washington DC,Landover,5,2008-01-01,2008-01,2008-Q1,2008.0,2009-03-25,2012-04-02,2012-11-15,2100 days,449 days,1553 days
45,/company/3-v-biosciences,3-V Biosciences,biotech,70000000,operating,USA,CA,SF Bay,Palo Alto,3,2007-03-01,2007-03,2007-Q1,2007.0,2009-07-10,2013-06-21,2012-01-01,2406 days,862 days,2304 days
47,/company/33across,33Across,advertising,24134560,operating,USA,NY,New York,New York,4,2007-09-01,2007-09,2007-Q3,2007.0,2009-03-13,2012-07-19,2013-09-03,2222 days,559 days,1783 days
64,/company/3jam,3Jam,mobile,4000000,operating,USA,CA,SF Bay,San Francisco,1,2005-01-01,2005-01,2005-Q1,2005.0,2007-07-01,2007-07-01,2009-12-21,3195 days,911 days,911 days
65,/company/3leaf,3Leaf,software,65000000,operating,USA,CA,SF Bay,Santa Clara,3,2004-06-01,2004-06,2004-Q2,2004.0,2007-04-30,2008-09-22,2007-08-01,3409 days,1063 days,1574 days
66,/company/three-pillar-global,3Pillar Global,software,22520000,operating,USA,VA,Washington DC,Fairfax,3,2006-08-01,2006-08,2006-Q3,2006.0,2010-04-21,2013-06-06,2013-03-01,2618 days,1359 days,2501 days
67,/company/3play-media,3Play Media,software,961601,operating,USA,MA,Boston,Cambridge,2,2007-01-01,2007-01,2007-Q1,2007.0,2010-02-08,2011-06-21,2007-01-01,2465 days,1134 days,1632 days
71,/company/3vr-security,3VR,security,53000000,operating,USA,CA,SF Bay,San Francisco,5,2002-01-01,2002-01,2002-Q1,2002.0,2006-01-17,2010-12-21,2012-08-01,4291 days,1477 days,3276 days
73,/company/40billion-com,40billion.com,social,1050000,operating,USA,GA,Atlanta,Atlanta,3,2008-01-23,2008-01,2008-Q1,2008.0,2008-04-01,2010-06-01,2008-01-01,2078 days,69 days,860 days
75,/company/41st-parameter,41st Parameter,security,38064570,operating,USA,CA,SF Bay,San Jose,4,2004-01-01,2004-01,2004-Q1,2004.0,2006-05-08,2012-04-11,2012-04-12,3561 days,858 days,3023 days
82,/company/4info,4INFO,advertising,60000000,operating,USA,CA,SF Bay,San Mateo,6,2004-01-01,2004-01,2004-Q1,2004.0,2005-03-01,2013-08-04,2012-04-01,3561 days,425 days,3503 days
83,/company/4moms,4moms,hardware,20000000,operating,USA,PA,Pittsburg,Pittsburgh,1,2005-01-01,2005-01,2005-Q1,2005.0,2012-08-09,2012-08-09,2013-01-18,3195 days,2777 days,2777 days
84,/company/4s3-bioscience,4s3 Bioscience,biotech,20000000,operating,USA,MA,Boston,Medford,1,2007-01-01,2007-01,2007-Q1,2007.0,2012-03-05,2012-03-05,2008-01-01,2465 days,1890 days,1890 days
88,/company/5min,5min Media,games_video,12800000,acquired,USA,NY,New York,NY,3,2007-01-01,2007-01,2007-Q1,2007.0,2007-04-01,2009-07-23,2011-10-11,2465 days,90 days,934 days
90,/company/5th-finger,5th Finger,mobile,7000000,operating,USA,CA,SF Bay,San Francisco,1,2008-01-01,2008-01,2008-Q1,2008.0,2008-06-13,2008-06-13,2012-07-11,2100 days,164 days,164 days
93,/company/6fusion,6fusion,enterprise,12750000,operating,USA,NC,Raleigh-Durham,Raleigh,3,2008-01-01,2008-01,2008-Q1,2008.0,2010-08-23,2013-07-25,2011-08-22,2100 days,965 days,2032 days
95,/company/7-billion-people,7 Billion People,software,7952804,operating,USA,TX,Austin,Austin,4,2006-01-01,2006-01,2006-Q1,2006.0,2009-02-09,2012-07-13,2010-06-22,2830 days,1135 days,2385 days
107,/company/8tracks,8tracks Radio,music,1200000,operating,USA,CA,SF Bay,San Francisco,1,2008-08-08,2008-08,2008-Q3,2008.0,2011-10-01,2011-10-01,2013-08-01,1880 days,1149 days,1149 days
111,/company/99designs,99designs,design,35000000,operating,USA,CA,SF Bay,San Francisco,1,2008-02-01,2008-02,2008-Q1,2008.0,2011-04-28,2011-04-28,2013-08-13,2069 days,1182 days,1182 days
118,/company/a-la-mobile,A la Mobile,software,7550000,operating,USA,KS,SF Bay,San Ramon,2,2005-06-01,2005-06,2005-Q2,2005.0,2005-07-01,2007-03-01,2012-01-01,3044 days,30 days,638 days
120,/company/a10-networks,A10 Networks,network_hosting,38000000,operating,USA,CA,SF Bay,San Jose,3,2004-10-01,2004-10,2004-Q4,2004.0,2005-01-01,2008-07-14,2013-02-18,3287 days,92 days,1382 days
121,/company/a123systems,A123 Systems,nanotech,502860000,ipo,USA,MA,Boston,Watertown,8,2001-01-01,2001-01,2001-Q1,2001.0,2005-11-01,2012-06-07,2011-06-17,4656 days,1765 days,4175 days
123,/company/aardvark,Aardvark,web,6000000,acquired,USA,CA,SF Bay,San Francisco,2,2007-07-01,2007-07,2007-Q3,2007.0,2007-01-01,2008-10-01,2012-02-04,2284 days,-181 days,458 days
126,/company/abacast-inc,Abacast,analytics,500000,operating,USA,WA,Vancouver,Vancouver,1,2000-04-02,2000-04,2000-Q2,2000.0,2010-11-11,2010-11-11,2011-12-13,4930 days,3875 days,3875 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17613,/company/zimplemoney,ZimpleMoney,software,600000,operating,USA,CA,Los Angeles,Costa Mesa,1,2008-01-03,2008-01,2008-Q1,2008.0,2011-12-29,2011-12-29,2009-01-07,2098 days,1456 days,1456 days
17615,/company/zinch,Zinch,web,5000000,acquired,USA,CA,SF Bay,San Francisco,2,2007-02-01,2007-02,2007-Q1,2007.0,2007-12-01,2009-10-20,2011-11-16,2434 days,303 days,992 days
17616,/company/zing,Zing Systems,games_video,26000000,acquired,USA,CA,SF Bay,Mountain View,2,2007-06-01,2007-06,2007-Q2,2007.0,2006-12-01,2007-01-01,2013-03-07,2314 days,-182 days,-151 days
17627,/company/zipcar,Zipcar,transportation,60704370,acquired,USA,GA,NW Atlanta,NW Atlanta,4,2000-10-31,2000-10,2000-Q4,2000.0,2002-12-20,2010-12-15,2013-01-04,4718 days,780 days,3697 days
17632,/company/zipline-medical,Zipline Medical,medical,6000000,operating,USA,CA,SF Bay,Campbell,2,2007-01-01,2007-01,2007-Q1,2007.0,2009-12-21,2012-04-10,2011-01-01,2465 days,1085 days,1926 days
17640,/company/ziptronix,Ziptronix,semiconductor,10000000,operating,USA,NC,Raleigh-Durham,Morrisville,2,2000-01-01,2000-01,2000-Q1,2000.0,2005-08-11,2007-01-12,2004-01-01,5022 days,2049 days,2568 days
17644,/company/zivity,Zivity,network_hosting,8000000,operating,USA,CA,SF Bay,San Francisco,2,2007-01-01,2007-01,2007-Q1,2007.0,2007-08-01,2008-03-08,2013-04-21,2465 days,212 days,432 days
17647,/company/zocdoc,ZocDoc,health,97000000,operating,USA,NY,New York,New York,4,2007-09-18,2007-09,2007-Q3,2007.0,2008-08-18,2013-06-24,2013-07-01,2205 days,335 days,2106 days
17649,/company/zogenix,Zogenix,biotech,163962156,operating,USA,CA,San Diego,San Diego,5,2006-01-01,2006-01,2006-Q1,2006.0,2006-08-28,2010-07-13,2010-11-24,2830 days,239 days,1654 days
17654,/company/zonare-medical-systems,Zonare Medical Systems,biotech,30000000,acquired,USA,CA,SF Bay,Mountain View,1,1999-01-01,1999-01,1999-Q1,1999.0,2008-02-21,2008-02-21,2012-01-01,5387 days,3338 days,3338 days
17656,/company/zong,Zong,mobile,27500000,acquired,USA,CA,SF Bay,Menlo Park,3,2000-11-15,2000-11,2000-Q4,2000.0,2005-07-01,2010-04-26,2011-07-08,4703 days,1689 days,3449 days
17662,/company/zoodles,Zoodles,games_video,2600000,operating,USA,CA,SF Bay,Mountain View,1,2008-01-01,2008-01,2008-Q1,2008.0,2010-05-12,2010-05-12,2012-01-01,2100 days,862 days,862 days
17669,/company/zoomingo,Zoomingo,ecommerce,2025000,operating,USA,MA,Boston,Waltham,3,2000-01-01,2000-01,2000-Q1,2000.0,2011-11-14,2013-06-23,2012-04-09,5022 days,4335 days,4922 days
17672,/company/zoomsystems,ZoomSystems,hardware,87000000,operating,USA,CA,SF Bay,San Francisco,5,2002-01-01,2002-01,2002-Q1,2002.0,2005-07-19,2010-01-14,2010-09-01,4291 days,1295 days,2935 days
17678,/company/zoosk,Zoosk,social,61600000,operating,USA,CA,SF Bay,San Francisco,5,2007-11-01,2007-11,2007-Q4,2007.0,2007-11-01,2012-01-01,2012-11-01,2161 days,0 days,1522 days
17679,/company/zoove,Zoove,mobile,54800000,operating,USA,NY,SF Bay,Palo Alto,5,2004-03-01,2004-03,2004-Q1,2004.0,2006-06-20,2013-05-14,2013-04-01,3501 days,841 days,3361 days
17680,/company/zorap,Zorap,web,2251000,closed,USA,ME,Falmouth,Falmouth,2,2008-04-21,2008-04,2008-Q2,2008.0,2009-11-01,2010-10-18,2010-10-18,1989 days,559 days,910 days
17682,/company/zounds,Zounds,biotech,29377000,operating,USA,AZ,Phoenix,Phoenix,2,2005-01-01,2005-01,2005-Q1,2005.0,2007-02-14,2011-11-09,2013-05-16,3195 days,774 days,2503 days
17683,/company/zozi,zozi,ecommerce,21300000,operating,USA,CA,SF Bay,San Francisco,4,2007-01-01,2007-01,2007-Q1,2007.0,2008-08-01,2013-04-04,2013-08-07,2465 days,578 days,2285 days
17685,/company/zs-genetics,ZS Genetics,biotech,923000,operating,USA,MA,Boston,Wakefield,2,2005-01-01,2005-01,2005-Q1,2005.0,2012-01-06,2012-01-06,2013-07-09,3195 days,2561 days,2561 days
17687,/company/zscaler,Zscaler,security,38000000,operating,USA,CA,SF Bay,San Jose,1,2007-01-01,2007-01,2007-Q1,2007.0,2012-08-30,2012-08-30,2012-08-30,2465 days,2068 days,2068 days
17689,/company/zuberance,Zuberance,advertising,12000000,operating,USA,CA,SF Bay,San Carlos,2,2007-02-01,2007-02,2007-Q1,2007.0,2008-11-24,2010-10-26,2012-08-10,2434 days,662 days,1363 days
17702,/company/zumbox,Zumbox,web,28300000,operating,USA,CA,Los Angeles,Los Angeles,6,2006-10-01,2006-10,2006-Q4,2006.0,2008-03-20,2012-07-10,2012-12-01,2557 days,536 days,2109 days
17704,/company/zumeo-com,Zumeo.com,web,100000,operating,USA,OR,Medford,Medford,1,2007-05-01,2007-05,2007-Q2,2007.0,2009-01-29,2009-01-29,2009-02-06,2345 days,639 days,639 days
17705,/company/zumobi,Zumobi,mobile,12000000,operating,USA,WA,Seattle,Seattle,1,2007-03-01,2007-03,2007-Q1,2007.0,2007-05-07,2007-05-07,2011-12-17,2406 days,67 days,67 days
17707,/company/zuora,Zuora,software,127500000,operating,USA,CA,SF Bay,Foster City,5,2007-01-01,2007-01,2007-Q1,2007.0,2008-03-13,2013-09-05,2013-09-05,2465 days,437 days,2439 days
17712,/company/zvents,Zvents,web,31200000,acquired,USA,CA,SF Bay,San Mateo,3,2005-03-01,2005-03,2005-Q1,2005.0,2005-10-05,2008-09-30,2012-09-11,3136 days,218 days,1309 days
17718,/company/zyme-solutions,Zyme Solutions,hardware,8040000,operating,USA,CA,SF Bay,Redwood Shores,3,2004-01-01,2004-01,2004-Q1,2004.0,2005-09-12,2013-05-20,2013-04-01,3561 days,620 days,3427 days
17720,/company/zynga,Zynga,games_video,860213000,ipo,USA,CA,SF Bay,San Francisco,8,2007-07-01,2007-07,2007-Q3,2007.0,2007-01-01,2011-02-18,2013-09-30,2284 days,-181 days,1328 days
17725,/company/x,[x+1],enterprise,45000000,operating,USA,NY,New York,New York,4,1999-01-01,1999-01,1999-Q1,1999.0,2008-06-01,2013-04-04,2012-08-15,5387 days,3439 days,5207 days

In [73]:

invs=pd.read_csv('./data/crunchbase-investments.csv',encoding = "ISO-8859-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [74]:
invs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB

In [75]:
invs

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0
5,/company/tackk,Tackk,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-02-01,2012-02,2012-Q1,2012.0,20000.0
6,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-06-01,2012-06,2012-Q2,2012.0,20000.0
7,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-08-07,2012-08,2012-Q3,2012.0,70000.0
8,/company/toviefor,ToVieFor,ecommerce,USA,NY,New York,New York,/company/2010-nyu-stern-business-plan-competition,2010 NYU Stern Business Plan Competition,NaN,NaN,NaN,unknown,NaN,angel,2010-04-01,2010-04,2010-Q2,2010.0,75000.0
9,/company/ohk-labs,OHK Labs,sports,USA,FL,Palm Beach,Boca Raton,/company/22hundred-group,22Hundred Group,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,100000.0
10,/company/lovely,Lovely,real_estate,USA,CA,SF Bay,San Francisco,/company/3taps,3taps,web,USA,CA,SF Bay,San Francisco,series-a,2012-10-01,2012-10,2012-Q4,2012.0,2000000.0
11,/company/peertransfer,peerTransfer,finance,USA,MA,Boston,Boston,/company/500-hats,500 Hats,NaN,USA,CA,SF Bay,Palo Alto,angel,2010-10-28,2010-10,2010-Q4,2010.0,1100000.0
12,/company/spotdock,spotdock,web,USA,NY,New York,NYC,/company/9mmedia-llc,"9mmedia, LLC",NaN,NaN,NaN,unknown,NaN,angel,2012-01-10,2012-01,2012-Q1,2012.0,600000.0
13,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,series-a,2010-05-01,2010-05,2010-Q2,2010.0,189000000.0
14,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,venture,2011-02-22,2011-02,2011-Q1,2011.0,150000000.0
15,/company/metroflats-com,MetroFlats.com,travel,USA,NJ,Cedar Grove,Cedar Grove,/company/aa-investments,AA Investments,NaN,BMU,NaN,Bermuda - Other,NaN,angel,2010-08-18,2010-08,2010-Q3,2010.0,NaN
16,/company/mesocoat,MesoCoat,nanotech,USA,OH,Cleveland,Euclid,/company/abakan-inc,Abakan,cleantech,USA,FL,Miami,Miami,venture,2009-12-14,2009-12,2009-Q4,2009.0,NaN
17,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,series-b,2010-07-15,2010-07,2010-Q3,2010.0,106000000.0
18,/company/power-assure,Power Assure,network_hosting,USA,CA,SF Bay,Santa Clara,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-09-20,2010-09,2010-Q3,2010.0,1500000.0
19,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-12-21,2010-12,2010-Q4,2010.0,NaN
20,/company/ecotality,ECOtality,cleantech,USA,CA,SF Bay,San Francisco,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2011-01-09,2011-01,2011-Q1,2011.0,10000000.0
21,/company/evalve,Evalve,biotech,USA,CA,SF Bay,Menlo Park,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-c+,2007-11-27,2007-11,2007-Q4,2007.0,60000000.0
22,/company/ovalis,Ovalis,biotech,USA,CA,SF Bay,Mountain View,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-b,2007-01-30,2007-01,2007-Q1,2007.0,6600000.0
23,/company/alvine-pharmaceuticals,Alvine Pharmaceuticals,biotech,USA,CA,SF Bay,San Carlos,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,private-equity,2013-05-14,2013-05,2013-Q2,2013.0,70000000.0
24,/company/avaxia-biologics,Avaxia Biologics,biotech,USA,MA,Boston,Lexington,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-06-07,2013-06,2013-Q2,2013.0,11500000.0
25,/company/aurasense-therapeutics,AuraSense Therapeutics,biotech,USA,IL,Chicago,Evanston,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-07-31,2013-07,2013-Q3,2013.0,NaN
26,/company/librarything,LibraryThing,web,USA,ME,Portland,Portland,/company/abebooks,AbeBooks,web,CAN,NaN,Victoria,Victoria,series-a,2006-05-16,2006-05,2006-Q2,2006.0,NaN
27,/company/heliovolt,HelioVolt,cleantech,USA,TX,Austin,Austin,/company/abengoa-solar,Abengoa Solar,cleantech,ESP,NaN,Sevilla,Sevilla,series-b,2007-10-23,2007-10,2007-Q4,2007.0,101000000.0
28,/company/airband-communications-holdings,Airband Communications Holdings,mobile,USA,TX,Dallas,Dallas,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,venture,2011-08-11,2011-08,2011-Q3,2011.0,20000000.0
29,/company/xand,Xand,software,USA,NY,New York,Hawthorne,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,other,2013-09-12,2013-09,2013-Q3,2013.0,200000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,/company/meddik,Meddik,health,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012.0,750000.0
52841,/company/blue-apron,Blue Apron,hospitality,USA,NY,New York,Brooklyn,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013.0,3000000.0
52842,/company/chatid,ChatID,mobile,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,NaN
52843,/company/breakthrough-behavioral,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012.0,900000.0
52844,/company/plaid,Plaid,software,USA,CA,SF Bay,San Francisco,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013.0,2800000.0
52845,/company/pokitdok,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,/person/zach-zeitlin,Zach Zeitlin,NaN,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012.0,1300000.0
52846,/company/fitocracy,Fitocracy,web,USA,NY,New York,New York,/person/zachary-aarons,Zachary Aarons,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,250000.0
52847,/company/square,Square,mobile,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009.0,10000000.0
52848,/company/mixrank,MixRank,advertising,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011.0,1500000.0
52849,/company/socialcam,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012.0,NaN
52850,/company/nuzzel,Nuzzel,news,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012.0,1700000.0
52851,/company/thirdlove,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012.0,5600000.0
52852,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,300000.0
52853,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011.0,300000.0
52854,/company/verious,Verious,mobile,USA,CA,SF Bay,San Carlos,/person/zain-khan,Zain Khan,NaN,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011.0,800000.0
52855,/company/identified-com,Identified,analytics,USA,CA,SF Bay,San Francisco,/person/zao-yang,Zao Yang,NaN,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012.0,21000000.0
52856,/company/haulerdeals,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,/person/zaw-thet,Zaw Thet,NaN,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012.0,1250000.0
52857,/company/when-you-wish,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,/person/zelda-marzec,Zelda Marzec,NaN,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011.0,1500000.0
52858,/company/farmeron,Farmeron,analytics,USA,CA,SF Bay,Mountain View,/person/zeljko-mataija,Zeljko Mataija,NaN,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010.0,15000.0
52859,/company/theraclone-sciences,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,/person/zenyaku-kogyo,Zenyaku Kogyo,NaN,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013.0,8000000.0
52860,/company/simplegeo,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,/person/ziv-navoth,Ziv Navoth,NaN,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009.0,195000.0
52861,/company/open-me,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,/person/ziver-birg,Ziver Birg,NaN,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013.0,NaN
52862,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zod-nazem,Zod Nazem,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52863,/company/payoneer,Payoneer,other,USA,NY,New York,New York,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005.0,2000000.0
52864,/company/outbrain,Outbrain,web,USA,NY,New York,New York City,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009.0,12000000.0
52865,/company/garantia-data,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012.0,3800000.0
52866,/company/duda-mobile,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013.0,10300000.0
52867,/company/sitebrains,SiteBrains,software,USA,CA,SF Bay,San Francisco,/person/zohar-israel,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010.0,350000.0
52868,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zorba-lieberman,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52869,/company/smartthings,SmartThings,mobile,USA,DC,unknown,Minneapolis,/person/zorik-gordon,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012.0,3000000.0

In [76]:

rds=pd.read_csv('./data/crunchbase-rounds.csv',encoding = "ISO-8859-1")

In [77]:
rds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31679 entries, 0 to 31678
Data columns (total 13 columns):
company_permalink        31679 non-null object
company_name             31679 non-null object
company_category_code    31215 non-null object
company_country_code     31679 non-null object
company_state_code       31334 non-null object
company_region           31679 non-null object
company_city             31329 non-null object
funding_round_type       31679 non-null object
funded_at                31679 non-null object
funded_month             31679 non-null object
funded_quarter           31679 non-null object
funded_year              31679 non-null int64
raised_amount_usd        29100 non-null float64
dtypes: float64(1), int64(1), object(11)
memory usage: 3.1+ MB

In [78]:
rds

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/waywire,#waywire,news,USA,NY,New York,New York,series-a,2012-06-30,2012-06,2012-Q2,2012,1750000.0
1,/company/n-plusn,#NAME?,software,USA,NY,New York,New York,angel,2012-08-29,2012-08,2012-Q3,2012,600000.0
2,/company/club-domains,.Club Domains,software,USA,FL,Fort Lauderdale,Oakland Park,series-b,2013-05-31,2013-05,2013-Q2,2013,7000000.0
3,/company/0xdata,0xdata,analytics,USA,CA,SF Bay,Mountain View,venture,2013-01-03,2013-01,2013-Q1,2013,1700000.0
4,/company/1-800-dentist,1-800-DENTIST,health,USA,CA,Los Angeles,Los Angeles,venture,2010-08-19,2010-08,2010-Q3,2010,NaN
5,/company/10-20-media,10-20 Media,ecommerce,USA,MD,Washington DC,Woodbine,other,2010-03-30,2010-03,2010-Q1,2010,250000.0
6,/company/10-20-media,10-20 Media,ecommerce,USA,MD,Washington DC,Woodbine,other,2011-12-28,2011-12,2011-Q4,2011,500000.0
7,/company/1000memories,1000memories,web,USA,CA,SF Bay,San Francisco,angel,2010-01-01,2010-01,2010-Q1,2010,15000.0
8,/company/1000memories,1000memories,web,USA,CA,SF Bay,San Francisco,series-a,2011-02-16,2011-02,2011-Q1,2011,2520000.0
9,/company/1000museums-com,1000museums.com,web,USA,WA,Seattle,Bellevue,other,2013-04-08,2013-04,2013-Q2,2013,647879.0
10,/company/1000museums-com,1000museums.com,web,USA,WA,Seattle,Bellevue,other,2012-05-31,2012-05,2012-Q2,2012,160000.0
11,/company/100plus,100Plus,analytics,USA,CA,SF Bay,San Francisco,venture,2011-11-02,2011-11,2011-Q4,2011,500000.0
12,/company/100plus,100Plus,analytics,USA,CA,SF Bay,San Francisco,angel,2011-11-30,2011-11,2011-Q4,2011,750000.0
13,/company/1010data,1010data,software,USA,NY,New York,New York,venture,2010-03-08,2010-03,2010-Q1,2010,35000000.0
14,/company/10bestthings,10BestThings,web,USA,OH,Cleveland,Cleveland,angel,2009-04-01,2009-04,2009-Q2,2009,50000.0
15,/company/10x-technologies,10X Technologies,biotech,USA,CA,SF Bay,Oakland,other,2012-11-07,2012-11,2012-Q4,2012,3000000.0
16,/company/10x10-room,10X10 Room,software,USA,MA,Boston,Lexington,other,2011-10-12,2011-10,2011-Q4,2011,77500.0
17,/company/11i-solutions,11i Solutions,enterprise,USA,AL,Huntsville,Huntsville,venture,2011-03-22,2011-03,2011-Q1,2011,1800000.0
18,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2012-02-06,2012-02,2012-Q1,2012,14000.0
19,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2012-04-20,2012-04,2012-Q2,2012,55000.0
20,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,angel,2013-01-22,2013-01,2013-Q1,2013,500000.0
21,/company/121nexus,121nexus,software,USA,RI,Providence,Providence,other,2013-07-01,2013-07,2013-Q3,2013,150000.0
22,/company/12society,12Society,ecommerce,USA,CA,Los Angeles,West Hollywood,angel,2012-04-05,2012-04,2012-Q2,2012,NaN
23,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,venture,2010-02-03,2010-02,2010-Q1,2010,5150000.0
24,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-b,2010-10-19,2010-10,2010-Q4,2010,20000000.0
25,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-a,2008-03-27,2008-03,2008-Q1,2008,12400000.0
26,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-b,2010-12-16,2010-12,2010-Q4,2010,6000000.0
27,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,series-b,2011-01-14,2011-01,2011-Q1,2011,2400000.0
28,/company/1366-technologies,1366 Technologies,manufacturing,USA,MA,Boston,Lexington,other,2011-02-07,2011-02,2011-Q1,2011,3000000.0
29,/company/140-proof,140 Proof,advertising,USA,CA,SF Bay,San Francisco,series-b,2011-04-28,2011-04,2011-Q2,2011,2500000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
31649,/company/zweemie,Zweemie,messaging,USA,MI,Grand Blanc,Grand Blanc,venture,2010-06-03,2010-06,2010-Q2,2010,250000.0
31650,/company/zwittle,Zwittle,software,USA,UT,Salt Lake City,Logan,venture,2012-04-19,2012-04,2012-Q2,2012,190000.0
31651,/company/zyga-technology,Zyga Technology,medical,USA,MN,Minneapolis,Minnetonka,series-c+,2012-05-16,2012-05,2012-Q2,2012,25000000.0
31652,/company/zygo-corporation,Zygo Corporation,manufacturing,USA,CT,Middlefield,Middlefield,venture,2011-10-24,2011-10,2011-Q4,2011,9000000.0
31653,/company/zykis,Zykis,public_relations,USA,CA,Los Angeles,Irvine,angel,2006-10-27,2006-10,2006-Q4,2006,800000.0
31654,/company/zyme-solutions,Zyme Solutions,hardware,USA,CA,SF Bay,Redwood Shores,series-a,2005-09-12,2005-09,2005-Q3,2005,3040000.0
31655,/company/zyme-solutions,Zyme Solutions,hardware,USA,CA,SF Bay,Redwood Shores,private-equity,2013-05-20,2013-05,2013-Q2,2013,5000000.0
31656,/company/zyme-solutions,Zyme Solutions,hardware,USA,CA,SF Bay,Redwood Shores,private-equity,2013-05-20,2013-05,2013-Q2,2013,NaN
31657,/company/zymetis,Zymetis,biotech,USA,MD,Washington DC,College Park,venture,2010-01-11,2010-01,2010-Q1,2010,757464.0
31658,/company/zymetis,Zymetis,biotech,USA,MD,Washington DC,College Park,other,2010-01-31,2010-01,2010-Q1,2010,1500000.0
31659,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-a,2008-01-01,2008-01,2008-Q1,2008,10000000.0
31660,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2008-07-18,2008-07,2008-Q3,2008,25000000.0
31661,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,angel,2007-01-01,2007-01,2007-Q1,2007,NaN
31662,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2009-11-04,2009-11,2009-Q4,2009,15187000.0
31663,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2010-06-14,2010-06,2010-Q2,2010,300000000.0
31664,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-c+,2011-02-18,2011-02,2011-Q1,2011,490000000.0
31665,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-a,2008-02-12,2008-02,2008-Q1,2008,5026000.0
31666,/company/zynga,Zynga,games_video,USA,CA,SF Bay,San Francisco,series-b,2010-04-24,2010-04,2010-Q2,2010,15000000.0
31667,/company/zyngenia,Zyngenia,biotech,USA,MD,Washington DC,Gaithersburg,series-a,2010-09-09,2010-09,2010-Q3,2010,25000000.0
31668,/company/zyomyx-inc,ZYOMYX,biotech,USA,NaN,SF Bay,Fremont,series-b,2013-06-30,2013-06,2013-Q2,2013,12000000.0
31669,/company/zyomyx-inc,ZYOMYX,biotech,USA,NaN,SF Bay,Fremont,venture,2013-07-11,2013-07,2013-Q3,2013,14219999.0
31670,/company/zypsee,Zypsee,transportation,USA,CT,New York,Stamford,angel,2013-08-13,2013-08,2013-Q3,2013,1400000.0
31671,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,angel,2010-12-15,2010-12,2010-Q4,2010,875000.0
31672,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,angel,2010-11-15,2010-11,2010-Q4,2010,445000.0
31673,/company/zyrra,Zyrra,ecommerce,USA,MA,Boston,Cambridge,venture,2012-10-18,2012-10,2012-Q4,2012,140500.0
31674,/company/x,[x+1],enterprise,USA,NY,New York,New York,series-a,2008-06-01,2008-06,2008-Q2,2008,16000000.0
31675,/company/x,[x+1],enterprise,USA,NY,New York,New York,venture,2009-08-17,2009-08,2009-Q3,2009,2000000.0
31676,/company/x,[x+1],enterprise,USA,NY,New York,New York,series-b,2011-01-03,2011-01,2011-Q1,2011,10000000.0
31677,/company/x,[x+1],enterprise,USA,NY,New York,New York,other,2013-04-04,2013-04,2013-Q2,2013,17000000.0
31678,/company/shwrm,_ShwrÂŸm,software,USA,FL,Gainesville,Gainesville,angel,2013-01-01,2013-01,2013-Q1,2013,50000.0

In [79]:
rds['funded_at']=pd.to_datetime(rds['funded_at'])

In [80]:
comp.shape

(17727, 18)

In [81]:
invs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB

In [82]:
invs

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0
5,/company/tackk,Tackk,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-02-01,2012-02,2012-Q1,2012.0,20000.0
6,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-06-01,2012-06,2012-Q2,2012.0,20000.0
7,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-08-07,2012-08,2012-Q3,2012.0,70000.0
8,/company/toviefor,ToVieFor,ecommerce,USA,NY,New York,New York,/company/2010-nyu-stern-business-plan-competition,2010 NYU Stern Business Plan Competition,NaN,NaN,NaN,unknown,NaN,angel,2010-04-01,2010-04,2010-Q2,2010.0,75000.0
9,/company/ohk-labs,OHK Labs,sports,USA,FL,Palm Beach,Boca Raton,/company/22hundred-group,22Hundred Group,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,100000.0
10,/company/lovely,Lovely,real_estate,USA,CA,SF Bay,San Francisco,/company/3taps,3taps,web,USA,CA,SF Bay,San Francisco,series-a,2012-10-01,2012-10,2012-Q4,2012.0,2000000.0
11,/company/peertransfer,peerTransfer,finance,USA,MA,Boston,Boston,/company/500-hats,500 Hats,NaN,USA,CA,SF Bay,Palo Alto,angel,2010-10-28,2010-10,2010-Q4,2010.0,1100000.0
12,/company/spotdock,spotdock,web,USA,NY,New York,NYC,/company/9mmedia-llc,"9mmedia, LLC",NaN,NaN,NaN,unknown,NaN,angel,2012-01-10,2012-01,2012-Q1,2012.0,600000.0
13,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,series-a,2010-05-01,2010-05,2010-Q2,2010.0,189000000.0
14,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,venture,2011-02-22,2011-02,2011-Q1,2011.0,150000000.0
15,/company/metroflats-com,MetroFlats.com,travel,USA,NJ,Cedar Grove,Cedar Grove,/company/aa-investments,AA Investments,NaN,BMU,NaN,Bermuda - Other,NaN,angel,2010-08-18,2010-08,2010-Q3,2010.0,NaN
16,/company/mesocoat,MesoCoat,nanotech,USA,OH,Cleveland,Euclid,/company/abakan-inc,Abakan,cleantech,USA,FL,Miami,Miami,venture,2009-12-14,2009-12,2009-Q4,2009.0,NaN
17,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,series-b,2010-07-15,2010-07,2010-Q3,2010.0,106000000.0
18,/company/power-assure,Power Assure,network_hosting,USA,CA,SF Bay,Santa Clara,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-09-20,2010-09,2010-Q3,2010.0,1500000.0
19,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-12-21,2010-12,2010-Q4,2010.0,NaN
20,/company/ecotality,ECOtality,cleantech,USA,CA,SF Bay,San Francisco,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2011-01-09,2011-01,2011-Q1,2011.0,10000000.0
21,/company/evalve,Evalve,biotech,USA,CA,SF Bay,Menlo Park,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-c+,2007-11-27,2007-11,2007-Q4,2007.0,60000000.0
22,/company/ovalis,Ovalis,biotech,USA,CA,SF Bay,Mountain View,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-b,2007-01-30,2007-01,2007-Q1,2007.0,6600000.0
23,/company/alvine-pharmaceuticals,Alvine Pharmaceuticals,biotech,USA,CA,SF Bay,San Carlos,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,private-equity,2013-05-14,2013-05,2013-Q2,2013.0,70000000.0
24,/company/avaxia-biologics,Avaxia Biologics,biotech,USA,MA,Boston,Lexington,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-06-07,2013-06,2013-Q2,2013.0,11500000.0
25,/company/aurasense-therapeutics,AuraSense Therapeutics,biotech,USA,IL,Chicago,Evanston,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-07-31,2013-07,2013-Q3,2013.0,NaN
26,/company/librarything,LibraryThing,web,USA,ME,Portland,Portland,/company/abebooks,AbeBooks,web,CAN,NaN,Victoria,Victoria,series-a,2006-05-16,2006-05,2006-Q2,2006.0,NaN
27,/company/heliovolt,HelioVolt,cleantech,USA,TX,Austin,Austin,/company/abengoa-solar,Abengoa Solar,cleantech,ESP,NaN,Sevilla,Sevilla,series-b,2007-10-23,2007-10,2007-Q4,2007.0,101000000.0
28,/company/airband-communications-holdings,Airband Communications Holdings,mobile,USA,TX,Dallas,Dallas,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,venture,2011-08-11,2011-08,2011-Q3,2011.0,20000000.0
29,/company/xand,Xand,software,USA,NY,New York,Hawthorne,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,other,2013-09-12,2013-09,2013-Q3,2013.0,200000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,/company/meddik,Meddik,health,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012.0,750000.0
52841,/company/blue-apron,Blue Apron,hospitality,USA,NY,New York,Brooklyn,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013.0,3000000.0
52842,/company/chatid,ChatID,mobile,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,NaN
52843,/company/breakthrough-behavioral,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012.0,900000.0
52844,/company/plaid,Plaid,software,USA,CA,SF Bay,San Francisco,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013.0,2800000.0
52845,/company/pokitdok,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,/person/zach-zeitlin,Zach Zeitlin,NaN,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012.0,1300000.0
52846,/company/fitocracy,Fitocracy,web,USA,NY,New York,New York,/person/zachary-aarons,Zachary Aarons,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,250000.0
52847,/company/square,Square,mobile,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009.0,10000000.0
52848,/company/mixrank,MixRank,advertising,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011.0,1500000.0
52849,/company/socialcam,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012.0,NaN
52850,/company/nuzzel,Nuzzel,news,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012.0,1700000.0
52851,/company/thirdlove,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012.0,5600000.0
52852,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,300000.0
52853,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011.0,300000.0
52854,/company/verious,Verious,mobile,USA,CA,SF Bay,San Carlos,/person/zain-khan,Zain Khan,NaN,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011.0,800000.0
52855,/company/identified-com,Identified,analytics,USA,CA,SF Bay,San Francisco,/person/zao-yang,Zao Yang,NaN,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012.0,21000000.0
52856,/company/haulerdeals,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,/person/zaw-thet,Zaw Thet,NaN,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012.0,1250000.0
52857,/company/when-you-wish,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,/person/zelda-marzec,Zelda Marzec,NaN,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011.0,1500000.0
52858,/company/farmeron,Farmeron,analytics,USA,CA,SF Bay,Mountain View,/person/zeljko-mataija,Zeljko Mataija,NaN,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010.0,15000.0
52859,/company/theraclone-sciences,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,/person/zenyaku-kogyo,Zenyaku Kogyo,NaN,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013.0,8000000.0
52860,/company/simplegeo,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,/person/ziv-navoth,Ziv Navoth,NaN,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009.0,195000.0
52861,/company/open-me,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,/person/ziver-birg,Ziver Birg,NaN,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013.0,NaN
52862,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zod-nazem,Zod Nazem,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52863,/company/payoneer,Payoneer,other,USA,NY,New York,New York,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005.0,2000000.0
52864,/company/outbrain,Outbrain,web,USA,NY,New York,New York City,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009.0,12000000.0
52865,/company/garantia-data,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012.0,3800000.0
52866,/company/duda-mobile,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013.0,10300000.0
52867,/company/sitebrains,SiteBrains,software,USA,CA,SF Bay,San Francisco,/person/zohar-israel,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010.0,350000.0
52868,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zorba-lieberman,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52869,/company/smartthings,SmartThings,mobile,USA,DC,unknown,Minneapolis,/person/zorik-gordon,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012.0,3000000.0

In [ ]:
comp.to_sql('comp', conn, if_exists='replace', index=False)

In [ ]:
invs.to_sql('invs', conn, if_exists='replace', index=False)

In [ ]:
rds.to_sql('rds', conn, if_exists='replace', index=False)

In [ ]:
adq.to_sql('adq', conn, if_exists='replace', index=False)

In [ ]:
comp2.to_sql('comp2', conn, if_exists='replace', index=False)

In [ ]:
rds.info()

In [ ]:
inspector = inspect(conn)
print(inspector.get_table_names())

In [83]:
comp2.columns

Index(['permalink', 'name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at',
       'days_in_op', 'first_funding_dayinop', 'last_funding_dayinop'],
      dtype='object')

In [84]:
comp2.columns=['permalink', 'company_name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at',
       'days_in_op', 'first_funding_dayinop', 'last_funding_dayinop']

In [85]:
rds.funding_round_type.unique()

array(['series-a', 'angel', 'series-b', 'venture', 'other', 'series-c+',
       'private-equity', 'post-ipo', 'crowdfunding'], dtype=object)

In [128]:
cr=rds[rds['funding_round_type']=='crowdfunding']
min(cr['funded_at'])

Timestamp('2008-03-01 00:00:00')

In [116]:
rds[rds['funding_round_type']=='crowdfunding'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1831 to 30536
Data columns (total 13 columns):
company_permalink        30 non-null object
company_name             30 non-null object
company_category_code    29 non-null object
company_country_code     30 non-null object
company_state_code       30 non-null object
company_region           30 non-null object
company_city             29 non-null object
funding_round_type       30 non-null object
funded_at                30 non-null datetime64[ns]
funded_month             30 non-null object
funded_quarter           30 non-null object
funded_year              30 non-null int64
raised_amount_usd        29 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 3.3+ KB

In [161]:
gp=rds[rds['funding_round_type']=='crowdfunding'].groupby('company_name')

In [168]:
crowd=pd.DataFrame({'company_name':list(gp.groups.keys())})

In [169]:
crowd['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})

In [170]:
crowd

               company_name  funded_at
0                   App.net 2012-08-12
1                  Appy Pie 2013-08-28
2      Cloud Imperium Games 2013-09-27
3         Dragon Innovation 2013-08-08
4             Elevation Lab 2012-02-11
5            Exposed Vocals 2013-07-16
6          Faraday Bicycles 2012-08-01
7                  Formlabs 2012-10-25
8                    Fuel3D 2013-09-04
9             Glowing Plant 2013-06-08
10   Good Times Restaurants 2013-08-21
11         Icarus Ascending 2013-09-05
12                LUMI Mask 2011-01-06
13              NOMAD GOODS 2012-08-27
14              NanoSatisfi 2012-07-14
15          OLIVERS Apparel 2013-08-30
16                     OUYA 2012-08-09
17                Oculus VR 2012-01-01
18         Perle Bioscience 2013-09-26
19                Pressgram 2013-04-15
20                   Pressy 2013-09-19
21  R.A. Burch Construction 2013-09-09
22               SLIC games 2012-10-01
23                  Scanadu 2013-06-09
24             TinyCircuits 2013-09-04
25            Upheaval Arts 2013-09-12
26              WealthForge 2013-08-08
27     Wikimedia Foundation 2008-03-01

In [171]:
crowd=pd.merge(crowd,rds[rds['funding_round_type']=='crowdfunding'],how='left', on=['company_name','funded_at'])

In [174]:
crowd

,company_name,funded_at,company_permalink,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_month,funded_quarter,funded_year,raised_amount_usd
0,App.net,2012-08-12,/company/app-net,advertising,USA,CA,SF Bay,San Francisco,crowdfunding,2012-08,2012-Q3,2012,500000.0
1,Appy Pie,2013-08-28,/company/appy-pie,advertising,USA,CA,Los Angeles,WALNUT,crowdfunding,2013-08,2013-Q3,2013,10000.0
2,Cloud Imperium Games,2013-09-27,/company/cloud-imperium-games,games_video,USA,CA,Los Angeles,Santa Monica,crowdfunding,2013-09,2013-Q3,2013,20000000.0
3,Dragon Innovation,2013-08-08,/company/dragon-innovation,hardware,USA,MA,Boston,Lexington,crowdfunding,2013-08,2013-Q3,2013,2145000.0
4,Elevation Lab,2012-02-11,/company/elevation-lab,manufacturing,USA,OR,Portland,Portland,crowdfunding,2012-02,2012-Q1,2012,1450000.0
5,Exposed Vocals,2013-07-16,/company/exposed-vocals,social,USA,NY,New York - Other,NaN,crowdfunding,2013-07,2013-Q3,2013,250000.0
6,Faraday Bicycles,2012-08-01,/company/faraday-bicycles,transportation,USA,CA,SF Bay,San Francisco,crowdfunding,2012-08,2012-Q3,2012,177268.0
7,Formlabs,2012-10-25,/company/formlabs,hardware,USA,MA,Boston,Cambridge,crowdfunding,2012-10,2012-Q4,2012,2800000.0
8,Fuel3D,2013-09-04,/company/fuel3d,hardware,USA,NC,Greenville,Greenville,crowdfunding,2013-09,2013-Q3,2013,325000.0
9,Glowing Plant,2013-06-08,/company/glowing-plant,biotech,USA,CA,SF Bay,San Francisco,crowdfunding,2013-06,2013-Q2,2013,484000.0
10,Good Times Restaurants,2013-08-21,/company/good-times-restaurants,hospitality,USA,CO,Denver,Golden,crowdfunding,2013-08,2013-Q3,2013,5500000.0
11,Icarus Ascending,2013-09-05,/company/icarus-ascending,hardware,USA,IL,Chicago,Evanston,crowdfunding,2013-09,2013-Q3,2013,10000.0
12,LUMI Mask,2011-01-06,/company/lumi-mask,hardware,USA,AL,Birmingham,Birmingham,crowdfunding,2011-01,2011-Q1,2011,27000.0
13,NOMAD GOODS,2012-08-27,/company/nomad-goods,hardware,USA,CA,SF Bay,San Francisco,crowdfunding,2012-08,2012-Q3,2012,161897.0
14,NanoSatisfi,2012-07-14,/company/nanosatisfi,software,USA,CA,SF Bay,San Francisco,crowdfunding,2012-07,2012-Q3,2012,100000.0
15,OLIVERS Apparel,2013-08-30,/company/olivers-apparel,NaN,USA,CA,SF Bay,san francisco,crowdfunding,2013-08,2013-Q3,2013,173000.0
16,OUYA,2012-08-09,/company/ouya,games_video,USA,CA,Los Angeles,Los Angeles,crowdfunding,2012-08,2012-Q3,2012,8600000.0
17,Oculus VR,2012-01-01,/company/oculus-vr,hardware,USA,CA,Los Angeles,Irvine,crowdfunding,2012-01,2012-Q1,2012,2400000.0
18,Perle Bioscience,2013-09-26,/company/perle-bioscience,biotech,USA,GA,Atlanta,Atlanta,crowdfunding,2013-09,2013-Q3,2013,2000000.0
19,Pressgram,2013-04-15,/company/pressgram,photo_video,USA,GA,Atlanta,Atlanta,crowdfunding,2013-04,2013-Q2,2013,56500.0
20,Pressy,2013-09-19,/company/pressy,hardware,USA,NY,New York,New York,crowdfunding,2013-09,2013-Q3,2013,500000.0
21,R.A. Burch Construction,2013-09-09,/company/r-a-burch-construction,real_estate,USA,CA,San Diego,Ramona,crowdfunding,2013-09,2013-Q3,2013,14600000.0
22,SLIC games,2012-10-01,/company/slic-games,games_video,USA,KY,Louisville,Louisville,crowdfunding,2012-10,2012-Q4,2012,10000.0
23,Scanadu,2013-06-09,/company/scanadu,medical,USA,CA,SF Bay,Mountain View,crowdfunding,2013-06,2013-Q2,2013,1565113.0
24,TinyCircuits,2013-09-04,/company/tinycircuits,hardware,USA,OH,Akron,Akron,crowdfunding,2013-09,2013-Q3,2013,110000.0
25,Upheaval Arts,2013-09-12,/company/upheaval-arts,games_video,USA,MO,Saint Louis,Saint Louis,crowdfunding,2013-09,2013-Q3,2013,85000.0
26,WealthForge,2013-08-08,/company/wealthforge,other,USA,VA,SF Bay,Richmond,crowdfunding,2013-08,2013-Q3,2013,NaN
27,Wikimedia Foundation,2008-03-01,/company/wikimedia-foundation,nonprofit,USA,CA,SF Bay,San Francisco,crowdfunding,2008-03,2008-Q1,2008,3000000.0

In [178]:
crowd.columns =['company_name', 'cr_funded_at', 'company_permalink',
       'company_category_code', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'funding_round_type', 'funded_month',
       'funded_quarter', 'funded_year', 'cr_raised_amount_usd']

In [ ]:
query='''SELECT company_name,min(funded_at) as cr_funded_at, sum(raised_amount_usd) as cr_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'crowdfunding\'
                GROUP BY company_name'''

In [ ]:
crowd=pd.read_sql_query(query,cnx)

In [179]:
crowd

,company_name,cr_funded_at,company_permalink,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_month,funded_quarter,funded_year,cr_raised_amount_usd
0,App.net,2012-08-12,/company/app-net,advertising,USA,CA,SF Bay,San Francisco,crowdfunding,2012-08,2012-Q3,2012,500000.0
1,Appy Pie,2013-08-28,/company/appy-pie,advertising,USA,CA,Los Angeles,WALNUT,crowdfunding,2013-08,2013-Q3,2013,10000.0
2,Cloud Imperium Games,2013-09-27,/company/cloud-imperium-games,games_video,USA,CA,Los Angeles,Santa Monica,crowdfunding,2013-09,2013-Q3,2013,20000000.0
3,Dragon Innovation,2013-08-08,/company/dragon-innovation,hardware,USA,MA,Boston,Lexington,crowdfunding,2013-08,2013-Q3,2013,2145000.0
4,Elevation Lab,2012-02-11,/company/elevation-lab,manufacturing,USA,OR,Portland,Portland,crowdfunding,2012-02,2012-Q1,2012,1450000.0
5,Exposed Vocals,2013-07-16,/company/exposed-vocals,social,USA,NY,New York - Other,NaN,crowdfunding,2013-07,2013-Q3,2013,250000.0
6,Faraday Bicycles,2012-08-01,/company/faraday-bicycles,transportation,USA,CA,SF Bay,San Francisco,crowdfunding,2012-08,2012-Q3,2012,177268.0
7,Formlabs,2012-10-25,/company/formlabs,hardware,USA,MA,Boston,Cambridge,crowdfunding,2012-10,2012-Q4,2012,2800000.0
8,Fuel3D,2013-09-04,/company/fuel3d,hardware,USA,NC,Greenville,Greenville,crowdfunding,2013-09,2013-Q3,2013,325000.0
9,Glowing Plant,2013-06-08,/company/glowing-plant,biotech,USA,CA,SF Bay,San Francisco,crowdfunding,2013-06,2013-Q2,2013,484000.0
10,Good Times Restaurants,2013-08-21,/company/good-times-restaurants,hospitality,USA,CO,Denver,Golden,crowdfunding,2013-08,2013-Q3,2013,5500000.0
11,Icarus Ascending,2013-09-05,/company/icarus-ascending,hardware,USA,IL,Chicago,Evanston,crowdfunding,2013-09,2013-Q3,2013,10000.0
12,LUMI Mask,2011-01-06,/company/lumi-mask,hardware,USA,AL,Birmingham,Birmingham,crowdfunding,2011-01,2011-Q1,2011,27000.0
13,NOMAD GOODS,2012-08-27,/company/nomad-goods,hardware,USA,CA,SF Bay,San Francisco,crowdfunding,2012-08,2012-Q3,2012,161897.0
14,NanoSatisfi,2012-07-14,/company/nanosatisfi,software,USA,CA,SF Bay,San Francisco,crowdfunding,2012-07,2012-Q3,2012,100000.0
15,OLIVERS Apparel,2013-08-30,/company/olivers-apparel,NaN,USA,CA,SF Bay,san francisco,crowdfunding,2013-08,2013-Q3,2013,173000.0
16,OUYA,2012-08-09,/company/ouya,games_video,USA,CA,Los Angeles,Los Angeles,crowdfunding,2012-08,2012-Q3,2012,8600000.0
17,Oculus VR,2012-01-01,/company/oculus-vr,hardware,USA,CA,Los Angeles,Irvine,crowdfunding,2012-01,2012-Q1,2012,2400000.0
18,Perle Bioscience,2013-09-26,/company/perle-bioscience,biotech,USA,GA,Atlanta,Atlanta,crowdfunding,2013-09,2013-Q3,2013,2000000.0
19,Pressgram,2013-04-15,/company/pressgram,photo_video,USA,GA,Atlanta,Atlanta,crowdfunding,2013-04,2013-Q2,2013,56500.0
20,Pressy,2013-09-19,/company/pressy,hardware,USA,NY,New York,New York,crowdfunding,2013-09,2013-Q3,2013,500000.0
21,R.A. Burch Construction,2013-09-09,/company/r-a-burch-construction,real_estate,USA,CA,San Diego,Ramona,crowdfunding,2013-09,2013-Q3,2013,14600000.0
22,SLIC games,2012-10-01,/company/slic-games,games_video,USA,KY,Louisville,Louisville,crowdfunding,2012-10,2012-Q4,2012,10000.0
23,Scanadu,2013-06-09,/company/scanadu,medical,USA,CA,SF Bay,Mountain View,crowdfunding,2013-06,2013-Q2,2013,1565113.0
24,TinyCircuits,2013-09-04,/company/tinycircuits,hardware,USA,OH,Akron,Akron,crowdfunding,2013-09,2013-Q3,2013,110000.0
25,Upheaval Arts,2013-09-12,/company/upheaval-arts,games_video,USA,MO,Saint Louis,Saint Louis,crowdfunding,2013-09,2013-Q3,2013,85000.0
26,WealthForge,2013-08-08,/company/wealthforge,other,USA,VA,SF Bay,Richmond,crowdfunding,2013-08,2013-Q3,2013,NaN
27,Wikimedia Foundation,2008-03-01,/company/wikimedia-foundation,nonprofit,USA,CA,SF Bay,San Francisco,crowdfunding,2008-03,2008-Q1,2008,3000000.0

In [ ]:
query='''SELECT company_name,min(funded_at) as sa_funded_at, sum(raised_amount_usd) as sa_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'series-a\'
                GROUP BY company_name'''

In [ ]:
pd.read_sql_query(query,cnx)

In [ ]:
s_a=pd.read_sql_query(query,cnx)

In [152]:
gp=rds[rds['funding_round_type']=='series-a'].groupby('company_name')
s_a=pd.DataFrame({'company_name':list(gp.groups.keys())})
s_a['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})

In [176]:
s_a=pd.merge(s_a,rds[rds['funding_round_type']=='series-a'],how='left', on=['company_name','funded_at'])

In [182]:
s_a.columns=['company_name', 'sa_funded_at', 'company_permalink',
       'company_category_code', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'funding_round_type', 'funded_month',
       'funded_quarter', 'funded_year', 'sa_raised_amount_usd']

In [183]:
s_a

,company_name,sa_funded_at,company_permalink,company_category_code,company_country_code,company_state_code,company_region,company_city,funding_round_type,funded_month,funded_quarter,funded_year,sa_raised_amount_usd
0,#waywire,2012-06-30,/company/waywire,news,USA,NY,New York,New York,series-a,2012-06,2012-Q2,2012,1750000.0
1,1000memories,2011-02-16,/company/1000memories,web,USA,CA,SF Bay,San Francisco,series-a,2011-02,2011-Q1,2011,2520000.0
2,1366 Technologies,2008-03-27,/company/1366-technologies,manufacturing,USA,MA,Boston,Lexington,series-a,2008-03,2008-Q1,2008,12400000.0
3,140 Proof,2009-07-01,/company/140-proof,advertising,USA,CA,SF Bay,San Francisco,series-a,2009-07,2009-Q3,2009,3000000.0
4,170 Systems,2002-04-16,/company/170-systems,software,USA,MA,Boston,Bedford,series-a,2002-04,2002-Q2,2002,14000000.0
5,1World Online,2013-07-02,/company/1world-online,enterprise,USA,CA,SF Bay,San Jose,series-a,2013-07,2013-Q3,2013,1000000.0
6,20x200,2009-10-01,/company/20x200,ecommerce,USA,NY,New York,New York,series-a,2009-10,2009-Q4,2009,800000.0
7,22nd Century Group,2012-11-16,/company/22nd-century-group,biotech,USA,NY,Clarence,Clarence,series-a,2012-11,2012-Q4,2012,2428500.0
8,23andMe,2007-05-01,/company/23andme,biotech,USA,CA,SF Bay,Mountain View,series-a,2007-05,2007-Q2,2007,9000000.0
9,24/7 Card,2010-10-25,/company/24-7-card,finance,USA,CA,Los Angeles,Los Angeles,series-a,2010-10,2010-Q4,2010,NaN
10,24M Technologies,2010-08-16,/company/24m-technologies,cleantech,USA,NaN,Boston,Cambridge,series-a,2010-08,2010-Q3,2010,16000000.0
11,2U,2009-03-25,/company/2u,education,USA,MD,Washington DC,Landover,series-a,2009-03,2009-Q1,2009,2275000.0
12,33Across,2010-04-22,/company/33across,advertising,USA,NY,New York,New York,series-a,2010-04,2010-Q2,2010,1284560.0
13,360imaging,2010-01-01,/company/360imaging,biotech,USA,GA,Atlanta,Atlanta,series-a,2010-01,2010-Q1,2010,5000000.0
14,365Scores,2013-01-28,/company/365scores,mobile,USA,NaN,United States - Other,NaN,series-a,2013-01,2013-Q1,2013,1200000.0
15,37signals,2006-07-01,/company/37signals,public_relations,USA,IL,Chicago,Chicago,series-a,2006-07,2006-Q3,2006,NaN
16,3D Robotics,2012-11-05,/company/3d-robotics,manufacturing,USA,CA,San Diego,San Diego,series-a,2012-11,2012-Q4,2012,5000000.0
17,3D Systems,2012-06-07,/company/3d-systems,software,USA,SC,Rock Hill,Rock Hill,series-a,2012-06,2012-Q2,2012,3144131.0
18,3Guppies,2006-04-05,/company/3guppies,games_video,USA,WA,Seattle,Seattle,series-a,2006-04,2006-Q2,2006,20000000.0
19,3Jam,2007-07-01,/company/3jam,mobile,USA,CA,SF Bay,San Francisco,series-a,2007-07,2007-Q3,2007,4000000.0
20,3Pillar Global,2013-06-06,/company/three-pillar-global,software,USA,VA,Washington DC,Fairfax,series-a,2013-06,2013-Q2,2013,12000000.0
21,3VR,2009-01-15,/company/3vr-security,security,USA,CA,SF Bay,San Francisco,series-a,2009-01,2009-Q1,2009,5000000.0
22,4-Tell,2012-01-01,/company/4-tell,ecommerce,USA,OR,Portland,Portland,series-a,2012-01,2012-Q1,2012,1000000.0
23,410 Labs,2011-07-11,/company/410-labs,messaging,USA,MD,Baltimore,Baltimore,series-a,2011-07,2011-Q3,2011,750000.0
24,42Floors,2012-11-16,/company/42floors,real_estate,USA,NY,New York,New York,series-a,2012-11,2012-Q4,2012,5000000.0
25,480 Biomedical,2012-02-14,/company/480-biomedical,biotech,USA,MA,Boston,Watertown,series-a,2012-02,2012-Q1,2012,15000000.0
26,4Home,2006-08-01,/company/4home,software,USA,CA,SF Bay,Sunnyvale,series-a,2006-08,2006-Q3,2006,2850000.0
27,4s3 Bioscience,2012-03-05,/company/4s3-bioscience,biotech,USA,MA,Boston,Medford,series-a,2012-03,2012-Q1,2012,20000000.0
28,500Friends,2012-03-14,/company/500friends,enterprise,USA,CA,SF Bay,San Francisco,series-a,2012-03,2012-Q1,2012,4500000.0
29,5min Media,2007-11-01,/company/5min,games_video,USA,NY,New York,NY,series-a,2007-11,2007-Q4,2007,5000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5794,tastytrade,2012-12-26,/company/tastytrade,finance,USA,IL,Chicago,Chicago,series-a,2012-12,2012-Q4,2012,2000000.0
5795,tenXer,2011-09-01,/company/tenxer,software,USA,CA,SF Bay,San Francisco,series-a,2011-09,2011-Q3,2011,1700000.0
5796,tenfarms,2013-05-07,/company/tenfarms-2,other,USA,CA,Los Angeles,Los Angeles,series-a,2013-05,2013-Q2,2013,2700000.0
5797,textPlus,2007-12-01,/company/textplus,mobile,USA,CA,Los Angeles,Marina del Rey,series-a,2007-12,2007-Q4,2007,5175000.0
5798,the Rubicon Project,2007-10-01,/company/rubiconproject,advertising,USA,CA,Los Angeles,Los Angeles,series-a,2007-10,2007-Q4,2007,4000000.0
5799,theAudience,2012-11-19,/company/theaudience,social,USA,CA,Los Angeles,West Hollywood,series-a,2012-11,2012-Q4,2012,20000000.0
5800,threadsy,2008-03-27,/company/threadsy,messaging,USA,CA,SF Bay,San Francisco,series-a,2008-03,2008-Q1,2008,3300000.0
5801,trueAnthem,2008-07-28,/company/trueanthem,advertising,USA,CA,SF Bay,San Francisco,series-a,2008-07,2008-Q3,2008,2000000.0
5802,trueEX,2012-04-05,/company/trueex,enterprise,USA,NY,New York,New York,series-a,2012-04,2012-Q2,2012,3600000.0
5803,turntable.fm,2011-09-13,/company/turntable-fm,music,USA,NY,New York,New York,series-a,2011-09,2011-Q3,2011,7000000.0
5804,tvCompass,2006-04-25,/company/tvcompass,software,USA,IL,Chicago,Chicago,series-a,2006-04,2006-Q2,2006,5100000.0
5805,uCirrus,2010-06-08,/company/ucirrus,software,USA,CA,SF Bay,San Mateo,series-a,2010-06,2010-Q2,2010,1700000.0
5806,uKnow.com,2013-02-17,/company/uknow-com,security,USA,VA,Washington DC,Arlington,series-a,2013-02,2013-Q1,2013,1850000.0
5807,uParts,2013-05-10,/company/uparts,ecommerce,USA,CA,Los Angeles,Irvine,series-a,2013-05,2013-Q2,2013,2000000.0
5808,uSamp,2008-04-01,/company/united-sample,web,USA,CA,Los Angeles,Encino,series-a,2008-04,2008-Q2,2008,1290000.0
5809,uTest,2007-10-01,/company/utest,software,USA,MA,Boston,Southborough,series-a,2007-10,2007-Q4,2007,2300000.0
5810,ustyme,2013-09-25,/company/ustyme,software,USA,CA,SF Bay,Sausalito,series-a,2013-09,2013-Q3,2013,2000000.0
5811,vArmour Networks,2013-01-15,/company/varmour-networks,software,USA,CA,SF Bay,Santa Clara,series-a,2013-01,2013-Q1,2013,6000000.0
5812,videoNEXT,2005-12-02,/company/videonext,NaN,USA,VA,Washington DC,Chantilly,series-a,2005-12,2005-Q4,2005,2000000.0
5813,virocyt,2012-11-14,/company/virocyt,biotech,USA,CO,Denver,Denver,series-a,2012-11,2012-Q4,2012,3500000.0
5814,vline,2012-03-01,/company/vline,enterprise,USA,CA,SF Bay,Palo Alto,series-a,2012-03,2012-Q1,2012,1500000.0
5815,whistleBox,2009-02-09,/company/whistlebox,games_video,USA,NY,New York,Brooklyn,series-a,2009-02,2009-Q1,2009,2300000.0
5816,woodpellets.com,2008-06-03,/company/woodpellets-com,cleantech,USA,NH,Goffstown,Goffstown,series-a,2008-06,2008-Q2,2008,4000000.0
5817,wunderloop,2007-01-01,/company/wunderloop,advertising,USA,NaN,Columbus,London,series-a,2007-01,2007-Q1,2007,10000000.0
5818,y prime,2013-09-07,/company/y-prime,health,USA,PA,Philadelphia,Malvern,series-a,2013-09,2013-Q3,2013,5000000.0
5819,ybuy,2012-07-05,/company/ybuy,web,USA,CA,Los Angeles,Beverly Hills,series-a,2012-07,2012-Q3,2012,1000000.0
5820,yoonew,2005-08-01,/company/yoonew,web,USA,NY,New York,New York,series-a,2005-08,2005-Q3,2005,2000000.0
5821,youwho,2011-04-25,/company/youwho,web,USA,UT,Salt Lake City,Lehi,series-a,2011-04,2011-Q2,2011,5000000.0
5822,zozi,2010-08-30,/company/zozi,ecommerce,USA,CA,SF Bay,San Francisco,series-a,2010-08,2010-Q3,2010,3000000.0
5823,zulily,2009-12-17,/company/zulily,ecommerce,USA,WA,Seattle,Seattle,series-a,2009-12,2009-Q4,2009,4600000.0

In [ ]:
s_a.to_sql('s_a', conn, if_exists='replace', index=False)

In [186]:
s_a.columns

Index(['company_name', 'sa_funded_at', 'company_permalink',
       'company_category_code', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'funding_round_type', 'funded_month',
       'funded_quarter', 'funded_year', 'sa_raised_amount_usd'],
      dtype='object')

In [185]:
comp2.columns

Index(['permalink', 'company_name', 'category_code', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter',
       'founded_year', 'first_funding_at', 'last_funding_at',
       'last_milestone_at', 'days_in_op', 'first_funding_dayinop',
       'last_funding_dayinop'],
      dtype='object')

In [189]:
df=pd.merge(comp2,s_a[['company_name', 'sa_funded_at', 'funding_round_type', 'sa_raised_amount_usd']],how='left', on='company_name')

In [190]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3823 entries, 0 to 3822
Data columns (total 23 columns):
permalink                3823 non-null object
company_name             3823 non-null object
category_code            3823 non-null object
funding_total_usd        3823 non-null object
status                   3823 non-null object
country_code             3823 non-null object
state_code               3823 non-null object
region                   3823 non-null object
city                     3823 non-null object
funding_rounds           3823 non-null int64
founded_at               3823 non-null datetime64[ns]
founded_month            3823 non-null object
founded_quarter          3823 non-null object
founded_year             3823 non-null float64
first_funding_at         3823 non-null datetime64[ns]
last_funding_at          3823 non-null datetime64[ns]
last_milestone_at        3823 non-null object
days_in_op               3823 non-null timedelta64[ns]
first_funding_dayinop    3823 non-null timedelta64[ns]
last_funding_dayinop     3823 non-null timedelta64[ns]
sa_funded_at             1914 non-null datetime64[ns]
funding_round_type       1914 non-null object
sa_raised_amount_usd     1845 non-null float64
dtypes: datetime64[ns](4), float64(2), int64(1), object(13), timedelta64[ns](3)
memory usage: 716.8+ KB

In [ ]:
## Too slow

# query='''SELECT * FROM comp2
#             LEFT JOIN s_a
#             ON company_name = company_name'''

In [ ]:
# df=pd.read_sql_query(query,cnx)

In [ ]:
# df.info

In [ ]:
df.to_sql('df', conn, if_exists='replace', index=False)

In [ ]:
# df

In [191]:
df['sa_funded_daysop']=df['sa_funded_at']-df['founded_at']

In [192]:
df

,permalink,company_name,category_code,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,...,first_funding_at,last_funding_at,last_milestone_at,days_in_op,first_funding_dayinop,last_funding_dayinop,sa_funded_at,funding_round_type,sa_raised_amount_usd,sa_funded_daysop
0,/company/1010data,1010data,software,35000000,operating,USA,NY,New York,New York,1,...,2010-03-08,2010-03-08,2012-01-01,5022 days,3719 days,3719 days,NaT,NaN,NaN,NaT
1,/company/1366-technologies,1366 Technologies,manufacturing,48950000,operating,USA,MA,Boston,Lexington,6,...,2008-03-27,2011-02-07,2011-06-17,2465 days,451 days,1498 days,2008-03-27,series-a,12400000.0,451 days
2,/company/1stdibs,1stdibs,ecommerce,42000000,operating,USA,NY,New York,New York,3,...,2011-11-03,2012-12-03,2011-11-01,4656 days,3958 days,4354 days,NaT,NaN,NaN,NaT
3,/company/20x200,20x200,ecommerce,2800000,operating,USA,NY,New York,New York,2,...,2009-10-01,2010-08-01,2012-10-01,2222 days,761 days,1065 days,2009-10-01,series-a,800000.0,761 days
4,/company/23andme,23andMe,biotech,160549892,operating,USA,CA,SF Bay,Mountain View,6,...,2007-05-01,2012-12-21,2012-09-17,2740 days,395 days,2456 days,2007-05-01,series-a,9000000.0,395 days
5,/company/2go-software-solutions,2GO Mobile Solutions,software,825000,operating,USA,TX,Dallas,Plano,1,...,2010-01-09,2010-01-09,2009-08-01,2100 days,739 days,739 days,NaT,NaN,NaN,NaT
6,/company/2u,2U,education,90775000,operating,USA,MD,Washington DC,Landover,5,...,2009-03-25,2012-04-02,2012-11-15,2100 days,449 days,1553 days,2009-03-25,series-a,2275000.0,449 days
7,/company/3-v-biosciences,3-V Biosciences,biotech,70000000,operating,USA,CA,SF Bay,Palo Alto,3,...,2009-07-10,2013-06-21,2012-01-01,2406 days,862 days,2304 days,NaT,NaN,NaN,NaT
8,/company/33across,33Across,advertising,24134560,operating,USA,NY,New York,New York,4,...,2009-03-13,2012-07-19,2013-09-03,2222 days,559 days,1783 days,2010-04-22,series-a,1284560.0,964 days
9,/company/3jam,3Jam,mobile,4000000,operating,USA,CA,SF Bay,San Francisco,1,...,2007-07-01,2007-07-01,2009-12-21,3195 days,911 days,911 days,2007-07-01,series-a,4000000.0,911 days
10,/company/3leaf,3Leaf,software,65000000,operating,USA,CA,SF Bay,Santa Clara,3,...,2007-04-30,2008-09-22,2007-08-01,3409 days,1063 days,1574 days,NaT,NaN,NaN,NaT
11,/company/three-pillar-global,3Pillar Global,software,22520000,operating,USA,VA,Washington DC,Fairfax,3,...,2010-04-21,2013-06-06,2013-03-01,2618 days,1359 days,2501 days,2013-06-06,series-a,12000000.0,2501 days
12,/company/3play-media,3Play Media,software,961601,operating,USA,MA,Boston,Cambridge,2,...,2010-02-08,2011-06-21,2007-01-01,2465 days,1134 days,1632 days,NaT,NaN,NaN,NaT
13,/company/3vr-security,3VR,security,53000000,operating,USA,CA,SF Bay,San Francisco,5,...,2006-01-17,2010-12-21,2012-08-01,4291 days,1477 days,3276 days,2009-01-15,series-a,5000000.0,2571 days
14,/company/40billion-com,40billion.com,social,1050000,operating,USA,GA,Atlanta,Atlanta,3,...,2008-04-01,2010-06-01,2008-01-01,2078 days,69 days,860 days,NaT,NaN,NaN,NaT
15,/company/41st-parameter,41st Parameter,security,38064570,operating,USA,CA,SF Bay,San Jose,4,...,2006-05-08,2012-04-11,2012-04-12,3561 days,858 days,3023 days,NaT,NaN,NaN,NaT
16,/company/4info,4INFO,advertising,60000000,operating,USA,CA,SF Bay,San Mateo,6,...,2005-03-01,2013-08-04,2012-04-01,3561 days,425 days,3503 days,NaT,NaN,NaN,NaT
17,/company/4moms,4moms,hardware,20000000,operating,USA,PA,Pittsburg,Pittsburgh,1,...,2012-08-09,2012-08-09,2013-01-18,3195 days,2777 days,2777 days,NaT,NaN,NaN,NaT
18,/company/4s3-bioscience,4s3 Bioscience,biotech,20000000,operating,USA,MA,Boston,Medford,1,...,2012-03-05,2012-03-05,2008-01-01,2465 days,1890 days,1890 days,2012-03-05,series-a,20000000.0,1890 days
19,/company/5min,5min Media,games_video,12800000,acquired,USA,NY,New York,NY,3,...,2007-04-01,2009-07-23,2011-10-11,2465 days,90 days,934 days,2007-11-01,series-a,5000000.0,304 days
20,/company/5th-finger,5th Finger,mobile,7000000,operating,USA,CA,SF Bay,San Francisco,1,...,2008-06-13,2008-06-13,2012-07-11,2100 days,164 days,164 days,2008-06-13,series-a,7000000.0,164 days
21,/company/6fusion,6fusion,enterprise,12750000,operating,USA,NC,Raleigh-Durham,Raleigh,3,...,2010-08-23,2013-07-25,2011-08-22,2100 days,965 days,2032 days,2010-08-23,series-a,3000000.0,965 days
22,/company/7-billion-people,7 Billion People,software,7952804,operating,USA,TX,Austin,Austin,4,...,2009-02-09,2012-07-13,2010-06-22,2830 days,1135 days,2385 days,2009-02-09,series-a,3800000.0,1135 days
23,/company/8tracks,8tracks Radio,music,1200000,operating,USA,CA,SF Bay,San Francisco,1,...,2011-10-01,2011-10-01,2013-08-01,1880 days,1149 days,1149 days,NaT,NaN,NaN,NaT
24,/company/99designs,99designs,design,35000000,operating,USA,CA,SF Bay,San Francisco,1,...,2011-04-28,2011-04-28,2013-08-13,2069 days,1182 days,1182 days,2011-04-28,series-a,35000000.0,1182 days
25,/company/a-la-mobile,A la Mobile,software,7550000,operating,USA,KS,SF Bay,San Ramon,2,...,2005-07-01,2007-03-01,2012-01-01,3044 days,30 days,638 days,2005-07-01,series-a,3500000.0,30 days
26,/company/a10-networks,A10 Networks,network_hosting,38000000,operating,USA,CA,SF Bay,San Jose,3,...,2005-01-01,2008-07-14,2013-02-18,3287 days,92 days,1382 days,2005-01-01,series-a,6000000.0,92 days
27,/company/a123systems,A123 Systems,nanotech,502860000,ipo,USA,MA,Boston,Watertown,8,...,2005-11-01,2012-06-07,2011-06-17,4656 days,1765 days,4175 days,2005-11-01,series-a,32000000.0,1765 days
28,/company/aardvark,Aardvark,web,6000000,acquired,USA,CA,SF Bay,San Francisco,2,...,2007-01-01,2008-10-01,2012-02-04,2284 days,-181 days,458 days,2008-10-01,series-a,5250000.0,458 days
29,/company/abacast-inc,Abacast,analytics,500000,operating,USA,WA,Vancouver,Vancouver,1,...,2010-11-11,2010-11-11,2011-12-13,4930 days,3875 days,3875 days,NaT,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3793,/company/zimplemoney,ZimpleMoney,software,600000,operating,USA,CA,Los Angeles,Costa Mesa,1,...,2011-12-29,2011-12-29,2009-01-07,2098 days,1456 days,1456 days,NaT,NaN,NaN,NaT
3794,/company/zinch,Zinch,web,5000000,acquired,USA,CA,SF Bay,San Francisco,2,...,2007-12-01,2009-10-20,2011-11-16,2434 days,303 days,992 days,NaT,NaN,NaN,NaT
3795,/company/zing,Zing Systems,games_video,26000000,acquired,USA,CA,SF Bay,Mountain View,2,...,2006-12-01,2007-01-01,2013-03-07,2314 days,-182 days,-151 days,2007-01-01,series-a,13000000.0,-151 days
3796,/company/zipcar,Zipcar,transportation,60704370,acquired,USA,GA,NW Atlanta,NW Atlanta,4,...,2002-12-20,2010-12-15,2013-01-04,4718 days,780 days,3697 days,NaT,NaN,NaN,NaT
3797,/company/zipline-medical,Zipline Medical,medical,6000000,operating,USA,CA,SF Bay,Campbell,2,...,2009-12-21,2012-04-10,2011-01-01,2465 days,1085 days,1926 days,2009-12-21,series-a,1000000.0,1085 days
3798,/company/ziptronix,Ziptronix,semiconductor,10000000,operating,USA,NC,Raleigh-Durham,Morrisville,2,...,2005-08-11,2007-01-12,2004-01-01,5022 days,2049 days,2568 days,NaT,NaN,NaN,NaT
3799,/company/zivity,Zivity,network_hosting,8000000,operating,USA,CA,SF Bay,San Francisco,2,...,2007-08-01,2008-03-08,2013-04-21,2465 days,212 days,432 days,2008-03-08,series-a,7000000.0,432 days
3800,/company/zocdoc,ZocDoc,health,97000000,operating,USA,NY,New York,New York,4,...,2008-08-18,2013-06-24,2013-07-01,2205 days,335 days,2106 days,2008-08-18,series-a,5000000.0,335 days
3801,/company/zogenix,Zogenix,biotech,163962156,operating,USA,CA,San Diego,San Diego,5,...,2006-08-28,2010-07-13,2010-11-24,2830 days,239 days,1654 days,2006-08-28,series-a,60000000.0,239 days
3802,/company/zonare-medical-systems,Zonare Medical Systems,biotech,30000000,acquired,USA,CA,SF Bay,Mountain View,1,...,2008-02-21,2008-02-21,2012-01-01,5387 days,3338 days,3338 days,NaT,NaN,NaN,NaT
3803,/company/zong,Zong,mobile,27500000,acquired,USA,CA,SF Bay,Menlo Park,3,...,2005-07-01,2010-04-26,2011-07-08,4703 days,1689 days,3449 days,2005-07-01,series-a,5000000.0,1689 days
3804,/company/zoodles,Zoodles,games_video,2600000,operating,USA,CA,SF Bay,Mountain View,1,...,2010-05-12,2010-05-12,2012-01-01,2100 days,862 days,862 days,2010-05-12,series-a,2600000.0,862 days
3805,/company/zoomingo,Zoomingo,ecommerce,2025000,operating,USA,MA,Boston,Waltham,3,...,2011-11-14,2013-06-23,2012-04-09,5022 days,4335 days,4922 days,NaT,NaN,NaN,NaT
3806,/company/zoomsystems,ZoomSystems,hardware,87000000,operating,USA,CA,SF Bay,San Francisco,5,...,2005-07-19,2010-01-14,2010-09-01,4291 days,1295 days,2935 days,NaT,NaN,NaN,NaT
3807,/company/zoosk,Zoosk,social,61600000,operating,USA,CA,SF Bay,San Francisco,5,...,2007-11-01,2012-01-01,2012-11-01,2161 days,0 days,1522 days,2007-11-01,series-a,400000.0,0 days
3808,/company/zoove,Zoove,mobile,54800000,operating,USA,NY,SF Bay,Palo Alto,5,...,2006-06-20,2013-05-14,2013-04-01,3501 days,841 days,3361 days,2006-06-20,series-a,6800000.0,841 days
3809,/company/zorap,Zorap,web,2251000,closed,USA,ME,Falmouth,Falmouth,2,...,2009-11-01,2010-10-18,2010-10-18,1989 days,559 days,910 days,NaT,NaN,NaN,NaT
3810,/company/zounds,Zounds,biotech,29377000,operating,USA,AZ,Phoenix,Phoenix,2,...,2007-02-14,2011-11-09,2013-05-16,3195 days,774 days,2503 days,2007-02-14,series-a,25000000.0,774 days
3811,/company/zozi,zozi,ecommerce,21300000,operating,USA,CA,SF Bay,San Francisco,4,...,2008-08-01,2013-04-04,2013-08-07,2465 days,578 days,2285 days,2010-08-30,series-a,3000000.0,1337 days
3812,/company/zs-genetics,ZS Genetics,biotech,923000,operating,USA,MA,Boston,Wakefield,2,...,2012-01-06,2012-01-06,2013-07-09,3195 days,2561 days,2561 days,NaT,NaN,NaN,NaT
3813,/company/zscaler,Zscaler,security,38000000,operating,USA,CA,SF Bay,San Jose,1,...,2012-08-30,2012-08-30,2012-08-30,2465 days,2068 days,2068 days,NaT,NaN,NaN,NaT
3814,/company/zuberance,Zuberance,advertising,12000000,operating,USA,CA,SF Bay,San Carlos,2,...,2008-11-24,2010-10-26,2012-08-10,2434 days,662 days,1363 days,2008-11-24,series-a,4000000.0,662 days
3815,/company/zumbox,Zumbox,web,28300000,operating,USA,CA,Los Angeles,Los Angeles,6,...,2008-03-20,2012-07-10,2012-12-01,2557 days,536 days,2109 days,2008-03-20,series-a,2500000.0,536 days
3816,/company/zumeo-com,Zumeo.com,web,100000,operating,USA,OR,Medford,Medford,1,...,2009-01-29,2009-01-29,2009-02-06,2345 days,639 days,639 days,NaT,NaN,NaN,NaT
3817,/company/zumobi,Zumobi,mobile,12000000,operating,USA,WA,Seattle,Seattle,1,...,2007-05-07,2007-05-07,2011-12-17,2406 days,67 days,67 days,2007-05-07,series-a,12000000.0,67 days
3818,/company/zuora,Zuora,software,127500000,operating,USA,CA,SF Bay,Foster City,5,...,2008-03-13,2013-09-05,2013-09-05,2465 days,437 days,2439 days,2008-03-13,series-a,6500000.0,437 days
3819,/company/zvents,Zvents,web,31200000,acquired,USA,CA,SF Bay,San Mateo,3,...,2005-10-05,2008-09-30,2012-09-11,3136 days,218 days,1309 days,2006-11-07,series-a,7000000.0,616 days
3820,/company/zyme-solutions,Zyme Solutions,hardware,8040000,operating,USA,CA,SF Bay,Redwood Shores,3,...,2005-09-12,2013-05-20,2013-04-01,3561 days,620 days,3427 days,2005-09-12,series-a,3040000.0,620 days
3821,/company/zynga,Zynga,games_video,860213000,ipo,USA,CA,SF Bay,San Francisco,8,...,2007-01-01,2011-02-18,2013-09-30,2284 days,-181 days,1328 days,2008-01-01,series-a,10000000.0,184 days
3822,/company/x,[x+1],enterprise,45000000,operating,USA,NY,New York,New York,4,...,2008-06-01,2013-04-04,2012-08-15,5387 days,3439 days,5207 days,2008-06-01,series-a,16000000.0,3439 days

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3823 entries, 0 to 3822
Data columns (total 24 columns):
permalink                3823 non-null object
company_name             3823 non-null object
category_code            3823 non-null object
funding_total_usd        3823 non-null object
status                   3823 non-null object
country_code             3823 non-null object
state_code               3823 non-null object
region                   3823 non-null object
city                     3823 non-null object
funding_rounds           3823 non-null int64
founded_at               3823 non-null datetime64[ns]
founded_month            3823 non-null object
founded_quarter          3823 non-null object
founded_year             3823 non-null float64
first_funding_at         3823 non-null datetime64[ns]
last_funding_at          3823 non-null datetime64[ns]
last_milestone_at        3823 non-null object
days_in_op               3823 non-null timedelta64[ns]
first_funding_dayinop    3823 non-null timedelta64[ns]
last_funding_dayinop     3823 non-null timedelta64[ns]
sa_funded_at             1914 non-null datetime64[ns]
funding_round_type       1914 non-null object
sa_raised_amount_usd     1845 non-null float64
sa_funded_daysop         1914 non-null timedelta64[ns]
dtypes: datetime64[ns](4), float64(2), int64(1), object(13), timedelta64[ns](4)
memory usage: 746.7+ KB

In [ ]:
query='''SELECT company_name, min(funded_at) as ag_funded_at, sum(raised_amount_usd) as ag_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'angel\'
                GROUP BY company_name'''

In [ ]:
angel=pd.read_sql_query(query,cnx)

In [ ]:
angel.info()

In [196]:
gp=rds[rds['funding_round_type']=='angel'].groupby('company_name')
angel=pd.DataFrame({'company_name':list(gp.groups.keys())})
angel['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})
angel=pd.merge(angel,rds[rds['funding_round_type']=='angel'],how='left', on=['company_name','funded_at'])

KeyError: 'funded_at'

In [195]:
angel.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5508 entries, 0 to 5507
Data columns (total 13 columns):
company_name             5508 non-null object
funded_at                5508 non-null datetime64[ns]
company_permalink        5508 non-null object
company_category_code    5438 non-null object
company_country_code     5508 non-null object
company_state_code       5406 non-null object
company_region           5508 non-null object
company_city             5372 non-null object
funding_round_type       5508 non-null object
funded_month             5508 non-null object
funded_quarter           5508 non-null object
funded_year              5508 non-null int64
raised_amount_usd        4347 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 602.4+ KB

In [ ]:
# angel.to_sql('angel', conn, if_exists='replace', index=False) ## too slow

In [ ]:
query='''SELECT company_name, min(funded_at) as ve_funded_at, sum(raised_amount_usd) as ve_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'venture\'
                GROUP BY company_name'''

In [ ]:
vent=pd.read_sql_query(query,cnx)

In [ ]:
# vent.to_sql('vent', conn, if_exists='replace', index=False) ## too slow connection

In [ ]:
df

In [ ]:
# query='''SELECT * FROM df
#             LEFT JOIN angel
#             ON company_name = company_name'''

In [ ]:
# df=pd.read_sql_query(query,cnx)

In [ ]:
# query='''SELECT * FROM df
#             LEFT JOIN vent
#             ON company_name = company_name'''

In [ ]:
# df=pd.read_sql_query(query,cnx)

In [ ]:
df=pd.merge(df,angel,how='left', on='company_name')

In [ ]:
df=pd.merge(df,vent,how='left', on='company_name')

In [ ]:
df=pd.merge(df,crowd,how='left', on='company_name')

In [ ]:
df.info()

In [ ]:
df['founded_at']=pd.to_datetime(df['founded_at'])

In [ ]:
df['ve_funded_at']=pd.to_datetime(df['ve_funded_at'])

In [ ]:
df['sa_funded_at']=pd.to_datetime(df['sa_funded_at'])

In [ ]:
df['cr_funded_at']=pd.to_datetime(df['cr_funded_at'])# to be run

In [ ]:
df['first_funding_at']=pd.to_datetime(df['first_funding_at'])

In [ ]:
df['cr_funded_daysop']=df['cr_funded_at']-df['founded_at'] # to be run

In [ ]:
df['cr_funded_daysop']=df['cr_funded_daysop'].astype('timedelta64[D]')

In [ ]:
df['sa_funded_daysop']=df['sa_funded_at']-df['founded_at']

In [ ]:
df['ag_funded_daysop']=df['ag_funded_at']-df['founded_at']

In [ ]:
df.info()

In [ ]:
df['ve_funded_daysop']=df['ve_funded_at']-df['founded_at']

In [ ]:
df['first_funding_dayinop']=df['first_funding_at']-df['founded_at']

In [ ]:
df.info()

In [ ]:
df.fillna(0, inplace=True)

In [ ]:
df.info()

In [ ]:
df['ag_funded_daysop']=df['ag_funded_daysop'].astype('timedelta64[D]')

In [ ]:
df['ve_funded_daysop']=df['ve_funded_daysop'].astype('timedelta64[D]')

In [ ]:
df.info()

In [ ]:
df['state_code'].value_counts()[:5]

In [ ]:
ind=df[df['state_code']=='CA'].index
df['CA']=0
df['CA'].iloc[ind]=1

In [ ]:
df[df['CA']==1].index

In [ ]:
ind=df[df['state_code']=='NY'].index
df['NY']=0
df['NY'].iloc[ind]=1

ind=df[df['state_code']=='MA'].index
df['MA']=0
df['MA'].iloc[ind]=1

ind=df[df['state_code']=='TX'].index
df['TX']=0
df['TX'].iloc[ind]=1

ind=df[df['state_code']=='WA'].index
df['WA']=0
df['WA'].iloc[ind]=1

In [ ]:
df['country_code'].value_counts()[:5]

In [ ]:
df['founded_year'] = df['founded_at'].dt.year
df['founded_month'] = df['founded_at'].dt.month

In [ ]:
df['sa_funded_daysop']=df['sa_funded_daysop'].astype('timedelta64[D]')

In [ ]:
df['first_funding_dayinop']=df['first_funding_dayinop'].astype('timedelta64[D]')

In [ ]:
inf=pd.read_csv('inflation.csv')

In [ ]:
df['founded_year']=df['founded_year'].astype(int)

In [ ]:
inf['founded_year']=inf['YEAR']

In [ ]:
df=pd.merge(df,inf[['founded_year', 'AVE']],how='left', on='founded_year')# AVE is the annual average inflation

In [ ]:
cpi=pd.read_csv('cpi.csv')

In [ ]:
cpi['founded_year']=cpi['YEAR']

In [ ]:
cpi[['founded_year','adj_base2018']].head()

In [ ]:
df.info()

In [ ]:
df.columns

In [ ]:
df.columns=['permalink', 'company_name', 'category_code', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter',
       'founded_year', 'first_funding_at', 'last_funding_at',
       'last_milestone_at', 'days_in_op', 'first_funding_dayinop',
       'last_funding_dayinop', 'sa_funded_at', 'sa_raised_amount_usd',
       'sa_funded_daysop', 'ag_funded_at', 'ag_raised_amount_usd',
       've_funded_at', 've_raised_amount_usd', 'cr_funded_at',
       'cr_raised_amount_usd', 'cr_funded_daysop', 'ag_funded_daysop',
       've_funded_daysop', 'CA', 'NY', 'MA', 'TX', 'WA', 'ave_inf_y']

In [ ]:
df=pd.merge(df,cpi[['founded_year','adj_base2018']],how='left', on='founded_year')# CPIt/CPI_2018, CPI consumer price index

In [ ]:
df.info()

In [ ]:
df['sa_raised_amount_usd_adj']=df['sa_raised_amount_usd']*df['adj_base2018']

In [ ]:
df['ag_raised_amount_usd_adj']=df['ag_raised_amount_usd']*df['adj_base2018']

In [ ]:
df['ve_raised_amount_usd_adj']=df['ve_raised_amount_usd']*df['adj_base2018']

In [ ]:
df['cr_raised_amount_usd_adj']=df['cr_raised_amount_usd']*df['adj_base2018']

In [ ]:
df.info()

In [ ]:
df.to_csv('start-up.csv')

In [ ]:
!pwd

In [ ]:
!cd ~/start-up-classification

In [ ]:
!pwd