In [1]:
import requests
import time
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import os

In [2]:
from sqlalchemy import create_engine, inspect

In [3]:
from datetime import timedelta

In [4]:
from patsy import dmatrices

from sklearn import linear_model as lm
from sklearn.linear_model import LogisticRegression
from sklearn import cross_validation
from sklearn import metrics
from sklearn.metrics import confusion_matrix

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [5]:
from sklearn.metrics import roc_curve, auc

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn import pipeline, preprocessing

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import LinearSVC
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier

In [10]:
from sklearn import naive_bayes
from sklearn.metrics import accuracy_score, classification_report

In [11]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:

adq=pd.read_csv('./data/crunchbase-acquisitions.csv',encoding = "ISO-8859-1")

In [13]:
adq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6185 entries, 0 to 6184
Data columns (total 20 columns):
company_permalink         4651 non-null object
company_name              4651 non-null object
company_category_code     3933 non-null object
company_country_code      4651 non-null object
company_state_code        4543 non-null object
company_region            4651 non-null object
company_city              4532 non-null object
acquirer_permalink        4651 non-null object
acquirer_name             4651 non-null object
acquirer_category_code    4137 non-null object
acquirer_country_code     4384 non-null object
acquirer_state_code       3877 non-null object
acquirer_region           4651 non-null object
acquirer_city             4262 non-null object
acquired_at               4651 non-null object
acquired_month            4651 non-null object
acquired_quarter          4651 non-null object
acquired_year             4651 non-null float64
price_amount              1409 non-null float64
price_currency_code       4648 non-null object
dtypes: float64(2), object(18)
memory usage: 966.5+ KB

In [14]:

comp=pd.read_csv('./data/crunchbase-companies.csv',encoding = "ISO-8859-1")

In [15]:
comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 17 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null object
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
dtypes: float64(1), int64(1), object(15)
memory usage: 2.3+ MB

In [16]:
comp2=comp

In [17]:
comp2['founded_at']=pd.to_datetime(comp2['founded_at'])

In [18]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17727 entries, 0 to 17726
Data columns (total 17 columns):
permalink            17727 non-null object
name                 17727 non-null object
category_code        17328 non-null object
funding_total_usd    16222 non-null object
status               17727 non-null object
country_code         17727 non-null object
state_code           17480 non-null object
region               17727 non-null object
city                 17462 non-null object
funding_rounds       17727 non-null int64
founded_at           13676 non-null datetime64[ns]
founded_month        13676 non-null object
founded_quarter      13676 non-null object
founded_year         13676 non-null float64
first_funding_at     17622 non-null object
last_funding_at      17622 non-null object
last_milestone_at    10528 non-null object
dtypes: datetime64[ns](1), float64(1), int64(1), object(14)
memory usage: 2.3+ MB

In [19]:
#date for database snapshot
reft='2013-10-01 00:00:00'

In [20]:
reft=pd.Series({'reft':reft})

In [21]:
reft=pd.to_datetime(reft)

In [22]:
reft[0]

Timestamp('2013-10-01 00:00:00')

In [23]:
comp2['founded_at'][0]

Timestamp('2012-06-01 00:00:00')

In [24]:
comp2['days_in_op']=reft[0]-comp2['founded_at']

In [25]:
comp2[['days_in_op','founded_at']]

      days_in_op founded_at
0       487 days 2012-06-01
1       639 days 2012-01-01
2       722 days 2011-10-10
3            NaT        NaT
4     10135 days 1986-01-01
5      4656 days 2001-01-01
6      1188 days 2010-07-01
7            NaT        NaT
8       746 days 2011-09-16
9      5022 days 2000-01-01
10     1644 days 2009-04-01
11      639 days 2012-01-01
12     1369 days 2010-01-01
13           NaT        NaT
14      725 days 2011-10-07
15      639 days 2012-01-01
16     2465 days 2007-01-01
17     1359 days 2010-01-11
18     1369 days 2010-01-01
19      884 days 2011-05-01
20     1600 days 2009-05-15
21     8674 days 1990-01-01
22     2679 days 2006-06-01
23     1919 days 2008-06-30
24           NaT        NaT
25      731 days 2011-10-01
26     4656 days 2001-01-01
27      670 days 2011-12-01
28     2100 days 2008-01-01
29      426 days 2012-08-01
...          ...        ...
17697   670 days 2011-12-01
17698        NaT        NaT
17699  1461 days 2009-10-01
17700   581 days 2012-02-28
17701  4656 days 2001-01-01
17702  2557 days 2006-10-01
17703  2625 days 2006-07-25
17704  2345 days 2007-05-01
17705  2406 days 2007-03-01
17706   639 days 2012-01-01
17707  2465 days 2007-01-01
17708        NaT        NaT
17709        NaT        NaT
17710  1369 days 2010-01-01
17711  1635 days 2009-04-10
17712  3136 days 2005-03-01
17713  1734 days 2009-01-01
17714  1004 days 2011-01-01
17715        NaT        NaT
17716        NaT        NaT
17717  2531 days 2006-10-27
17718  3561 days 2004-01-01
17719  2830 days 2006-01-01
17720  2284 days 2007-07-01
17721  2100 days 2008-01-01
17722        NaT        NaT
17723  1004 days 2011-01-01
17724        NaT        NaT
17725  5387 days 1999-01-01
17726   273 days 2013-01-01

[17727 rows x 2 columns]

In [26]:
comp2['days_in_op'][0]

Timedelta('487 days 00:00:00')

In [27]:
5*365*3

5475

In [28]:
comp2= comp2[(comp2['days_in_op']>'1825 days 00:00:00') & (comp2['days_in_op']<'5475 days 00:00:00' )]

In [29]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6530 entries, 5 to 17725
Data columns (total 18 columns):
permalink            6530 non-null object
name                 6530 non-null object
category_code        6417 non-null object
funding_total_usd    6082 non-null object
status               6530 non-null object
country_code         6530 non-null object
state_code           6459 non-null object
region               6530 non-null object
city                 6449 non-null object
funding_rounds       6530 non-null int64
founded_at           6530 non-null datetime64[ns]
founded_month        6530 non-null object
founded_quarter      6530 non-null object
founded_year         6530 non-null float64
first_funding_at     6467 non-null object
last_funding_at      6467 non-null object
last_milestone_at    4181 non-null object
days_in_op           6530 non-null timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(14), timedelta64[ns](1)
memory usage: 969.3+ KB

In [30]:
comp2['first_funding_at']=pd.to_datetime(comp2['first_funding_at'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [31]:
comp2['last_funding_at']=pd.to_datetime(comp2['last_funding_at'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [32]:
comp2['first_funding_dayinop']=comp2['first_funding_at']-comp2['founded_at']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [33]:
comp2['last_funding_dayinop']=comp2['last_funding_at']-comp2['founded_at']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
comp2.drop_duplicates(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [35]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6530 entries, 5 to 17725
Data columns (total 20 columns):
permalink                6530 non-null object
name                     6530 non-null object
category_code            6417 non-null object
funding_total_usd        6082 non-null object
status                   6530 non-null object
country_code             6530 non-null object
state_code               6459 non-null object
region                   6530 non-null object
city                     6449 non-null object
funding_rounds           6530 non-null int64
founded_at               6530 non-null datetime64[ns]
founded_month            6530 non-null object
founded_quarter          6530 non-null object
founded_year             6530 non-null float64
first_funding_at         6467 non-null datetime64[ns]
last_funding_at          6467 non-null datetime64[ns]
last_milestone_at        4181 non-null object
days_in_op               6530 non-null timedelta64[ns]
first_funding_dayinop    6467 non-null timedelta64[ns]
last_funding_dayinop     6467 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(12), timedelta64[ns](3)
memory usage: 1.0+ MB

In [36]:
comp2.dropna(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [37]:
comp2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3817 entries, 9 to 17725
Data columns (total 20 columns):
permalink                3817 non-null object
name                     3817 non-null object
category_code            3817 non-null object
funding_total_usd        3817 non-null object
status                   3817 non-null object
country_code             3817 non-null object
state_code               3817 non-null object
region                   3817 non-null object
city                     3817 non-null object
funding_rounds           3817 non-null int64
founded_at               3817 non-null datetime64[ns]
founded_month            3817 non-null object
founded_quarter          3817 non-null object
founded_year             3817 non-null float64
first_funding_at         3817 non-null datetime64[ns]
last_funding_at          3817 non-null datetime64[ns]
last_milestone_at        3817 non-null object
days_in_op               3817 non-null timedelta64[ns]
first_funding_dayinop    3817 non-null timedelta64[ns]
last_funding_dayinop     3817 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(1), int64(1), object(12), timedelta64[ns](3)
memory usage: 626.2+ KB

In [38]:

invs=pd.read_csv('./data/crunchbase-investments.csv',encoding = "ISO-8859-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [39]:
invs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB

In [40]:

rds=pd.read_csv('./data/crunchbase-rounds.csv',encoding = "ISO-8859-1")

In [41]:
rds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31679 entries, 0 to 31678
Data columns (total 13 columns):
company_permalink        31679 non-null object
company_name             31679 non-null object
company_category_code    31215 non-null object
company_country_code     31679 non-null object
company_state_code       31334 non-null object
company_region           31679 non-null object
company_city             31329 non-null object
funding_round_type       31679 non-null object
funded_at                31679 non-null object
funded_month             31679 non-null object
funded_quarter           31679 non-null object
funded_year              31679 non-null int64
raised_amount_usd        29100 non-null float64
dtypes: float64(1), int64(1), object(11)
memory usage: 3.1+ MB

In [42]:
rds['funded_at']=pd.to_datetime(rds['funded_at'])

In [43]:
comp.shape

(17727, 18)

In [44]:
invs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52870 entries, 0 to 52869
Data columns (total 20 columns):
company_permalink         52869 non-null object
company_name              52869 non-null object
company_category_code     52227 non-null object
company_country_code      52869 non-null object
company_state_code        52378 non-null object
company_region            52869 non-null object
company_city              52337 non-null object
investor_permalink        52868 non-null object
investor_name             52868 non-null object
investor_category_code    2443 non-null object
investor_country_code     40869 non-null object
investor_state_code       36061 non-null object
investor_region           52868 non-null object
investor_city             40390 non-null object
funding_round_type        52867 non-null object
funded_at                 52867 non-null object
funded_month              52867 non-null object
funded_quarter            52867 non-null object
funded_year               52867 non-null float64
raised_amount_usd         49271 non-null float64
dtypes: float64(2), object(18)
memory usage: 8.1+ MB

In [45]:
invs

,company_permalink,company_name,company_category_code,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_code,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_type,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/company/advercar,AdverCar,advertising,USA,CA,SF Bay,San Francisco,/company/1-800-flowers-com,1-800-FLOWERS.COM,NaN,USA,NY,New York,New York,series-a,2012-10-30,2012-10,2012-Q4,2012.0,2000000.0
1,/company/launchgram,LaunchGram,news,USA,CA,SF Bay,Mountain View,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-23,2012-01,2012-Q1,2012.0,20000.0
2,/company/utap,uTaP,messaging,USA,NaN,United States - Other,NaN,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-01-01,2012-01,2012-Q1,2012.0,20000.0
3,/company/zoopshop,ZoopShop,software,USA,OH,Columbus,columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-02-15,2012-02,2012-Q1,2012.0,20000.0
4,/company/efuneral,eFuneral,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2011-09-08,2011-09,2011-Q3,2011.0,20000.0
5,/company/tackk,Tackk,web,USA,OH,Cleveland,Cleveland,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,other,2012-02-01,2012-02,2012-Q1,2012.0,20000.0
6,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-06-01,2012-06,2012-Q2,2012.0,20000.0
7,/company/acclaimd,Acclaimd,analytics,USA,OH,Columbus,Columbus,/company/10xelerator,10Xelerator,finance,USA,OH,Columbus,Columbus,angel,2012-08-07,2012-08,2012-Q3,2012.0,70000.0
8,/company/toviefor,ToVieFor,ecommerce,USA,NY,New York,New York,/company/2010-nyu-stern-business-plan-competition,2010 NYU Stern Business Plan Competition,NaN,NaN,NaN,unknown,NaN,angel,2010-04-01,2010-04,2010-Q2,2010.0,75000.0
9,/company/ohk-labs,OHK Labs,sports,USA,FL,Palm Beach,Boca Raton,/company/22hundred-group,22Hundred Group,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,100000.0
10,/company/lovely,Lovely,real_estate,USA,CA,SF Bay,San Francisco,/company/3taps,3taps,web,USA,CA,SF Bay,San Francisco,series-a,2012-10-01,2012-10,2012-Q4,2012.0,2000000.0
11,/company/peertransfer,peerTransfer,finance,USA,MA,Boston,Boston,/company/500-hats,500 Hats,NaN,USA,CA,SF Bay,Palo Alto,angel,2010-10-28,2010-10,2010-Q4,2010.0,1100000.0
12,/company/spotdock,spotdock,web,USA,NY,New York,NYC,/company/9mmedia-llc,"9mmedia, LLC",NaN,NaN,NaN,unknown,NaN,angel,2012-01-10,2012-01,2012-Q1,2012.0,600000.0
13,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,series-a,2010-05-01,2010-05,2010-Q2,2010.0,189000000.0
14,/company/fisker,Fisker Automotive,automotive,USA,CA,Los Angeles,Irvine,/company/a123systems,A123 Systems,nanotech,USA,MA,Boston,Watertown,venture,2011-02-22,2011-02,2011-Q1,2011.0,150000000.0
15,/company/metroflats-com,MetroFlats.com,travel,USA,NJ,Cedar Grove,Cedar Grove,/company/aa-investments,AA Investments,NaN,BMU,NaN,Bermuda - Other,NaN,angel,2010-08-18,2010-08,2010-Q3,2010.0,NaN
16,/company/mesocoat,MesoCoat,nanotech,USA,OH,Cleveland,Euclid,/company/abakan-inc,Abakan,cleantech,USA,FL,Miami,Miami,venture,2009-12-14,2009-12,2009-Q4,2009.0,NaN
17,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,series-b,2010-07-15,2010-07,2010-Q3,2010.0,106000000.0
18,/company/power-assure,Power Assure,network_hosting,USA,CA,SF Bay,Santa Clara,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-09-20,2010-09,2010-Q3,2010.0,1500000.0
19,/company/trilliant,Trilliant,hardware,USA,CA,SF Bay,Redwood City,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2010-12-21,2010-12,2010-Q4,2010.0,NaN
20,/company/ecotality,ECOtality,cleantech,USA,CA,SF Bay,San Francisco,/company/abb,ABB,cleantech,CHE,NaN,Zurich,Zurich,venture,2011-01-09,2011-01,2011-Q1,2011.0,10000000.0
21,/company/evalve,Evalve,biotech,USA,CA,SF Bay,Menlo Park,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-c+,2007-11-27,2007-11,2007-Q4,2007.0,60000000.0
22,/company/ovalis,Ovalis,biotech,USA,CA,SF Bay,Mountain View,/company/abbott,Abbott Labs,biotech,USA,IL,Chicago,Des Plaines,series-b,2007-01-30,2007-01,2007-Q1,2007.0,6600000.0
23,/company/alvine-pharmaceuticals,Alvine Pharmaceuticals,biotech,USA,CA,SF Bay,San Carlos,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,private-equity,2013-05-14,2013-05,2013-Q2,2013.0,70000000.0
24,/company/avaxia-biologics,Avaxia Biologics,biotech,USA,MA,Boston,Lexington,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-06-07,2013-06,2013-Q2,2013.0,11500000.0
25,/company/aurasense-therapeutics,AuraSense Therapeutics,biotech,USA,IL,Chicago,Evanston,/company/abbvie,AbbVie,biotech,USA,IL,Chicago,Chicago,series-b,2013-07-31,2013-07,2013-Q3,2013.0,NaN
26,/company/librarything,LibraryThing,web,USA,ME,Portland,Portland,/company/abebooks,AbeBooks,web,CAN,NaN,Victoria,Victoria,series-a,2006-05-16,2006-05,2006-Q2,2006.0,NaN
27,/company/heliovolt,HelioVolt,cleantech,USA,TX,Austin,Austin,/company/abengoa-solar,Abengoa Solar,cleantech,ESP,NaN,Sevilla,Sevilla,series-b,2007-10-23,2007-10,2007-Q4,2007.0,101000000.0
28,/company/airband-communications-holdings,Airband Communications Holdings,mobile,USA,TX,Dallas,Dallas,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,venture,2011-08-11,2011-08,2011-Q3,2011.0,20000000.0
29,/company/xand,Xand,software,USA,NY,New York,Hawthorne,/company/abry-partners,ABRY Partners,other,USA,MA,Boston,Boston,other,2013-09-12,2013-09,2013-Q3,2013.0,200000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52840,/company/meddik,Meddik,health,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-05-24,2012-05,2012-Q2,2012.0,750000.0
52841,/company/blue-apron,Blue Apron,hospitality,USA,NY,New York,Brooklyn,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-02-19,2013-02,2013-Q1,2013.0,3000000.0
52842,/company/chatid,ChatID,mobile,USA,NY,New York,New York,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,NaN
52843,/company/breakthrough-behavioral,Breakthrough Behavioral,health,USA,CA,SF Bay,Redwood City,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,angel,2012-08-13,2012-08,2012-Q3,2012.0,900000.0
52844,/company/plaid,Plaid,software,USA,CA,SF Bay,San Francisco,/person/zach-weinberg,Zach Weinberg,NaN,NaN,NaN,unknown,NaN,series-a,2013-09-19,2013-09,2013-Q3,2013.0,2800000.0
52845,/company/pokitdok,PokitDok,mobile,USA,CA,SF Bay,Menlo Park,/person/zach-zeitlin,Zach Zeitlin,NaN,NaN,NaN,unknown,NaN,angel,2012-07-12,2012-07,2012-Q3,2012.0,1300000.0
52846,/company/fitocracy,Fitocracy,web,USA,NY,New York,New York,/person/zachary-aarons,Zachary Aarons,NaN,NaN,NaN,unknown,NaN,angel,2011-09-01,2011-09,2011-Q3,2011.0,250000.0
52847,/company/square,Square,mobile,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2009-11-01,2009-11,2009-Q4,2009.0,10000000.0
52848,/company/mixrank,MixRank,advertising,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2011-11-18,2011-11,2011-Q4,2011.0,1500000.0
52849,/company/socialcam,Socialcam,mobile,USA,CA,Santa Clara County,Santa Clara County,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,angel,2012-04-30,2012-04,2012-Q2,2012.0,NaN
52850,/company/nuzzel,Nuzzel,news,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,venture,2012-11-15,2012-11,2012-Q4,2012.0,1700000.0
52851,/company/thirdlove,ThirdLove,ecommerce,USA,CA,SF Bay,San Francisco,/person/zachary-bogue,Zachary Bogue,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-01,2012-12,2012-Q4,2012.0,5600000.0
52852,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2012-01-01,2012-01,2012-Q1,2012.0,300000.0
52853,/company/mxd3d,MXD3D,web,USA,CA,SF Bay,San Francisco,/person/zaid-ayoub,Zaid Ayoub,NaN,NaN,NaN,unknown,NaN,angel,2011-01-01,2011-01,2011-Q1,2011.0,300000.0
52854,/company/verious,Verious,mobile,USA,CA,SF Bay,San Carlos,/person/zain-khan,Zain Khan,NaN,NaN,NaN,unknown,NaN,angel,2011-05-30,2011-05,2011-Q2,2011.0,800000.0
52855,/company/identified-com,Identified,analytics,USA,CA,SF Bay,San Francisco,/person/zao-yang,Zao Yang,NaN,NaN,NaN,unknown,NaN,series-b,2012-06-05,2012-06,2012-Q2,2012.0,21000000.0
52856,/company/haulerdeals,HaulerDeals,fashion,USA,CA,Los Angeles,Los Angeles,/person/zaw-thet,Zaw Thet,NaN,NaN,NaN,unknown,NaN,angel,2012-10-31,2012-10,2012-Q4,2012.0,1250000.0
52857,/company/when-you-wish,When You Wish,nonprofit,USA,CA,Los Angeles,Marina Del Rey,/person/zelda-marzec,Zelda Marzec,NaN,NaN,NaN,unknown,NaN,series-a,2011-02-01,2011-02,2011-Q1,2011.0,1500000.0
52858,/company/farmeron,Farmeron,analytics,USA,CA,SF Bay,Mountain View,/person/zeljko-mataija,Zeljko Mataija,NaN,NaN,NaN,unknown,NaN,angel,2010-10-01,2010-10,2010-Q4,2010.0,15000.0
52859,/company/theraclone-sciences,Theraclone Sciences,biotech,USA,WA,Seattle,Seattle,/person/zenyaku-kogyo,Zenyaku Kogyo,NaN,NaN,NaN,unknown,NaN,series-b,2013-03-25,2013-03,2013-Q1,2013.0,8000000.0
52860,/company/simplegeo,SimpleGeo,advertising,USA,CA,SF Bay,San Francisco,/person/ziv-navoth,Ziv Navoth,NaN,NaN,NaN,unknown,NaN,other,2009-11-10,2009-11,2009-Q4,2009.0,195000.0
52861,/company/open-me,Open Me,ecommerce,USA,CA,Los Angeles,Los Angeles,/person/ziver-birg,Ziver Birg,NaN,NaN,NaN,unknown,NaN,angel,2013-08-01,2013-08,2013-Q3,2013.0,NaN
52862,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zod-nazem,Zod Nazem,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52863,/company/payoneer,Payoneer,other,USA,NY,New York,New York,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2005-01-01,2005-01,2005-Q1,2005.0,2000000.0
52864,/company/outbrain,Outbrain,web,USA,NY,New York,New York City,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-b,2009-02-11,2009-02,2009-Q1,2009.0,12000000.0
52865,/company/garantia-data,Garantia Data,enterprise,USA,CA,SF Bay,Santa Clara,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-a,2012-08-08,2012-08,2012-Q3,2012.0,3800000.0
52866,/company/duda-mobile,DudaMobile,mobile,USA,CA,SF Bay,Palo Alto,/person/zohar-gilon,Zohar Gilon,NaN,NaN,NaN,unknown,NaN,series-c+,2013-04-08,2013-04,2013-Q2,2013.0,10300000.0
52867,/company/sitebrains,SiteBrains,software,USA,CA,SF Bay,San Francisco,/person/zohar-israel,zohar israel,NaN,NaN,NaN,unknown,NaN,angel,2010-08-01,2010-08,2010-Q3,2010.0,350000.0
52868,/company/comprehend-systems,Comprehend Systems,enterprise,USA,CA,SF Bay,Palo Alto,/person/zorba-lieberman,Zorba Lieberman,NaN,NaN,NaN,unknown,NaN,series-a,2013-07-11,2013-07,2013-Q3,2013.0,8400000.0
52869,/company/smartthings,SmartThings,mobile,USA,DC,unknown,Minneapolis,/person/zorik-gordon,Zorik Gordon,NaN,NaN,NaN,unknown,NaN,series-a,2012-12-04,2012-12,2012-Q4,2012.0,3000000.0

In [46]:
comp2.columns

Index(['permalink', 'name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at',
       'days_in_op', 'first_funding_dayinop', 'last_funding_dayinop'],
      dtype='object')

In [47]:
comp2.columns=['permalink', 'company_name', 'category_code', 'funding_total_usd', 'status',
       'country_code', 'state_code', 'region', 'city', 'funding_rounds',
       'founded_at', 'founded_month', 'founded_quarter', 'founded_year',
       'first_funding_at', 'last_funding_at', 'last_milestone_at',
       'days_in_op', 'first_funding_dayinop', 'last_funding_dayinop']

In [48]:
rds.funding_round_type.unique()

array(['series-a', 'angel', 'series-b', 'venture', 'other', 'series-c+',
       'private-equity', 'post-ipo', 'crowdfunding'], dtype=object)

In [49]:
rds[rds['funding_round_type']=='crowdfunding'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 1831 to 30536
Data columns (total 13 columns):
company_permalink        30 non-null object
company_name             30 non-null object
company_category_code    29 non-null object
company_country_code     30 non-null object
company_state_code       30 non-null object
company_region           30 non-null object
company_city             29 non-null object
funding_round_type       30 non-null object
funded_at                30 non-null datetime64[ns]
funded_month             30 non-null object
funded_quarter           30 non-null object
funded_year              30 non-null int64
raised_amount_usd        29 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 3.3+ KB

In [50]:
gp=rds[rds['funding_round_type']=='crowdfunding'].groupby('company_name')

In [51]:
crowd=pd.DataFrame({'company_name':list(gp.groups.keys())})

In [52]:
crowd['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})

In [53]:
crowd

               company_name  funded_at
0                   App.net 2012-08-12
1                  Appy Pie 2013-08-28
2      Cloud Imperium Games 2013-09-27
3         Dragon Innovation 2013-08-08
4             Elevation Lab 2012-02-11
5            Exposed Vocals 2013-07-16
6          Faraday Bicycles 2012-08-01
7                  Formlabs 2012-10-25
8                    Fuel3D 2013-09-04
9             Glowing Plant 2013-06-08
10   Good Times Restaurants 2013-08-21
11         Icarus Ascending 2013-09-05
12                LUMI Mask 2011-01-06
13              NOMAD GOODS 2012-08-27
14              NanoSatisfi 2012-07-14
15          OLIVERS Apparel 2013-08-30
16                     OUYA 2012-08-09
17                Oculus VR 2012-01-01
18         Perle Bioscience 2013-09-26
19                Pressgram 2013-04-15
20                   Pressy 2013-09-19
21  R.A. Burch Construction 2013-09-09
22               SLIC games 2012-10-01
23                  Scanadu 2013-06-09
24             TinyCircuits 2013-09-04
25            Upheaval Arts 2013-09-12
26              WealthForge 2013-08-08
27     Wikimedia Foundation 2008-03-01

In [54]:
crowd=pd.merge(crowd,rds[rds['funding_round_type']=='crowdfunding'][['company_name','funded_at','raised_amount_usd']],how='left', on=['company_name','funded_at'])

In [55]:
crowd

               company_name  funded_at  raised_amount_usd
0                   App.net 2012-08-12           500000.0
1                  Appy Pie 2013-08-28            10000.0
2      Cloud Imperium Games 2013-09-27         20000000.0
3         Dragon Innovation 2013-08-08          2145000.0
4             Elevation Lab 2012-02-11          1450000.0
5            Exposed Vocals 2013-07-16           250000.0
6          Faraday Bicycles 2012-08-01           177268.0
7                  Formlabs 2012-10-25          2800000.0
8                    Fuel3D 2013-09-04           325000.0
9             Glowing Plant 2013-06-08           484000.0
10   Good Times Restaurants 2013-08-21          5500000.0
11         Icarus Ascending 2013-09-05            10000.0
12                LUMI Mask 2011-01-06            27000.0
13              NOMAD GOODS 2012-08-27           161897.0
14              NanoSatisfi 2012-07-14           100000.0
15          OLIVERS Apparel 2013-08-30           173000.0
16                     OUYA 2012-08-09          8600000.0
17                Oculus VR 2012-01-01          2400000.0
18         Perle Bioscience 2013-09-26          2000000.0
19                Pressgram 2013-04-15            56500.0
20                   Pressy 2013-09-19           500000.0
21  R.A. Burch Construction 2013-09-09         14600000.0
22               SLIC games 2012-10-01            10000.0
23                  Scanadu 2013-06-09          1565113.0
24             TinyCircuits 2013-09-04           110000.0
25            Upheaval Arts 2013-09-12            85000.0
26              WealthForge 2013-08-08                NaN
27     Wikimedia Foundation 2008-03-01          3000000.0

In [56]:
crowd.columns =['company_name', 'cr_funded_at', 'cr_raised_amount_usd']

In [57]:
gp=rds[rds['funding_round_type']=='series-a'].groupby('company_name')
s_a=pd.DataFrame({'company_name':list(gp.groups.keys())})
s_a['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})

In [58]:
s_a=pd.merge(s_a,rds[rds['funding_round_type']=='series-a'][['company_name','funded_at','raised_amount_usd']],how='left', on=['company_name','funded_at'])

In [59]:
s_a.columns =['company_name', 'sa_funded_at', 'sa_raised_amount_usd']

In [60]:
s_a.columns

Index(['company_name', 'sa_funded_at', 'sa_raised_amount_usd'], dtype='object')

In [61]:
df=pd.merge(comp2,s_a,how='left', on='company_name')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3823 entries, 0 to 3822
Data columns (total 22 columns):
permalink                3823 non-null object
company_name             3823 non-null object
category_code            3823 non-null object
funding_total_usd        3823 non-null object
status                   3823 non-null object
country_code             3823 non-null object
state_code               3823 non-null object
region                   3823 non-null object
city                     3823 non-null object
funding_rounds           3823 non-null int64
founded_at               3823 non-null datetime64[ns]
founded_month            3823 non-null object
founded_quarter          3823 non-null object
founded_year             3823 non-null float64
first_funding_at         3823 non-null datetime64[ns]
last_funding_at          3823 non-null datetime64[ns]
last_milestone_at        3823 non-null object
days_in_op               3823 non-null timedelta64[ns]
first_funding_dayinop    3823 non-null timedelta64[ns]
last_funding_dayinop     3823 non-null timedelta64[ns]
sa_funded_at             1914 non-null datetime64[ns]
sa_raised_amount_usd     1845 non-null float64
dtypes: datetime64[ns](4), float64(2), int64(1), object(12), timedelta64[ns](3)
memory usage: 686.9+ KB

In [63]:
# df

In [64]:
df['sa_funded_daysop']=df['sa_funded_at']-df['founded_at']

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3823 entries, 0 to 3822
Data columns (total 23 columns):
permalink                3823 non-null object
company_name             3823 non-null object
category_code            3823 non-null object
funding_total_usd        3823 non-null object
status                   3823 non-null object
country_code             3823 non-null object
state_code               3823 non-null object
region                   3823 non-null object
city                     3823 non-null object
funding_rounds           3823 non-null int64
founded_at               3823 non-null datetime64[ns]
founded_month            3823 non-null object
founded_quarter          3823 non-null object
founded_year             3823 non-null float64
first_funding_at         3823 non-null datetime64[ns]
last_funding_at          3823 non-null datetime64[ns]
last_milestone_at        3823 non-null object
days_in_op               3823 non-null timedelta64[ns]
first_funding_dayinop    3823 non-null timedelta64[ns]
last_funding_dayinop     3823 non-null timedelta64[ns]
sa_funded_at             1914 non-null datetime64[ns]
sa_raised_amount_usd     1845 non-null float64
sa_funded_daysop         1914 non-null timedelta64[ns]
dtypes: datetime64[ns](4), float64(2), int64(1), object(12), timedelta64[ns](4)
memory usage: 716.8+ KB

In [67]:
query='''SELECT company_name, min(funded_at) as ag_funded_at, sum(raised_amount_usd) as ag_raised_amount_usd 
            FROM rds
                WHERE funding_round_type = \'angel\'
                GROUP BY company_name'''

In [68]:
gp=rds[rds['funding_round_type']=='angel'].groupby('company_name')
angel=pd.DataFrame({'company_name':list(gp.groups.keys())})
angel['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})
angel=pd.merge(angel,rds[rds['funding_round_type']=='angel'][['company_name','funded_at','raised_amount_usd']],how='left', on=['company_name','funded_at'])

In [69]:
angel.columns =['company_name', 'ag_funded_at', 'ag_raised_amount_usd']

In [70]:
gp=rds[rds['funding_round_type']=='venture'].groupby('company_name')
vent=pd.DataFrame({'company_name':list(gp.groups.keys())})
vent['funded_at']=pd.DataFrame({'funded_at':list(gp['funded_at'].min().values)})
vent=pd.merge(vent,rds[rds['funding_round_type']=='venture'][['company_name','funded_at','raised_amount_usd']],how='left', on=['company_name','funded_at'])

In [71]:
vent.columns=['company_name', 've_funded_at', 've_raised_amount_usd']

In [72]:
df=pd.merge(df,angel,how='left', on='company_name')

In [73]:
df=pd.merge(df,vent,how='left', on='company_name')

In [74]:
df=pd.merge(df,crowd,how='left', on='company_name')

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 29 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null object
founded_quarter          3836 non-null object
founded_year             3836 non-null float64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null timedelta64[ns]
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             1917 non-null datetime64[ns]
sa_raised_amount_usd     1848 non-null float64
sa_funded_daysop         1917 non-null timedelta64[ns]
ag_funded_at             718 non-null datetime64[ns]
ag_raised_amount_usd     623 non-null float64
ve_funded_at             1505 non-null datetime64[ns]
ve_raised_amount_usd     1414 non-null float64
cr_funded_at             2 non-null datetime64[ns]
cr_raised_amount_usd     2 non-null float64
dtypes: datetime64[ns](7), float64(5), int64(1), object(12), timedelta64[ns](4)
memory usage: 899.1+ KB

In [ ]:
df['founded_at']=pd.to_datetime(df['founded_at'])

In [76]:
df['ve_funded_at']=pd.to_datetime(df['ve_funded_at'])

In [77]:
df['sa_funded_at']=pd.to_datetime(df['sa_funded_at'])

In [78]:
df['cr_funded_at']=pd.to_datetime(df['cr_funded_at'])# to be run

In [79]:
df['first_funding_at']=pd.to_datetime(df['first_funding_at'])

In [80]:
df['cr_funded_daysop']=df['cr_funded_at']-df['founded_at'] # to be run

In [81]:
df['cr_funded_daysop']=df['cr_funded_daysop'].astype('timedelta64[D]')

In [82]:
df['sa_funded_daysop']=df['sa_funded_at']-df['founded_at']

In [83]:
df['ag_funded_daysop']=df['ag_funded_at']-df['founded_at']

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 31 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null object
founded_quarter          3836 non-null object
founded_year             3836 non-null float64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null timedelta64[ns]
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             1917 non-null datetime64[ns]
sa_raised_amount_usd     1848 non-null float64
sa_funded_daysop         1917 non-null timedelta64[ns]
ag_funded_at             718 non-null datetime64[ns]
ag_raised_amount_usd     623 non-null float64
ve_funded_at             1505 non-null datetime64[ns]
ve_raised_amount_usd     1414 non-null float64
cr_funded_at             2 non-null datetime64[ns]
cr_raised_amount_usd     2 non-null float64
cr_funded_daysop         2 non-null float64
ag_funded_daysop         718 non-null timedelta64[ns]
dtypes: datetime64[ns](7), float64(6), int64(1), object(12), timedelta64[ns](5)
memory usage: 959.0+ KB

In [85]:
df['ve_funded_daysop']=df['ve_funded_at']-df['founded_at']

In [86]:
df['first_funding_dayinop']=df['first_funding_at']-df['founded_at']

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 32 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null object
founded_quarter          3836 non-null object
founded_year             3836 non-null float64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null timedelta64[ns]
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             1917 non-null datetime64[ns]
sa_raised_amount_usd     1848 non-null float64
sa_funded_daysop         1917 non-null timedelta64[ns]
ag_funded_at             718 non-null datetime64[ns]
ag_raised_amount_usd     623 non-null float64
ve_funded_at             1505 non-null datetime64[ns]
ve_raised_amount_usd     1414 non-null float64
cr_funded_at             2 non-null datetime64[ns]
cr_raised_amount_usd     2 non-null float64
cr_funded_daysop         2 non-null float64
ag_funded_daysop         718 non-null timedelta64[ns]
ve_funded_daysop         1505 non-null timedelta64[ns]
dtypes: datetime64[ns](7), float64(6), int64(1), object(12), timedelta64[ns](6)
memory usage: 989.0+ KB

In [88]:
df.fillna(0, inplace=True)

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 32 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null object
founded_quarter          3836 non-null object
founded_year             3836 non-null float64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null timedelta64[ns]
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             3836 non-null object
sa_raised_amount_usd     3836 non-null float64
sa_funded_daysop         3836 non-null timedelta64[ns]
ag_funded_at             3836 non-null object
ag_raised_amount_usd     3836 non-null float64
ve_funded_at             3836 non-null object
ve_raised_amount_usd     3836 non-null float64
cr_funded_at             3836 non-null object
cr_raised_amount_usd     3836 non-null float64
cr_funded_daysop         3836 non-null float64
ag_funded_daysop         3836 non-null timedelta64[ns]
ve_funded_daysop         3836 non-null timedelta64[ns]
dtypes: datetime64[ns](3), float64(6), int64(1), object(16), timedelta64[ns](6)
memory usage: 989.0+ KB

In [90]:
df['ag_funded_daysop']=df['ag_funded_daysop'].astype('timedelta64[D]')

In [91]:
df['ve_funded_daysop']=df['ve_funded_daysop'].astype('timedelta64[D]')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 32 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null object
founded_quarter          3836 non-null object
founded_year             3836 non-null float64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null timedelta64[ns]
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             3836 non-null object
sa_raised_amount_usd     3836 non-null float64
sa_funded_daysop         3836 non-null timedelta64[ns]
ag_funded_at             3836 non-null object
ag_raised_amount_usd     3836 non-null float64
ve_funded_at             3836 non-null object
ve_raised_amount_usd     3836 non-null float64
cr_funded_at             3836 non-null object
cr_raised_amount_usd     3836 non-null float64
cr_funded_daysop         3836 non-null float64
ag_funded_daysop         3836 non-null float64
ve_funded_daysop         3836 non-null float64
dtypes: datetime64[ns](3), float64(8), int64(1), object(16), timedelta64[ns](4)
memory usage: 989.0+ KB

In [93]:
df['state_code'].value_counts()[:5]

CA    1810
MA     398
NY     358
WA     169
TX     155
Name: state_code, dtype: int64

In [94]:
ind=df[df['state_code']=='CA'].index
df['CA']=0
df['CA'].iloc[ind]=1

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [96]:
ind=df[df['state_code']=='NY'].index
df['NY']=0
df['NY'].iloc[ind]=1

ind=df[df['state_code']=='MA'].index
df['MA']=0
df['MA'].iloc[ind]=1

ind=df[df['state_code']=='TX'].index
df['TX']=0
df['TX'].iloc[ind]=1

ind=df[df['state_code']=='WA'].index
df['WA']=0
df['WA'].iloc[ind]=1

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [97]:
df['country_code'].value_counts()[:5]

USA    3836
Name: country_code, dtype: int64

In [98]:
df['founded_year'] = df['founded_at'].dt.year
df['founded_month'] = df['founded_at'].dt.month

In [99]:
df['sa_funded_daysop']=df['sa_funded_daysop'].astype('timedelta64[D]')

In [100]:
df['first_funding_dayinop']=df['first_funding_dayinop'].astype('timedelta64[D]')

In [102]:
inf=pd.read_csv('./data/inflation.csv')

In [103]:
df['founded_year']=df['founded_year'].astype(int)

In [104]:
inf['founded_year']=inf['YEAR']

In [106]:
df=pd.merge(df,inf[['founded_year', 'AVE']],how='left', on='founded_year')# AVE is the annual average inflation

In [108]:
cpi=pd.read_csv('./data/cpi.csv')

In [109]:
cpi['founded_year']=cpi['YEAR']

In [110]:
cpi[['founded_year','adj_base2018']].head()

   founded_year  adj_base2018
0        2018.0          1.00
1        2017.0          0.97
2        2016.0          0.95
3        2015.0          0.94
4        2014.0          0.94

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 38 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null int64
founded_quarter          3836 non-null object
founded_year             3836 non-null int64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null float64
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             3836 non-null object
sa_raised_amount_usd     3836 non-null float64
sa_funded_daysop         3836 non-null float64
ag_funded_at             3836 non-null object
ag_raised_amount_usd     3836 non-null float64
ve_funded_at             3836 non-null object
ve_raised_amount_usd     3836 non-null float64
cr_funded_at             3836 non-null object
cr_raised_amount_usd     3836 non-null float64
cr_funded_daysop         3836 non-null float64
ag_funded_daysop         3836 non-null float64
ve_funded_daysop         3836 non-null float64
CA                       3836 non-null int64
NY                       3836 non-null int64
MA                       3836 non-null int64
TX                       3836 non-null int64
WA                       3836 non-null int64
AVE                      3836 non-null float64
dtypes: datetime64[ns](3), float64(10), int64(8), object(15), timedelta64[ns](2)
memory usage: 1.1+ MB

In [112]:
df.columns

Index(['permalink', 'company_name', 'category_code', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter',
       'founded_year', 'first_funding_at', 'last_funding_at',
       'last_milestone_at', 'days_in_op', 'first_funding_dayinop',
       'last_funding_dayinop', 'sa_funded_at', 'sa_raised_amount_usd',
       'sa_funded_daysop', 'ag_funded_at', 'ag_raised_amount_usd',
       've_funded_at', 've_raised_amount_usd', 'cr_funded_at',
       'cr_raised_amount_usd', 'cr_funded_daysop', 'ag_funded_daysop',
       've_funded_daysop', 'CA', 'NY', 'MA', 'TX', 'WA', 'AVE'],
      dtype='object')

In [113]:
df.columns=['permalink', 'company_name', 'category_code', 'funding_total_usd',
       'status', 'country_code', 'state_code', 'region', 'city',
       'funding_rounds', 'founded_at', 'founded_month', 'founded_quarter',
       'founded_year', 'first_funding_at', 'last_funding_at',
       'last_milestone_at', 'days_in_op', 'first_funding_dayinop',
       'last_funding_dayinop', 'sa_funded_at', 'sa_raised_amount_usd',
       'sa_funded_daysop', 'ag_funded_at', 'ag_raised_amount_usd',
       've_funded_at', 've_raised_amount_usd', 'cr_funded_at',
       'cr_raised_amount_usd', 'cr_funded_daysop', 'ag_funded_daysop',
       've_funded_daysop', 'CA', 'NY', 'MA', 'TX', 'WA', 'ave_inf_y']

In [114]:
df=pd.merge(df,cpi[['founded_year','adj_base2018']],how='left', on='founded_year')# CPIt/CPI_2018, CPI consumer price index

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 39 columns):
permalink                3836 non-null object
company_name             3836 non-null object
category_code            3836 non-null object
funding_total_usd        3836 non-null object
status                   3836 non-null object
country_code             3836 non-null object
state_code               3836 non-null object
region                   3836 non-null object
city                     3836 non-null object
funding_rounds           3836 non-null int64
founded_at               3836 non-null datetime64[ns]
founded_month            3836 non-null int64
founded_quarter          3836 non-null object
founded_year             3836 non-null int64
first_funding_at         3836 non-null datetime64[ns]
last_funding_at          3836 non-null datetime64[ns]
last_milestone_at        3836 non-null object
days_in_op               3836 non-null timedelta64[ns]
first_funding_dayinop    3836 non-null float64
last_funding_dayinop     3836 non-null timedelta64[ns]
sa_funded_at             3836 non-null object
sa_raised_amount_usd     3836 non-null float64
sa_funded_daysop         3836 non-null float64
ag_funded_at             3836 non-null object
ag_raised_amount_usd     3836 non-null float64
ve_funded_at             3836 non-null object
ve_raised_amount_usd     3836 non-null float64
cr_funded_at             3836 non-null object
cr_raised_amount_usd     3836 non-null float64
cr_funded_daysop         3836 non-null float64
ag_funded_daysop         3836 non-null float64
ve_funded_daysop         3836 non-null float64
CA                       3836 non-null int64
NY                       3836 non-null int64
MA                       3836 non-null int64
TX                       3836 non-null int64
WA                       3836 non-null int64
ave_inf_y                3836 non-null float64
adj_base2018             3836 non-null float64
dtypes: datetime64[ns](3), float64(11), int64(8), object(15), timedelta64[ns](2)
memory usage: 1.2+ MB

In [116]:
df['sa_raised_amount_usd_adj']=df['sa_raised_amount_usd']*df['adj_base2018']

In [117]:
df['ag_raised_amount_usd_adj']=df['ag_raised_amount_usd']*df['adj_base2018']

In [118]:
df['ve_raised_amount_usd_adj']=df['ve_raised_amount_usd']*df['adj_base2018']

In [119]:
df['cr_raised_amount_usd_adj']=df['cr_raised_amount_usd']*df['adj_base2018']

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3836 entries, 0 to 3835
Data columns (total 43 columns):
permalink                   3836 non-null object
company_name                3836 non-null object
category_code               3836 non-null object
funding_total_usd           3836 non-null object
status                      3836 non-null object
country_code                3836 non-null object
state_code                  3836 non-null object
region                      3836 non-null object
city                        3836 non-null object
funding_rounds              3836 non-null int64
founded_at                  3836 non-null datetime64[ns]
founded_month               3836 non-null int64
founded_quarter             3836 non-null object
founded_year                3836 non-null int64
first_funding_at            3836 non-null datetime64[ns]
last_funding_at             3836 non-null datetime64[ns]
last_milestone_at           3836 non-null object
days_in_op                  3836 non-null timedelta64[ns]
first_funding_dayinop       3836 non-null float64
last_funding_dayinop        3836 non-null timedelta64[ns]
sa_funded_at                3836 non-null object
sa_raised_amount_usd        3836 non-null float64
sa_funded_daysop            3836 non-null float64
ag_funded_at                3836 non-null object
ag_raised_amount_usd        3836 non-null float64
ve_funded_at                3836 non-null object
ve_raised_amount_usd        3836 non-null float64
cr_funded_at                3836 non-null object
cr_raised_amount_usd        3836 non-null float64
cr_funded_daysop            3836 non-null float64
ag_funded_daysop            3836 non-null float64
ve_funded_daysop            3836 non-null float64
CA                          3836 non-null int64
NY                          3836 non-null int64
MA                          3836 non-null int64
TX                          3836 non-null int64
WA                          3836 non-null int64
ave_inf_y                   3836 non-null float64
adj_base2018                3836 non-null float64
sa_raised_amount_usd_adj    3836 non-null float64
ag_raised_amount_usd_adj    3836 non-null float64
ve_raised_amount_usd_adj    3836 non-null float64
cr_raised_amount_usd_adj    3836 non-null float64
dtypes: datetime64[ns](3), float64(15), int64(8), object(15), timedelta64[ns](2)
memory usage: 1.3+ MB

In [121]:
df.to_csv('./data/start-up_mod.csv')

In [122]:
!pwd

/Users/carolina/start-up-classification

In [127]:
!ls /Users/carolina/start-up-classification/data

CPI.csv                     crunchbase-rounds.csv
crunchbase-acquisitions.csv inflation.csv
crunchbase-companies.csv    start-up_mod.csv
crunchbase-investments.csv